Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Apply suggestions from code review
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Fixed: Map SwissGerman to German (#11068)
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Organizer, Area: Parser

New: Include year in interactive searches title
  frontend/src/Movie/Details/MovieDetails.tsx
  frontend/src/Movie/MovieSearchCell.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
Labels: Area: UI

New: Include movie poster for Apprise
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Apprise/ApprisePayload.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
Labels: Area: Notifications

Fixed: Upgrade notification title for Apprise
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
Labels: Area: Notifications

New: Deprecate use of movie file tokens in Movie Folder Format
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/NamingConfigRepository.cs
Labels: Area: Organizer, Area: UI

New: Deprecate use of movie file tokens in Movie Folder Format
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/NamingConfigRepository.cs
Labels: Area: Organizer, Area: UI

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Build against v6-develop
  azure-pipelines.yml
Labels: none

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

v4 API docs
  azure-pipelines.yml
  docs.sh
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Radarr.Api.V3/openapi.json
  src/Radarr.Api.V4/openapi.json
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.Http/VersionedFeedControllerAttribute.cs
Labels: Area: API

Add v4 API
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Radarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V4/Movies/AlternativeTitleResource.cs
  src/Radarr.Api.V4/Movies/MovieCollectionResource.cs
  src/Radarr.Api.V4/Movies/MovieController.cs
  src/Radarr.Api.V4/Movies/MovieControllerWithSignalR.cs
  src/Radarr.Api.V4/Movies/MovieFolderAsRootFolderValidator.cs
  src/Radarr.Api.V4/Movies/MovieFolderController.cs
  src/Radarr.Api.V4/Movies/MovieLookupController.cs
  src/Radarr.Api.V4/Movies/MovieResource.cs
  src/Radarr.Api.V4/Movies/MovieStatisticsResource.cs
  src/Radarr.Api.V4/Radarr.Api.V4.csproj
  src/Radarr.Http/ApiInfoController.cs
  src/Radarr.Http/REST/RestController.cs
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.sln
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Bump Swashbuckle to 8.1.1
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: Area: API, Area: UI

New: Validation for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Fixed: Removed support for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

add mongolian language support
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Update IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
Labels: none

Update src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Update src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

add alternative mongolian languages (dialects) and removed trailing spaces
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Organizer, Area: Parser

fix trailing space
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
Labels: none

Bump core-js to 3.42
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: Area: UI

Bump babel, fontawesome icons, fuse.js, react-lazyload, react-use-measure and react-window
  package.json
  yarn.lock
Labels: Area: UI

Bump react-virtualized to 9.22.6
  frontend/src/Components/Table/VirtualTable.tsx
  package.json
  yarn.lock
Labels: Area: UI

Bump @babel/runtime
  yarn.lock
Labels: Area: UI

Fixed: (PTP) Download torrent files with API credentials
  src/NzbDrone.Core.Test/IndexerTests/PTPTests/PTPFixture.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcorn.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornApi.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Fixed: Loading suggestions for header search input
  frontend/src/Components/Form/Tag/TagInput.tsx
  frontend/src/Components/Page/Header/MovieSearchInput.tsx
  frontend/src/Helpers/Hooks/useDebouncedCallback.tsx
  package.json
  yarn.lock
Labels: Area: UI

Remove console statement
  frontend/src/Components/Page/Header/MovieSearchInput.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

fix typo
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Convert Cutoff Unmet to TypeScript
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/WantedAppState.ts
  frontend/src/Movie/MovieSearchCell.tsx
  frontend/src/Utilities/Filter/getFilterValue.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.tsx
Labels: Area: UI

Convert Missing to TypeScript
  frontend/src/App/AppRoutes.tsx
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/Missing.tsx
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.js
  frontend/src/Wanted/Missing/MissingRow.tsx
Labels: Area: UI

Remove create_test_cases.py
  create_test_cases.py
Labels: none

Bump version to 5.24.0
  azure-pipelines.yml
Labels: none

Downgrade dotnet to 6.0.32
  azure-pipelines.yml
Labels: none

Fixed: Autotag filters not working for 'On Movie Added' Events (10861)
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none
