Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

fix: resolve thread safety issues in ConfigService cache (#98)
  src/NzbDrone.Core/Configuration/ConfigService.cs
Labels: none

fix: add empty catch comment and SingleOrDefault safety (#99)
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
  src/Radarr.Http/Frontend/Mappers/CacheBreakerProvider.cs
Labels: Area: Indexer

fix: add null safety to QualityProfile First/Last methods (#100)
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
Labels: none

fix: avoid redundant First() calls in BasicRepository (#101)
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

fix(security): prevent path traversal and command injection (#102)
  src/NzbDrone.Common/ServiceProvider.cs
  src/Radarr.Http/Frontend/Mappers/BackupFileMapper.cs
Labels: none

fix(frontend): use ref to avoid stale movies closure in search (#103)
  frontend/src/Components/Page/Header/MovieSearchInput.tsx
Labels: Area: UI

fix(deps): remove obsolete System.Private.Uri package (#104)
  src/NzbDrone.Common/Radarr.Common.csproj
Labels: none

fix(ci): make test failures block builds (#105)
  .github/workflows/build.yml
Labels: none

refactor(api): use async/await in MovieController.AllMovie (#107)
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

fix: add readonly modifier to static regex field (#106)
  src/NzbDrone.Core/Profiles/Releases/PerlRegexFactory.cs
Labels: none

refactor: reduce cognitive complexity in FileNameBuilder.GetLanguagesToken (#108)
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

[WIP] Fix open issues after research and analysis (#110)
  .secretlintrc.json
  CONTRIBUTING.md
  README.md
  package.json
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/NzbDrone.Core/Localization/Core/en.json
  yarn.lock
Labels: Area: UI

Extract common notification provider helpers to reduce duplication (#111)
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/NotificationHelpers.cs
  src/NzbDrone.Core/Notifications/Ntfy/Ntfy.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/Pushsafer/Pushsafer.cs
  src/NzbDrone.Core/Notifications/Signal/Signal.cs
  src/NzbDrone.Core/Notifications/Simplepush/Simplepush.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: Area: Notifications

Standardize API response codes: PUT returns 200, DELETE returns 204 (#112)
  src/Radarr.Api.V3/AutoTagging/AutoTaggingController.cs
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
  src/Radarr.Api.V3/CustomFilters/CustomFilterController.cs
  src/Radarr.Api.V3/CustomFormats/CustomFormatController.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
  src/Radarr.Api.V3/Movies/MovieEditorController.cs
  src/Radarr.Api.V3/ProviderControllerBase.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
  src/Radarr.Api.V3/RootFolders/RootFolderController.cs
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

docs: Update Radarr references to Aletheia and document test suite status (#113)
  docs/documentation-cleanup-summary.md
  docs/test-status.md
  package.json
  research/CLEANUP_CANDIDATES.md
  src/NzbDrone.Common/EnvironmentInfo/RuntimeInfo.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Nzbget/NzbgetProxy.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/NzbDrone.Core/Notifications/Join/JoinProxy.cs
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrProxy.cs
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Host/UtilityModeRouter.cs
Labels: Area: Download Clients, Area: Indexer, Area: Notifications, Area: UI

[WIP] Fix issues introduced by recent merges (#114)
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Config/ConfigController.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Api.V3/Config/NamingConfigController.cs
  src/Radarr.Api.V3/Config/UiConfigController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
  src/Radarr.Api.V3/Profiles/Delay/DelayProfileController.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionController.cs
Labels: Area: API

fix: resolve build errors from Copilot API response code changes (#115)
  package-lock.json
  src/NzbDrone.Core/Notifications/NotificationHelpers.cs
  src/Radarr.Api.V3/AutoTagging/AutoTaggingController.cs
  src/Radarr.Api.V3/CustomFormats/CustomFormatController.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
  src/Radarr.Api.V3/ProviderControllerBase.cs
  yarn.lock
Labels: Area: API, Area: Notifications, Area: UI

feat(db): add MediaType discriminator to Movies table (#116)
  src/NzbDrone.Core/Datastore/Migration/244_add_mediatype_to_movies.cs
  src/NzbDrone.Core/Movies/Movie.cs
Labels: Area: Db-migration

refactor(core): create MediaItem abstract base class (#117)
  src/NzbDrone.Core/MediaItems/MediaItem.cs
  src/NzbDrone.Core/Movies/Movie.cs
Labels: none

feat(core): add Author and Series entities for hierarchical monitoring (#118)
  src/NzbDrone.Core/Authors/Author.cs
  src/NzbDrone.Core/Datastore/Migration/245_add_author_series_tables.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/MediaItems/MediaItem.cs
  src/NzbDrone.Core/Series/Series.cs
Labels: Area: Db-migration

feat(core): add generic IProvideMediaInfo interface (#119)
  src/NzbDrone.Core/MetadataSource/IProvideMediaInfo.cs
Labels: none

feat(qualities): add book and audiobook quality definitions (#120)
  src/NzbDrone.Core/Qualities/Quality.cs
  src/NzbDrone.Core/Qualities/QualitySource.cs
Labels: none

feat(ui): add Books and Audiobooks navigation sections (#121)
  frontend/src/App/AppRoutes.tsx
  frontend/src/Audiobook/Index/AudiobookIndex.tsx
  frontend/src/Book/Index/BookIndex.tsx
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
  frontend/src/Helpers/Props/icons.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

feat(database): add Book and Audiobook entities (#122)
  src/NzbDrone.Core/Audiobooks/Audiobook.cs
  src/NzbDrone.Core/Books/Book.cs
  src/NzbDrone.Core/Datastore/Migration/246_add_books_audiobooks_tables.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
Labels: Area: Db-migration

fix(core): code quality improvements (#123)
  src/NzbDrone.Core/Datastore/Migration/170_fix_trakt_list_config.cs
  src/NzbDrone.Core/Profiles/Delay/DelayProfileService.cs
Labels: Area: Db-migration

feat(core): add Book and Audiobook repositories, services, and API controllers (#124)
  src/NzbDrone.Core/Audiobooks/AudiobookRepository.cs
  src/NzbDrone.Core/Audiobooks/AudiobookService.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobookAddedEvent.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobookDeletedEvent.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobookEditedEvent.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobooksBulkEditedEvent.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobooksDeletedEvent.cs
  src/NzbDrone.Core/Audiobooks/Events/AudiobooksImportedEvent.cs
  src/NzbDrone.Core/Books/BookRepository.cs
  src/NzbDrone.Core/Books/BookService.cs
  src/NzbDrone.Core/Books/Events/BookAddedEvent.cs
  src/NzbDrone.Core/Books/Events/BookDeletedEvent.cs
  src/NzbDrone.Core/Books/Events/BookEditedEvent.cs
  src/NzbDrone.Core/Books/Events/BooksBulkEditedEvent.cs
  src/NzbDrone.Core/Books/Events/BooksDeletedEvent.cs
  src/NzbDrone.Core/Books/Events/BooksImportedEvent.cs
  src/Radarr.Api.V3/Audiobooks/AudiobookController.cs
  src/Radarr.Api.V3/Audiobooks/AudiobookResource.cs
  src/Radarr.Api.V3/Books/BookController.cs
  src/Radarr.Api.V3/Books/BookResource.cs
Labels: Area: API
