Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Correctly handle {Original Title} naming format
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/OriginalTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Fixed: Allow Discover Exclusions of Movies without Year (Year 0)
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: Area: API

release name to release title
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Fixed: Allow Discover Exclusions of Movies without Year (Year 0)
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: Area: API

New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: Area: UI

Don't associate MovieImage extras with the movie file, to survive upgrade (#4650)
  frontend/src/MovieFile/Extras/ExtraFileTableContentConnector.js
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Xbmc/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Datastore/Migration/243_set_metadata_images_to_null_move_file_id.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/ExistingMetadataImporter.cs
Labels: Area: Db-migration, Area: Metadata, Area: UI

Fix lint issue but running `yarn lint`
  frontend/src/MovieFile/Extras/ExtraFileTableContentConnector.js
Labels: Area: UI

Fixed: xvid not always detected correctly (#11138)
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Don't log debug messages for API key validation
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Return error if Manual Import called without items
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: Area: UI

New: Improve Reject for Unknown Movie Messaging (#11063)
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Bump version to 5.27.2
  azure-pipelines.yml
Labels: none

feat: searchForMovieDefaultOverride setting
  frontend/src/AddMovie/AddNewMovie/AddNewMovieModalContentConnector.js
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  frontend/src/Store/Actions/Settings/mediaManagement.js
  frontend/src/typings/Settings/MediaManagement.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Return error if Manual Import called without items
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
Labels: Area: API

Improvement: Pushcut notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
Labels: Area: Notifications

chore: disable biome in VSCode settings
  frontend/.vscode/settings.json
Labels: Area: UI

Fixed: Parse HDDVDRip as BluRay
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

New:(Pushcut) Improved Notification Details (#10897)
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
Labels: Area: Notifications

Bump version to 5.27.3
  azure-pipelines.yml
Labels: none

Fixed: Prevent using Original names with other movie file tokens
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

fixup!
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Fixed pascal casing and fixed class name
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
Labels: Area: Download Clients

fixed casing on filename
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
Labels: Area: Download Clients

Initial RQBit support added
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitFile.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettingsValidator.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/PostTorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentFileResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListingResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentStatus.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQbitSettings.cs
Labels: Area: Download Clients

fixed git case sensitivity
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
Labels: Area: Download Clients

FIxed pascal casing added path from new datapoint in a TorrentResponse
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/PostTorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentFileResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListingResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQbitSettings.cs
Labels: Area: Download Clients

Update RQbitPRoxy to use new stats api
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentWithStatsResponse.cs
Labels: Area: Download Clients

Add RQBit translation keys
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Add proxy selector
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxySelector.cs
Labels: Area: Download Clients

Fix minor style issues
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxySelector.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettingsValidator.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentStatus.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentWithStatsResponse.cs
Labels: Area: Download Clients

Add test fixture
  src/NzbDrone.Core.Test/Download/DownloadClientTests/RQBitTests/RQBitFixture.cs
Labels: none

fixup!
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Fixed: Prevent using Original names with other movie file tokens (#11175)
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Support multiple tokens without breaking re-import/renames Radarr: #11174, relevant comment from Sonarr: https://github.com/Sonarr/Sonarr/pull/7982#issuecomment-3118258372
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Update RQbitPRoxy to use new stats api
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentWithStatsResponse.cs
Labels: Area: Download Clients

Add RQBit translation keys
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Add proxy selector
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxySelector.cs
Labels: Area: Download Clients

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
