Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Bump Selenium.WebDriver.ChromeDriver
  src/NzbDrone.Automation.Test/Radarr.Automation.Test.csproj
Labels: none

Fixed: Sending Manual Interaction Needed for Custom Script with unparsed movie
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
Labels: Area: Notifications

Bump IPAddressRange, System.Memory and System.ValueTuple
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

bugFix: correct setState sliderMiSize to sliderMinSize QualityDefinition.js
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
Labels: Area: UI

Fixed: Updating minimum size on sliding quality size limits
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
Labels: Area: UI

feat(api): Add customFormatIds to movie endpoint
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Deprecate MovieFile on movies endpoints
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

New: Default Quality Profile Wanted Language is now Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Fixed: Improve times for refreshing movies
  src/NzbDrone.Core.Test/MovieTests/AlternativeTitleServiceTests/AlternativeTitleServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/CreditTests/CreditServiceFixture.cs
  src/NzbDrone.Core/Datastore/ModelBase.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitle.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleRepository.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Credits/Credit.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/MovieMetadataRepository.cs
  src/NzbDrone.Core/Movies/Ratings.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslation.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
Labels: none

Fixed: Improve times for refreshing movies
  src/NzbDrone.Core.Test/MovieTests/AlternativeTitleServiceTests/AlternativeTitleServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/CreditTests/CreditServiceFixture.cs
  src/NzbDrone.Core/Datastore/ModelBase.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitle.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleRepository.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Credits/Credit.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/MovieMetadataRepository.cs
  src/NzbDrone.Core/Movies/Ratings.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslation.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
Labels: none

Eager load metadata for movies
  src/NzbDrone.Core/ImportLists/ImportListMovies/ImportListMovieRepository.cs
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: Area: Import Lists

Ignore version check on non-Sqlite platforms for recommendations
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: none

Eager load metadata for movies
  src/NzbDrone.Core/ImportLists/ImportListMovies/ImportListMovieRepository.cs
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: Area: Import Lists

Ignore version check on non-Sqlite platforms for recommendations
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: none

Bump version to 5.22.3
  azure-pipelines.yml
Labels: none

Fixed: Parse JAP instead of JPN as Japanese
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Parse JAP instead of JPN as Japanese
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Closing on click outside select input and styling on Library Import
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: Area: UI

Fix: Adding a new root folder from add movie modal
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
Labels: Area: UI

Fixed: Truncate long text in tag values
  frontend/src/Components/MiddleTruncate.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
Labels: Area: UI

Fix editing import lists
  frontend/src/Movie/Details/MovieDetails.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContentConnector.js
Labels: Area: UI

Fixed: Tooltips for detailed error messages
  frontend/src/Components/Form/FormInputGroup.tsx
Labels: Area: UI

Convert ProviderFieldFormGroup to TypeScript
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Movie/Index/Select/Delete/DeleteMovieModalContent.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableOptions.tsx
Labels: Area: UI

Fixed: Free space and missing for selected root folder value
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputOption.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css.d.ts
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: Area: UI

Add React Query
  frontend/src/App/App.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/typings/Globals.d.ts
  package.json
  yarn.lock
Labels: Area: UI

New: Ability to change root folder when editing movie
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Form/PathInput.css
  frontend/src/Components/Form/PathInput.css.d.ts
  frontend/src/Components/Form/PathInput.tsx
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Movie/Edit/EditMovieModalContent.tsx
  frontend/src/Movie/Edit/RootFolder/RootFolderModal.tsx
  frontend/src/Movie/Edit/RootFolder/RootFolderModalContent.tsx
  frontend/src/Movie/Index/Select/Edit/EditMoviesModalContent.tsx
  frontend/src/Movie/Movie.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/Radarr.Api.V3/Movies/MovieFolderController.cs
Labels: Area: API, Area: UI

Convert ProviderFieldFormGroup to TypeScript
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Components/Form/ProviderFieldFormGroup.tsx
  frontend/src/InteractiveImport/Quality/SelectQualityModalContent.tsx
  frontend/src/Movie/Index/Select/Delete/DeleteMovieModalContent.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableOptions.tsx
Labels: Area: UI

Fixed: Closing on click outside select input and styling on Library Import
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.css
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
Labels: Area: UI

Fixed: Tooltips for detailed error messages
  frontend/src/Components/Form/FormInputGroup.tsx
Labels: Area: UI

Fix: Adding a new root folder from add movie modal
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
Labels: Area: UI

Add React Query
  frontend/src/App/App.tsx
  frontend/src/Helpers/Hooks/useApiQuery.ts
  frontend/typings/Globals.d.ts
  package.json
  yarn.lock
Labels: Area: UI

New: Ability to change root folder when editing movie
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Form/PathInput.css
  frontend/src/Components/Form/PathInput.css.d.ts
  frontend/src/Components/Form/PathInput.tsx
  frontend/src/Helpers/Props/icons.ts
  frontend/src/Movie/Edit/EditMovieModalContent.tsx
  frontend/src/Movie/Edit/RootFolder/RootFolderModal.tsx
  frontend/src/Movie/Edit/RootFolder/RootFolderModalContent.tsx
  frontend/src/Movie/Index/Select/Edit/EditMoviesModalContent.tsx
  frontend/src/Movie/Movie.ts
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/Radarr.Api.V3/Movies/MovieFolderController.cs
Labels: Area: API, Area: UI

Fixed: Free space and missing for selected root folder value
  frontend/src/Components/Form/Select/RootFolderSelectInput.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputOption.tsx
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.css.d.ts
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: Area: UI

Fix editing import lists
  frontend/src/Movie/Details/MovieDetails.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContentConnector.js
Labels: Area: UI

Fixed: Truncate long text in tag values
  frontend/src/Components/MiddleTruncate.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileItem.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fix various typos
  frontend/src/Collection/CollectionItemConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieItemConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.ts
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Datastore/ExpressionVisitor.cs
  src/NzbDrone.Core/Datastore/Migration/121_update_filedate_config.cs
  src/NzbDrone.Core/Datastore/Migration/177_language_improvements.cs
  src/NzbDrone.Core/Datastore/Migration/180_fix_invalid_profile_references.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/Responses/FreeboxDownloadTask.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/MovieResource.cs
  src/NzbDrone.Core/Qualities/QualityFinder.cs
Labels: Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fix various typos
  frontend/src/Collection/CollectionItemConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieItemConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfileItem.css
  frontend/src/Settings/Profiles/Quality/QualityProfileItemGroup.css
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createCommandExecutingSelector.ts
  frontend/src/Store/Selectors/createCommandSelector.ts
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Datastore/ExpressionVisitor.cs
  src/NzbDrone.Core/Datastore/Migration/121_update_filedate_config.cs
  src/NzbDrone.Core/Datastore/Migration/177_language_improvements.cs
  src/NzbDrone.Core/Datastore/Migration/180_fix_invalid_profile_references.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/Responses/FreeboxDownloadTask.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/HealthCheck/Checks/RemotePathMappingCheck.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/MovieResource.cs
  src/NzbDrone.Core/Qualities/QualityFinder.cs
Labels: Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
