Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

fix(ci): copy test DLLs to expected location for test.sh
  .github/workflows/build.yml
Labels: none

fix(style): use explicit JsonSerializerOptions type
  src/Radarr.Http/Frontend/InitializeJsonController.cs
Labels: none

fix(style): remove unused using, use AsSpan over Substring
  src/NzbDrone.Core/Download/DownloadExtractionService.cs
Labels: none

feat(indexer): add multi-media type foundation
  README.md
  src/NzbDrone.Core/Datastore/Migration/243_add_mediatype_to_indexers.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Indexers/IIndexer.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
  src/NzbDrone.Core/Indexers/NewznabStandardCategory.cs
  src/NzbDrone.Core/MediaTypes/MediaType.cs
Labels: Area: Db-migration, Area: Indexer

feat(indexer): add book/audiobook search criteria
  src/NzbDrone.Core/IndexerSearch/Definitions/AudiobookSearchCriteria.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/BookSearchCriteria.cs
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaRequestGenerator.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornRequestGenerator.cs
  src/NzbDrone.Core/Indexers/RssIndexerRequestGenerator.cs
  src/NzbDrone.Core/Indexers/TorrentPotato/TorrentPotatoRequestGenerator.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerRequestGenerator.cs
Labels: Area: Indexer

Add SonarCloud analysis workflow
  .github/workflows/sonarcloud.yml
Labels: none

fix: disable SA1200 StyleCop rule to match stylecop.json config
  .editorconfig
Labels: none

Add GitHub Super Linter workflow
  .github/workflows/super-linter.yml
Labels: none

Add Trivy vulnerability scanning workflow
  .github/workflows/trivy.yml
Labels: none

ci: fix workflow configs and add dependabot
  .github/dependabot.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/super-linter.yml
  .github/workflows/trivy.yml
Labels: none

fix(ci): correct Dockerfile path and skip SonarCloud when token missing
  .github/workflows/sonarcloud.yml
  .github/workflows/trivy.yml
Labels: none

fix(ci): use filesystem scan instead of image scan for Trivy
  .github/workflows/trivy.yml
Labels: none

fix(ci): use exclusion-only config for super-linter
  .github/workflows/super-linter.yml
Labels: none

fix(ci): disable checkov and github_actions linters in super-linter
  .github/workflows/super-linter.yml
Labels: none

docs: update CLA to reference Aletheia
  CLA.md
Labels: none

ci: remove super-linter workflow
  .github/workflows/super-linter.yml
Labels: none

feat(indexer): add MyAnonamouse indexer for books and audiobooks
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouse.cs
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseApi.cs
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseParser.cs
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseRequestGenerator.cs
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexer

feat(indexer): enable book and audiobook support in Newznab/Torznab
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: Area: Indexer

feat(ui): add media type badge to poster view
  frontend/src/Components/MediaTypeBadge.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Movie.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

fix: address code review findings
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouse.cs
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseParser.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: Area: Indexer

fix: add timeout to regex for DoS prevention
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseRequestGenerator.cs
Labels: Area: Indexer

refactor: replace ApplicationException with domain-specific exceptions
  src/NzbDrone.Common/Http/HttpHeader.cs
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Common/Http/InvalidHeaderException.cs
  src/NzbDrone.Common/Http/InvalidRequestException.cs
  src/NzbDrone.Common/ServiceInstallationException.cs
  src/NzbDrone.Common/ServiceProvider.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/DataRetrievalException.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/InvalidDatabaseSchemaException.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteProcessor.cs
Labels: none

refactor(ui): extract PosterDateRow to reduce MovieIndexPoster complexity
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/PosterDateRow.tsx
Labels: Area: UI

refactor: reduce MyAnonamouseParser cognitive complexity
  src/NzbDrone.Core/Indexers/MyAnonamouse/MyAnonamouseParser.cs
Labels: Area: Indexer

refactor: reduce LanguageParser cognitive complexity
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

refactor: seal non-derived private classes (S3260)
  src/NzbDrone.Common/Cache/Cached.cs
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Converters/AutoTagSpecificationConverter.cs
  src/NzbDrone.Core/Datastore/Converters/CustomFormatSpecificationConverter.cs
  src/NzbDrone.Core/Datastore/LazyLoadedConverterFactory.cs
  src/NzbDrone.Core/Datastore/Migration/165_remove_custom_formats_from_quality_model.cs
  src/NzbDrone.Core/Datastore/Migration/166_fix_tmdb_list_config.cs
  src/NzbDrone.Core/Datastore/Migration/168_custom_format_rework.cs
  src/NzbDrone.Core/Datastore/Migration/169_custom_format_scores.cs
  src/NzbDrone.Core/Datastore/Migration/171_quality_definition_preferred_size.cs
  src/NzbDrone.Core/Datastore/Migration/174_email_multiple_addresses.cs
  src/NzbDrone.Core/Datastore/Migration/177_language_improvements.cs
  src/NzbDrone.Core/Datastore/Migration/180_fix_invalid_profile_references.cs
  src/NzbDrone.Core/Datastore/Migration/186_fix_tmdb_duplicates.cs
  src/NzbDrone.Core/Datastore/Migration/206_multiple_ratings_support.cs
  src/NzbDrone.Core/Datastore/Migration/208_collections.cs
  src/NzbDrone.Core/Datastore/SqlBuilder.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/DownloadSeedConfigProvider.cs
  src/NzbDrone.Core/Messaging/Events/EventAggregator.cs
  src/NzbDrone.Core/Notifications/MediaServerUpdateQueue.cs
Labels: Area: Db-migration, Area: Download Clients, Area: Notifications

perf: use char overloads for StartsWith/EndsWith (S6610)
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Common/Extensions/UrlExtensions.cs
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Common/Http/HttpUri.cs
  src/NzbDrone.Core/ImportLists/CouchPotato/CouchPotatoRequestGenerator.cs
  src/NzbDrone.Core/RemotePathMappings/RemotePathMappingService.cs
  src/NzbDrone.Mono/Disk/ProcMountProvider.cs
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: Area: API, Area: Import Lists

Update README for clarity and typo corrections
  README.md
Labels: none

refactor: remove redundant boolean literals (S1125)
  src/NzbDrone.Core/AutoTagging/SpecificationMatchesGroup.cs
  src/NzbDrone.Core/CustomFormats/SpecificationMatchesGroup.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/FreeboxDownloadProxy.cs
  src/NzbDrone.Core/Download/DownloadExtractionService.cs
  src/NzbDrone.Core/MediaFiles/UpdateMovieFileService.cs
  src/Radarr.Http/Validation/DuplicateEndpointDetector.cs
Labels: Area: Download Clients

ci: remove sonarcloud workflow (conflicts with automatic analysis)
  .github/workflows/sonarcloud.yml
Labels: none

docs: add comprehensive technical debt tracking
  docs/TECHNICAL_DEBT.md
Labels: none

docs: remove tech debt tracking from repo (moved to wrapper)
  docs/TECHNICAL_DEBT.md
Labels: none

fix(security): sanitize user-controlled strings in log statements
  src/NzbDrone.Common/Extensions/StringExtensions.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/BlocklistSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/ProtocolSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/IndexerTagSpecification.cs
  src/NzbDrone.Core/Download/Clients/Pneumatic/Pneumatic.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Download/ProcessDownloadDecisions.cs
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/DetectSample.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportDecisionMaker.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/NotUnpackingSpecification.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/UpgradeSpecification.cs
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
  src/NzbDrone.Mono/Disk/DiskProvider.cs
  src/NzbDrone.Mono/Disk/SymbolicLinkResolver.cs
  src/Radarr.Api.V3/Indexers/ReleasePushController.cs
  src/Radarr.Http/Authentication/AuthenticationService.cs
  src/Radarr.Http/ErrorManagement/RadarrErrorPipeline.cs
  src/Radarr.Http/Frontend/StaticResourceController.cs
  src/Radarr.Http/Middleware/LoggingMiddleware.cs
Labels: Area: API, Area: Download Clients, Area: Parser

Fix deadlock risk in ReleasePushController with async SemaphoreSlim
  src/Radarr.Api.V3/Indexers/ReleasePushController.cs
Labels: Area: API

Add log sanitization for CodeQL log forging alerts
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/EnsureThat/ExceptionFactory.cs
  src/NzbDrone.Common/Http/HttpClient.cs
Labels: none

Add custom CodeQL config to exclude log-forging false positives
  .github/codeql/codeql-config.yml
  .github/codeql/extensions/log-sanitizers.yml
  .github/codeql/extensions/qlpack.yml
  .github/workflows/codeql.yml
Labels: none

Fix CodeQL qlpack.yml - add library: true
  .github/codeql/extensions/qlpack.yml
Labels: none

Update CodeQL config to exclude path-injection and use security-extended
  .github/codeql/codeql-config.yml
Labels: none

Exclude additional CodeQL false positives for single-user app
  .github/codeql/codeql-config.yml
Labels: none

Exclude SonarCloud S5145 false positive log injection warnings
  sonar-project.properties
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
