Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Wrap specifications in Custom Format and Auto Tagging modals
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
Labels: Area: UI

fixup! Fixed: Assume category path from qBittorent starting with '//' is a Windows UNC path
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

New: Add a few spanish release groups to exceptions (#10120)
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Add option to show tags on movies Poster and Overview
  frontend/src/App/State/MoviesAppState.ts
  frontend/src/Movie/Index/Overview/MovieIndexOverview.css
  frontend/src/Movie/Index/Overview/MovieIndexOverview.css.d.ts
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Overview/Options/MovieIndexOverviewOptionsModalContent.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.css
  frontend/src/Movie/Index/Posters/MovieIndexPoster.css.d.ts
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Posters/Options/MovieIndexPosterOptionsModalContent.tsx
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Sort by tags on movie index
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.css
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.css.d.ts
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
Labels: Area: UI

New: Use natural sorting for lists of items in the UI
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/FilterBuilderRowValueConnector.js
  frontend/src/Components/Filter/Builder/MovieFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/IndexerSelectInputConnector.js
  frontend/src/Components/Form/QualityProfileSelectInputConnector.js
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/TagList.js
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
  frontend/src/Movie/Details/MovieTagsConnector.js
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormatsConnector.js
  frontend/src/Settings/DownloadClients/DownloadClients/DownloadClientsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/Indexers/Indexers/IndexersConnector.js
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
  frontend/src/Settings/Notifications/Notifications/NotificationsConnector.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  frontend/src/Settings/Profiles/Quality/QualityProfilesConnector.js
  frontend/src/Settings/Tags/AutoTagging/AutoTaggings.js
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieCollectionActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  frontend/src/Store/Actions/releaseActions.js
  frontend/src/Store/Selectors/createEnabledDownloadClientsSelector.ts
  frontend/src/Store/Selectors/createRootFoldersSelector.ts
  frontend/src/Store/Selectors/createSortedSectionSelector.ts
  frontend/src/System/Tasks/Queued/QueuedTaskRowNameCell.tsx
  frontend/src/Utilities/Array/sortByName.js
  frontend/src/Utilities/Array/sortByProp.ts
  frontend/src/typings/Helpers/KeysMatching.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fix custom formats sorting for quality profiles
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
Labels: Area: UI

New: Show update settings on all platforms
  frontend/src/Settings/General/UpdateSettings.js
  src/NzbDrone.Core.Test/HealthCheck/Checks/UpdateCheckFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Update/InstallUpdateService.cs
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Bump dotnet to 6.0.32
  azure-pipelines.yml
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Integration.Test/Radarr.Integration.Test.csproj
Labels: none

New: Bump dotnet to 6.0.32
  azure-pipelines.yml
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Integration.Test/Radarr.Integration.Test.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump version to 5.9.0
  azure-pipelines.yml
Labels: none

Remove SQLite specific schema condition from migrations
  src/NzbDrone.Core/Datastore/Migration/123_create_netimport_table.cs
  src/NzbDrone.Core/Datastore/Migration/133_add_minimumavailability.cs
  src/NzbDrone.Core/Datastore/Migration/137_add_import_exclusions_table.cs
  src/NzbDrone.Core/Datastore/Migration/140_add_alternative_titles_table.cs
Labels: Area: Db-migration

Fix table name for Alternative Titles migrations
  src/NzbDrone.Core/Datastore/Migration/140_add_alternative_titles_table.cs
Labels: Area: Db-migration

Fix table name for Alternative Titles migrations
  src/NzbDrone.Core/Datastore/Migration/140_add_alternative_titles_table.cs
Labels: Area: Db-migration

Remove SQLite specific schema condition from migrations
  src/NzbDrone.Core/Datastore/Migration/123_create_netimport_table.cs
  src/NzbDrone.Core/Datastore/Migration/133_add_minimumavailability.cs
  src/NzbDrone.Core/Datastore/Migration/137_add_import_exclusions_table.cs
  src/NzbDrone.Core/Datastore/Migration/140_add_alternative_titles_table.cs
Labels: Area: Db-migration

Bump FluentMigrator to 5.2.0
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Datastore/Migration/137_add_import_exclusions_table.cs
  src/NzbDrone.Core/Datastore/Migration/162_fix_profile_format_default.cs
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Host/Radarr.Host.csproj
Labels: Area: Db-migration

New: Update matching movie path in Jellyfin/Emby library
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserItems.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserService.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: Area: Notifications

Improve sorting and filtering in Select Movie Modal
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
Labels: Area: UI

Fixed: Show root folder when path is not available yet on imports
  src/NzbDrone.Core/Movies/AddMovieService.cs
Labels: none

Original Language filter optional for TMDb Popular lists
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbFilterSettings.cs
Labels: Area: Import Lists

Fixed: Improve filtering performance in Select Movie Modal
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
Labels: Area: UI

New: Ignore Litestream tables in Database
  src/NzbDrone.Core/Datastore/Migration/Framework/SqliteSchemaDumper.cs
Labels: none

New: Ignore Litestream tables in Database
  src/NzbDrone.Core/Datastore/Migration/Framework/SqliteSchemaDumper.cs
Labels: none

Treat forcedMetaDL from qBit as queued instead of downloading
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

Treat forcedMetaDL from qBit as queued instead of downloading
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

chore: fix some comments
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunProxy.cs
  src/Radarr.Api.V3/ProviderResource.cs
Labels: Area: API, Area: Download Clients, Area: Notifications

New: Display original language on movie details and search results page
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.css
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.css.d.ts
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Movie/Details/MovieDetails.css
  frontend/src/Movie/Details/MovieDetails.css.d.ts
  frontend/src/Movie/Details/MovieDetails.js
Labels: Area: UI

Fixed: Don't treat SubFrench as French audio language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Fixed: Remove apostrophe, backtick in contractions
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Bump ImageSharp to 3.1.5
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Improve messaging for renamed movie files progress info
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
Labels: none

Improve TMDb List debugging
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
Labels: Area: Import Lists

Fixed: Pagination for TMDb lists containing a mix of media types
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListImport.cs
Labels: Area: Import Lists

Fix height of tags in tag inputs
  frontend/src/Components/Form/TagInputTag.css
Labels: Area: UI

Don't hash files in development builds
  frontend/build/webpack.config.js
Labels: Area: UI

Fixed: Interactive Import dropdown width on mobile
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
Labels: Area: UI
