Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

update frontend to include new checkbox
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/typings/ImportListOptionsSettings.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

update API to accept new property
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
Labels: Area: API

change ui text
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

update log message
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

fix linter errors
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
Labels: Area: UI

Suggest adding IP to RPC whitelist for on failed Transmission auth
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: Area: Download Clients

New: Add Marathi language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Suggest adding IP to RPC whitelist for on failed Transmission auth
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
Labels: Area: Download Clients

Check if backup folder is writable on backup
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Core/Backup/BackupService.cs
Labels: none

Fixed: Sending Manual Interaction Required notifications to Discord for unknown movies
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

New: Add Marathi language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

New: Add Tagalog language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

New: Add Tagalog language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Increase rate limit for PassThePopcorn
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcorn.cs
Labels: Area: Indexer

Fixed: qBittorrent Ratio Limit Check
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

Fixed: Listening on all IPv4 Addresses
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
Labels: Area: API

Bump version to 5.18.0
  azure-pipelines.yml
Labels: none

Fixed: qBittorrent Ratio Limit Check
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

Fixed: Listening on all IPv4 Addresses
  src/NzbDrone.Core/Validation/IpValidation.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
Labels: Area: API

Translate backend: Autotagging + CF specs
  src/NzbDrone.Core/AutoTagging/Specifications/GenreSpecification.cs
  src/NzbDrone.Core/AutoTagging/Specifications/OriginalLanguageSpecification.cs
  src/NzbDrone.Core/AutoTagging/Specifications/QualityProfileSpecification.cs
  src/NzbDrone.Core/AutoTagging/Specifications/RootFolderSpecification.cs
  src/NzbDrone.Core/AutoTagging/Specifications/RuntimeSpecification.cs
  src/NzbDrone.Core/AutoTagging/Specifications/YearSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/QualityModifierSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/ResolutionSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SourceSpecification.cs
  src/NzbDrone.Core/CustomFormats/Specifications/YearSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Http/ClientSchema/SchemaBuilder.cs
Labels: none

New: Auto tag based on movie status
  src/NzbDrone.Core/AutoTagging/Specifications/StatusSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Sending Discord notifications with images without absolute links
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

Fixed: Sending Discord notifications with images without absolute links
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

Fixed: Update Trakt SVG Logo to New Design
  frontend/src/Components/TraktRating.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Bump SonarCloud azure extension to 3.X
  azure-pipelines.yml
Labels: none

Bump version to 5.18.1
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Add upgrade management logic to omit deletion of extras
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core.Test/Extras/Metadata/Files/MetadataFileServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraFileServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleFileServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileService.cs
  src/NzbDrone.Core/Extras/Metadata/Files/MetadataFileService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraFileService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFileService.cs
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/MediaFiles/Events/MovieFileDeletedEvent.cs
  src/NzbDrone.Core/MediaFiles/MediaFileService.cs
  src/Radarr.Api.V3/Config/MediaManagementConfigResource.cs
Labels: Area: API, Area: UI

Improve handling of dangling extras
  src/NzbDrone.Core/Extras/Files/ExtraFileService.cs
Labels: none

Additional logging for custom format score
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CustomFormatAllowedByProfileSpecification.cs
Labels: none

New: Show release source in history grab details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Additional logging for delay profile decisions
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
Labels: none

Bump SonarCloud azure extension for UI analysis to 3.X
  azure-pipelines.yml
Labels: none

Fix Multilanguages release when the release name as Multi and a Language in it
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none

Fix Multilanguages release
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none
