Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Link polymorphic static typing
  frontend/src/Components/Link/Link.tsx
Labels: Area: UI

Convert TableRowCell to Typescript
  frontend/src/Components/Table/Cells/TableRowCell.js
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: Area: UI

Convert Icon to Typescript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.js
  frontend/src/Components/Icon.tsx
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfoRow.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Movie/Index/Overview/MovieIndexOverviewInfoRow.tsx
  frontend/src/System/Tasks/Queued/QueuedTaskRow.tsx
Labels: Area: UI

Convert Button to TypeScript
  frontend/src/Components/Link/Button.js
  frontend/src/Components/Link/Button.tsx
  frontend/src/Helpers/Props/align.ts
Labels: Area: UI

Convert Label to TypeScript
  frontend/src/Components/Label.js
  frontend/src/Components/Label.tsx
  frontend/src/Helpers/Props/kinds.ts
  frontend/src/Helpers/Props/sizes.ts
Labels: Area: UI

Convert IconButton to Typescript
  frontend/src/Components/Link/IconButton.js
  frontend/src/Components/Link/IconButton.tsx
Labels: Area: UI

Convert SpinnerIcon to TypeScript
  frontend/src/Components/SpinnerIcon.js
  frontend/src/Components/SpinnerIcon.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: Area: UI

Add _temp* to .gitignore _temp folder is created automatically when running radarr locally and should not be pushed to git
  .gitignore
Labels: none

Add '_temp*' to .gitignore (#10397)
  .gitignore
Labels: none

Fix OriginalFilePath
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Improve root folder missing check for movie collections
  frontend/src/System/Status/Health/HealthItemLink.tsx
  src/NzbDrone.Core/HealthCheck/Checks/MovieCollectionRootFolderCheck.cs
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

Convert Donations to TypeScript
  frontend/src/System/Status/Donations/Donations.js
  frontend/src/System/Status/Donations/Donations.tsx
Labels: Area: UI

Convert NoMovie to TypeScript
  frontend/src/Movie/NoMovie.tsx
Labels: Area: UI

Convert movie images to TypeScript
  frontend/src/Movie/Movie.ts
  frontend/src/Movie/MovieImage.js
  frontend/src/Movie/MovieImage.tsx
  frontend/src/Movie/MoviePoster.js
  frontend/src/Movie/MoviePoster.tsx
Labels: Area: UI

Convert Progress Bars to TypeScript
  frontend/src/Components/CircularProgressBar.js
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Components/Icon.tsx
  frontend/src/Components/Label.tsx
  frontend/src/Components/Link/Button.tsx
  frontend/src/Components/ProgressBar.js
  frontend/src/Components/ProgressBar.tsx
  frontend/src/Helpers/Props/kinds.ts
  frontend/src/Helpers/Props/sizes.ts
  frontend/src/System/Status/DiskSpace/DiskSpace.tsx
Labels: Area: UI

New: Add MDBList link to movie details
  frontend/src/Movie/Details/MovieDetailsLinks.tsx
  frontend/src/Movie/Movie.ts
Labels: Area: UI

Fix OriginalFilePath for imported movies (#10398)
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: none

Fix subtitle aggregation for null movie
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: none

Fixed: Linking autotags with tag specification to all tags
  src/NzbDrone.Core/Tags/TagService.cs
Labels: none

Fixed: Refresh tags after updating autotags
  src/NzbDrone.Core/AutoTagging/AutoTaggingService.cs
  src/NzbDrone.Core/AutoTagging/AutoTagsUpdatedEvent.cs
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Fixed: Refresh tags after updating autotags
  src/NzbDrone.Core/AutoTagging/AutoTaggingService.cs
  src/NzbDrone.Core/AutoTagging/AutoTagsUpdatedEvent.cs
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Fixed: Linking autotags with tag specification to all tags
  src/NzbDrone.Core/Tags/TagService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix subtitle aggregation for not populated movie (#10406)
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 5.10.3
  azure-pipelines.yml
Labels: none

Fix weblate widget
  README.md
Labels: none

Adding lastSearchTime to API and "Last Searched" to Frontend (cutoff unmet & missing) Picking lastSearchTime from movie instead of movieMetaData
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

fixup! Adding lastSearchTime to API and "Last Searched" to Frontend (cutoff unmet & missing) Picking lastSearchTime from movie instead of movieMetaData
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

New: Last Searched column on Wanted screens (#10392)
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Change gotify image support from markdown to client::notification -> bigImageUrl
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
Labels: Area: Notifications

Change gotify image support from markdown to client::notification -> bigImageUrl
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
Labels: Area: Notifications

Update src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
Labels: Area: Notifications

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

New: Importing `sup` files as subtitles
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFileExtensions.cs
Labels: none

Fixed: Empty or private MDBList lists shown as valid on save
  src/NzbDrone.Core/ImportLists/RadarrList/RadarrListParser.cs
Labels: Area: Import Lists

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
