Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Deprecate Sizeleft and Timeleft queue item properties
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/NzbDrone.Integration.Test/ApiTests/QueueFixture.cs
  src/NzbDrone.Integration.Test/Client/QueueClient.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Queue/QueueResource.cs
Labels: Area: API

Console warnings for missing translations on development builds
  frontend/src/Utilities/String/translate.ts
  frontend/typings/Globals.d.ts
Labels: Area: UI

Deprecate Sizeleft and Timeleft queue item properties
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Queue/Queue.cs
  src/NzbDrone.Core/Queue/QueueService.cs
  src/NzbDrone.Integration.Test/ApiTests/QueueFixture.cs
  src/NzbDrone.Integration.Test/Client/QueueClient.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Queue/QueueResource.cs
Labels: Area: API

New: Labels support for Transmission 4.0
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixtureBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
Labels: Area: Download Clients

Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: Area: Download Clients

Use 'text-wrap: balance' for text wrapping on overview and details
  frontend/src/Movie/Details/MovieDetails.css
Labels: Area: UI

Fixed: Don't fail import if symlink target can't be resolved
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Remove unnecessary heap allocations in local IP check
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

Remove unnecessary heap allocations in local IP check
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
Labels: none

Fixed: Don't fail import if symlink target can't be resolved
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Bump NLog, Npgsql, Ical.Net, IPAddressRange, ImageSharp and Polly
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
  src/NzbDrone.Update/Radarr.Update.csproj
  src/NzbDrone.Windows/Radarr.Windows.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
  src/Radarr.Http/Radarr.Http.csproj
Labels: Area: API

Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: Area: Download Clients

New: Labels support for Transmission 4.0
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixtureBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
  src/NzbDrone.Core/Download/Clients/Vuze/Vuze.cs
Labels: Area: Download Clients

Add return type for movie lookup and import endpoints
  src/Radarr.Api.V3/Movies/MovieImportController.cs
  src/Radarr.Api.V3/Movies/MovieLookupController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

New: Kometa metadata file creation disabled
  frontend/.eslintrc.js
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/MetadataAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalConnector.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.css.d.ts
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.js
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContentConnector.js
  frontend/src/Settings/Metadata/Metadata/Metadata.js
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
  frontend/src/Settings/Metadata/Metadata/Metadatas.js
  frontend/src/Settings/Metadata/Metadata/Metadatas.tsx
  frontend/src/Settings/Metadata/Metadata/MetadatasConnector.js
  frontend/src/Settings/Metadata/MetadataSettings.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Store/Selectors/selectSettings.js
  frontend/src/Store/Selectors/selectSettings.ts
  frontend/src/typings/DownloadClient.ts
  frontend/src/typings/Field.ts
  frontend/src/typings/ImportList.ts
  frontend/src/typings/Indexer.ts
  frontend/src/typings/Metadata.ts
  frontend/src/typings/Notification.ts
  frontend/src/typings/Provider.ts
  frontend/src/typings/pending.ts
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
  src/NzbDrone.Core/HealthCheck/Checks/MetadataCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Add Languages to Webhook Notifications
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovie.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovieFile.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
Labels: Area: Notifications

New: Add config file setting for CGNAT authentication bypass
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Radarr.Api.V3/Config/HostConfigResource.cs
  src/Radarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: Area: API

New: Add config file setting for CGNAT authentication bypass
  src/NzbDrone.Common.Test/ExtensionTests/IPAddressExtensionsFixture.cs
  src/NzbDrone.Common/Extensions/IpAddressExtensions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/Radarr.Api.V3/Config/HostConfigResource.cs
  src/Radarr.Http/Authentication/UiAuthorizationHandler.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Bump version to 5.16.2
  azure-pipelines.yml
Labels: none

Sync TimeSpanConverter with upstream
  src/NzbDrone.Core.Test/Datastore/Converters/TimeSpanConverterFixture.cs
  src/NzbDrone.Core/Datastore/Converters/TimeSpanConverter.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
Labels: none

small typo
  test.sh
Labels: none

New: Reactive search button on Wanted pages
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
Labels: Area: UI

Update React
  frontend/src/bootstrap.tsx
  frontend/src/index.ts
  package.json
  yarn.lock
Labels: Area: UI

Fixed: Refreshing movie genres
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none

New: Tooltip with extra genres on movie details page
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieGenres.tsx
Labels: Area: UI

Fixed: Using all movie genres for collection filters
  frontend/src/Store/Actions/movieCollectionActions.js
Labels: Area: UI

Improve is visible property check for discover movies
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfo.js
Labels: Area: UI

New: Tooltip with extra genres on search and collections
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.css
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
  frontend/src/Collection/CollectionItemConnector.js
  frontend/src/Collection/Overview/CollectionOverview.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/MovieGenres.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Error getting processes in some cases
  src/NzbDrone.Common/Processes/ProcessProvider.cs
Labels: none

Fixed: Refresh backup list on deletion
  src/Radarr.Api.V3/System/Backup/BackupController.cs
Labels: Area: API

Fixed: Error getting processes in some cases
  src/NzbDrone.Common/Processes/ProcessProvider.cs
Labels: none

Fixed: Refresh backup list on deletion
  src/Radarr.Api.V3/System/Backup/BackupController.cs
Labels: Area: API

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
