Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Convert QualityProfileName to TypeScript
  frontend/src/Collection/Overview/CollectionOverview.js
  frontend/src/Movie/Details/MovieDetails.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileName.tsx
  frontend/src/Settings/Profiles/Quality/QualityProfileNameConnector.js
Labels: Area: UI

Add history-based custom format scoring to decision logic
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Upgrade 'eslint-plugin-react-hooks' to 5.2.0
  package.json
  yarn.lock
Labels: Area: UI

Improve wrapping of text in sidebar
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css
  frontend/src/Components/Page/Sidebar/PageSidebarItem.css.d.ts
  frontend/src/Components/Page/Sidebar/PageSidebarItem.js
Labels: Area: UI

New: Truncate button text
  frontend/src/Components/Page/Toolbar/PageToolbarButton.css
  frontend/src/Components/Page/Toolbar/PageToolbarButton.tsx
Labels: Area: UI

Update recommendation message against using uTorrent
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Movie Details crashing on invalid collection
  frontend/src/Movie/MovieCollectionLabel.tsx
Labels: Area: UI

Fixed: Inherit indexer, size and release group for marked as failed history
  src/NzbDrone.Core/History/History.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

New: Display indexer in download failed details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/typings/History.ts
Labels: Area: UI

Fixed: Spinning icon on toggling movie monitoring
  frontend/src/Movie/Details/MovieDetails.tsx
Labels: Area: UI

Update src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

New: Add HDR Type to XBMC metadata video stream details (#10906)
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Moved logic and fixed concerns
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Remove the new line that is not needed.
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate (#10925)
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: Display indexer in download failed details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/typings/History.ts
Labels: Area: UI

Fixed: Inherit indexer, size and release group for marked as failed history
  src/NzbDrone.Core/History/History.cs
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Bump version to 5.20.2
  azure-pipelines.yml
Labels: none

Improve logging when login fails due to CryptographicException
  src/Radarr.Http/Authentication/AuthenticationController.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 5.21.0
  azure-pipelines.yml
Labels: none

Bump NLog, Npgsql, System.Memory and System.ValueTuple
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
  src/NzbDrone.Update/Radarr.Update.csproj
  src/NzbDrone.Windows/Radarr.Windows.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
  src/Radarr.Http/Radarr.Http.csproj
Labels: Area: API

Fixed: Close modal when deleting movie from index
  frontend/src/Movie/Delete/DeleteMovieModalContent.tsx
Labels: Area: UI

Translate indexer settings
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornSettings.cs
  src/NzbDrone.Core/Indexers/TorrentPotato/TorrentPotatoSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexer

Improve Movie Details loading
  frontend/src/Movie/Details/MovieDetails.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Don't allow Any or Original for movie files
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API

Fixed: Improve Movie Details loading
  frontend/src/Movie/Details/MovieDetails.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Fixed: Drop downs flickering in some cases
  frontend/src/Components/Form/EnhancedSelectInput.js
Labels: Area: UI

Bump version to 5.21.1
  azure-pipelines.yml
Labels: none

Deprecate `/api/v3/moviefile/editor`
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API

Fixed: Updating movie files via Manage Files
  frontend/src/MovieFile/Edit/FileEditModalContentConnector.js
  frontend/src/MovieFile/Language/SelectLanguageModal.js
  frontend/src/MovieFile/Language/SelectLanguageModalContentConnector.js
  frontend/src/MovieFile/Quality/SelectQualityModal.js
  frontend/src/MovieFile/Quality/SelectQualityModalContent.js
  frontend/src/MovieFile/Quality/SelectQualityModalContentConnector.js
  frontend/src/Store/Actions/interactiveImportActions.js
  frontend/src/Store/Actions/movieFileActions.js
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API, Area: UI

Deprecate `/api/v3/moviefile/editor`
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
