Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Bump version to 5.27.1
  azure-pipelines.yml
Labels: none

New: Add Year sorting to Discover page
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Store/Actions/discoverMovieActions.js
Labels: Area: UI

New: UI Note that Filters are for movie properties only
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Prevent using Original names with other movie file tokens (#11175)
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

New: Move auth success logging to debug
  src/Radarr.Http/Authentication/AuthenticationService.cs
Labels: none

Bump to 5.28.0
  azure-pipelines.yml
Labels: none

Add in a test fixture
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CollectionTheFixture.cs
Labels: none

It cannot possibly be that simple
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Introduce some real-world (or -ish) test cases
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CollectionTheFixture.cs
Labels: none

Replacing test inputs with amusing alternatives
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CollectionTheFixture.cs
Labels: none

Wild guess that the modal is correctly updated based on surrounding data
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: Area: UI

Lint
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: Area: UI

Allow MovieFIle API to set custom formats and custom format score
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API

New: Changing icon during import to blue
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.css
  frontend/src/Components/Icon.css.d.ts
Labels: Area: UI

New: Changing icon during import to blue
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Icon.css
  frontend/src/Components/Icon.css.d.ts
Labels: Area: UI

New: Filmweb.pl watchlist import support
  src/NzbDrone.Core.Test/ImportListTests/Filmweb/FilmwebParserFixture.cs
  src/NzbDrone.Core/ImportLists/Filmweb/FilmwebImportBase.cs
  src/NzbDrone.Core/ImportLists/Filmweb/FilmwebParser.cs
  src/NzbDrone.Core/ImportLists/Filmweb/FilmwebSettingsBase.cs
  src/NzbDrone.Core/ImportLists/Filmweb/User/FilmwebUserImport.cs
  src/NzbDrone.Core/ImportLists/Filmweb/User/FilmwebUserListType.cs
  src/NzbDrone.Core/ImportLists/Filmweb/User/FilmwebUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Filmweb/User/FilmwebUserSettings.cs
  src/NzbDrone.Core/ImportLists/ImportListType.cs
Labels: Area: Import Lists

New: (NFO Metadata) Include the TMDB Collection ID (#11164)
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Bump Swashbuckle to 8.1.4
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: Area: API, Area: UI

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Fixed: Removed support for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

New: Validation for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Fixed: Validation for tags label
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Build against v6-develop
  azure-pipelines.yml
Labels: none

Change authentication to Forms if set to Basic
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

Bump to 5.28.1
  azure-pipelines.yml
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Bump Swashbuckle to 8.1.4
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: Area: API, Area: UI

Change authentication to Forms if set to Basic
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

Fixed: Validation for tags label
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Fixed: Removed support for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

New: Validation for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
