Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Add in test for GetMovieFolderFixture
  src/NzbDrone.Core.Test/OrganizerTests/GetMovieFolderFixture.cs
Labels: none

Adding in another test
  src/NzbDrone.Core.Test/OrganizerTests/GetMovieFolderFixture.cs
Labels: none

Adding a test without `Movie CollectionThe` in it
  src/NzbDrone.Core.Test/OrganizerTests/GetMovieFolderFixture.cs
Labels: none

Adding in a test containing `Movie CollectionThe` without a collection for the movie
  src/NzbDrone.Core.Test/OrganizerTests/GetMovieFolderFixture.cs
Labels: none

Fixed WantMoreControlAddACustomFormat settings/customformats
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Just update the `TitleThe` method per PR feedback
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Remove redundant else
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

New: Add missing `{Movie CleanCollectionThe}` token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanCollectionTheFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleTheFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

Clean up the example
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: Area: UI

Add a GetMovieFolder test for `Movie CleanCollectionThe`
  src/NzbDrone.Core.Test/OrganizerTests/GetMovieFolderFixture.cs
Labels: none

Remove the 'unclean path' warning and simplify the folder existence check
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Update SearchCriteriaBase.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
Labels: none

Add tracked and first added date types
  frontend/src/Settings/MediaManagement/MediaManagement.tsx
  src/NzbDrone.Core/History/HistoryRepository.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/FileDateType.cs
  src/NzbDrone.Core/MediaFiles/UpdateMovieFileService.cs
Labels: Area: UI

Update trans
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

feat: initial project branding and setup
  CLAUDE.md
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

chore: move project config to development folder
  CLAUDE.md
Labels: none

feat(ci): add GitHub Actions and Docker configuration
  .github/workflows/build.yml
  docker/Dockerfile
  docker/root/etc/s6-overlay/s6-rc.d/init-config-end/dependencies.d/init-radarr-config
  docker/root/etc/s6-overlay/s6-rc.d/init-radarr-config/dependencies.d/init-config
  docker/root/etc/s6-overlay/s6-rc.d/init-radarr-config/run
  docker/root/etc/s6-overlay/s6-rc.d/init-radarr-config/type
  docker/root/etc/s6-overlay/s6-rc.d/init-radarr-config/up
  docker/root/etc/s6-overlay/s6-rc.d/init-services/dependencies.d/init-config-end
  docker/root/etc/s6-overlay/s6-rc.d/svc-radarr/data/check
  docker/root/etc/s6-overlay/s6-rc.d/svc-radarr/dependencies.d/init-services
  docker/root/etc/s6-overlay/s6-rc.d/svc-radarr/notification-fd
  docker/root/etc/s6-overlay/s6-rc.d/svc-radarr/run
  docker/root/etc/s6-overlay/s6-rc.d/svc-radarr/type
  docker/root/etc/s6-overlay/s6-rc.d/user/contents.d/init-radarr-config
  docker/root/etc/s6-overlay/s6-rc.d/user/contents.d/svc-radarr
Labels: none

docs: update documentation for rebrand
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: none

chore: update Windows and macOS distribution branding
  distribution/osx/Radarr.app/Contents/Info.plist
  distribution/windows/setup/radarr.iss
Labels: none

feat(privacy): remove telemetry, analytics, fingerprinting
  frontend/src/Shared/piwikCheck.js
  frontend/src/Store/Middleware/createSentryMiddleware.js
  src/NzbDrone.Common/HashUtil.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Update/UpdatePackageProvider.cs
  src/Radarr.Http/Frontend/InitializeJsonController.cs
Labels: Area: UI

docs: add privacy section and document cleanup candidates
  README.md
  research/CLEANUP_CANDIDATES.md
Labels: none

docs: simplify privacy section
  README.md
Labels: none

feat: rebrand to Logarr with teal theme
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  frontend/src/Components/Loading/LoadingMessage.tsx
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Content/Images/Icons/apple-touch-icon.png
  frontend/src/Content/Images/Icons/favicon-16x16.png
  frontend/src/Content/Images/Icons/favicon-32x32.png
  frontend/src/Content/Images/Icons/favicon-debug-16x16.png
  frontend/src/Content/Images/Icons/favicon-debug-32x32.png
  frontend/src/Content/Images/Icons/favicon-debug.ico
  frontend/src/Content/Images/Icons/favicon.ico
  frontend/src/Content/Images/logo-full.png
  frontend/src/Content/Images/logo.png
  frontend/src/Content/Images/logo.svg
  frontend/src/Styles/Themes/dark.js
  frontend/src/Styles/Themes/light.js
Labels: Area: UI

refactor(ui): update page titles and manifest for rebrand
  frontend/src/Content/Images/Icons/android-chrome-192x192.png
  frontend/src/Content/Images/Icons/android-chrome-512x512.png
  frontend/src/Content/manifest.json
  frontend/src/System/Updates/Updates.tsx
  frontend/src/Utilities/String/translate.ts
  frontend/src/index.ejs
  frontend/src/login.html
Labels: Area: UI

fix(security): patch SQL injection, path traversal, command injection
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Common/Processes/ProcessProvider.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/Radarr.Http/Frontend/Mappers/MediaCoverMapper.cs
  src/Radarr.Http/Frontend/Mappers/StaticResourceMapper.cs
Labels: none

docs: update CHANGELOG with security fixes and branding
  CHANGELOG.md
Labels: none

fix: resolve build issues for local development
  global.json
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/Radarr.Http/Frontend/Mappers/StaticResourceMapper.cs
Labels: none

chore: update GitHub username to cheir-mneme
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: none

refactor: rename project from Logarr to Aletheia
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docker/Dockerfile
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  frontend/src/Components/Loading/LoadingMessage.tsx
  frontend/src/Components/Page/ErrorPage.tsx
  frontend/src/Components/Page/Header/PageHeader.tsx
  frontend/src/Styles/Themes/dark.js
  frontend/src/Styles/Themes/light.js
  frontend/src/System/Updates/Updates.tsx
  research/CLEANUP_CANDIDATES.md
  src/NzbDrone.Common/EnvironmentInfo/BuildInfo.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

fix(ci): add disk space cleanup for Docker multi-arch builds
  .github/workflows/build.yml
Labels: none

refactor: remove empty housekeeping classes and commented properties
  src/NzbDrone.Core/Housekeeping/Housekeepers/FixWronglyMatchedMovieFiles.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/UpdateCleanTitleForMovies.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
  src/Radarr.Api.V3/Queue/QueueResource.cs
Labels: Area: API

docs: update PR template for Aletheia workflow
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

fix(build): use pipe delimiter in sed for branch names with slashes
  build.sh
Labels: none

fix(security): address pre-release security blockers
  src/NzbDrone.Core/Datastore/Converters/AutoTagSpecificationConverter.cs
  src/NzbDrone.Core/Datastore/Converters/CustomFormatSpecificationConverter.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Security/X509CertificateValidationService.cs
  src/Radarr.Http/Frontend/InitializeJsonController.cs
Labels: none

docs: update community standards with conventional commits and Aletheia branding
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  CONTRIBUTING.md
Labels: none

docs: link README to CONTRIBUTING.md
  README.md
Labels: none

chore: add pre-commit hooks and CI coverage reporting
  .github/workflows/build.yml
  CONTRIBUTING.md
  scripts/pre-commit
  scripts/setup-hooks.sh
Labels: none

feat(download): add automatic archive extraction (Unpackerr absorption)
  src/NzbDrone.Common/ArchiveService.cs
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadExtractionService.cs
Labels: none

fix(style): use explicit HashSet type for StyleCop SA1000
  src/NzbDrone.Core/Datastore/Converters/AutoTagSpecificationConverter.cs
  src/NzbDrone.Core/Datastore/Converters/CustomFormatSpecificationConverter.cs
Labels: none

fix(style): use explicit HashSet type for StyleCop SA1000
  src/NzbDrone.Common/ArchiveService.cs
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
