Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Reprocessing manual import items unable to detect sample
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
Labels: none

Fixed: Sorting queue by columns
  src/Radarr.Api.V3/Queue/QueueController.cs
Labels: Area: API

New: Trakt ratings
  frontend/src/App/State/MoviesAppState.ts
  frontend/src/Components/TraktRating.css
  frontend/src/Components/TraktRating.css.d.ts
  frontend/src/Components/TraktRating.tsx
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePoster.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosters.js
  frontend/src/DiscoverMovie/Posters/Options/DiscoverMoviePosterOptionsModalContent.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Posters/Options/MovieIndexPosterOptionsModalContent.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/RatingResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/Ratings.cs
Labels: Area: UI

Prevent line wraps on mobile for ratings
  frontend/src/Components/ImdbRating.css
  frontend/src/Components/ImdbRating.css.d.ts
  frontend/src/Components/ImdbRating.tsx
  frontend/src/Components/RottenTomatoRating.css
  frontend/src/Components/RottenTomatoRating.css.d.ts
  frontend/src/Components/RottenTomatoRating.tsx
  frontend/src/Components/TmdbRating.css
  frontend/src/Components/TmdbRating.css.d.ts
  frontend/src/Components/TmdbRating.tsx
  frontend/src/Components/TraktRating.css
  frontend/src/Components/TraktRating.css.d.ts
  frontend/src/Components/TraktRating.tsx
Labels: Area: UI

Prevent line wraps on mobile for ratings
  frontend/src/Components/ImdbRating.css
  frontend/src/Components/ImdbRating.css.d.ts
  frontend/src/Components/ImdbRating.tsx
  frontend/src/Components/RottenTomatoRating.css
  frontend/src/Components/RottenTomatoRating.css.d.ts
  frontend/src/Components/RottenTomatoRating.tsx
  frontend/src/Components/TmdbRating.css
  frontend/src/Components/TmdbRating.css.d.ts
  frontend/src/Components/TmdbRating.tsx
  frontend/src/Components/TraktRating.css
  frontend/src/Components/TraktRating.css.d.ts
  frontend/src/Components/TraktRating.tsx
Labels: Area: UI

New: Trakt ratings
  frontend/src/App/State/MoviesAppState.ts
  frontend/src/Components/TraktRating.css
  frontend/src/Components/TraktRating.css.d.ts
  frontend/src/Components/TraktRating.tsx
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePoster.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosters.js
  frontend/src/DiscoverMovie/Posters/Options/DiscoverMoviePosterOptionsModalContent.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Posters/Options/MovieIndexPosterOptionsModalContent.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/RatingResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/Ratings.cs
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Telegram Log Message
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Fixed: Telegram Log Message
  src/NzbDrone.Common.Test/InstrumentationTests/CleanseLogMessageFixture.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

Add movie availability descriptions
  frontend/src/AddMovie/AddNewMovie/AddNewMovieModalContent.js
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieHeader.js
  frontend/src/AddMovie/MovieMinimumAvailabilityPopoverContent.tsx
  frontend/src/Movie/Edit/EditMovieModalContent.css
  frontend/src/Movie/Edit/EditMovieModalContent.css.d.ts
  frontend/src/Movie/Edit/EditMovieModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.css
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert AvailabilitySelectInput to TypeScript
  frontend/src/Components/Form/AvailabilitySelectInput.js
  frontend/src/Components/Form/AvailabilitySelectInput.tsx
Labels: Area: UI

Use UTC to calculate movie status
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Fix translations for MovieMonitoredSelectInput
  frontend/src/Components/Form/MovieMonitoredSelectInput.js
Labels: Area: UI

Fix translations for MovieMonitoredSelectInput
  frontend/src/Components/Form/MovieMonitoredSelectInput.js
Labels: Area: UI

Convert AvailabilitySelectInput to TypeScript
  frontend/src/Components/Form/AvailabilitySelectInput.js
  frontend/src/Components/Form/AvailabilitySelectInput.tsx
Labels: Area: UI

Use UTC to calculate movie status
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Add movie availability descriptions
  frontend/src/AddMovie/AddNewMovie/AddNewMovieModalContent.js
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieHeader.js
  frontend/src/AddMovie/MovieMinimumAvailabilityPopoverContent.tsx
  frontend/src/Movie/Edit/EditMovieModalContent.css
  frontend/src/Movie/Edit/EditMovieModalContent.css.d.ts
  frontend/src/Movie/Edit/EditMovieModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.css
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Parsing of Hybrid-Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: SDR files being parsed as HLG
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Sort allowed sorting keys
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
  src/Radarr.Api.V3/History/HistoryController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
Labels: Area: API

Fixed: Loading movie images after placeholder in Safari
  frontend/src/Movie/MovieImage.tsx
Labels: Area: UI

Display naming example errors when all fields are empty
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/Radarr.Api.V3/Config/NamingConfigController.cs
Labels: Area: API, Area: Organizer, Area: UI

New: Smart as default Colon Replacement
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/CleanFilenameFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/CleanFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ColonReplacementFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/TitleTheFixture.cs
  src/NzbDrone.Core/Datastore/Migration/240_drop_multi_episode_style_from_naming_config.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/NamingConfig.cs
Labels: Area: Db-migration, Area: Organizer, Area: UI

Fixed: Replace illegal characters even when renaming is disabled
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Bump version to 5.12.0
  azure-pipelines.yml
Labels: none

Fixed: SDR files being parsed as HLG
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Display naming example errors when all fields are empty
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameSampleService.cs
  src/Radarr.Api.V3/Config/NamingConfigController.cs
Labels: Area: API, Area: Organizer, Area: UI

New: Smart as default Colon Replacement
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/CleanFilenameFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/CleanFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ColonReplacementFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/TitleTheFixture.cs
  src/NzbDrone.Core/Datastore/Migration/240_drop_multi_episode_style_from_naming_config.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/NamingConfig.cs
Labels: Area: Db-migration, Area: Organizer, Area: UI

Fixed: Replace illegal characters even when renaming is disabled
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Ignore '.DS_Store' and '.unmanic' when scanning for files
  src/NzbDrone.Core.Test/MediaFiles/DiskScanServiceTests/ScanFixture.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

Fixed: Don't reject revision upgrades if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Ignore extra spaces in path when not running on Windows
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Fixed: Ignore extra spaces in path when not running on Windows
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none
