Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Bump version to 5.16.3
  azure-pipelines.yml
Labels: none

Upgrade TypeScript and core-js
  frontend/src/Store/Selectors/createMovieQualityProfileSelector.ts
  package.json
  yarn.lock
Labels: Area: UI

Fixed: Movies without tags bypassing tags on Download Client
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
Labels: none

Fixed: Augmenting languages from indexer for release with stale indexer ID
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none

New: Optionally as Instance Name to Telegram notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: Area: Notifications

New: Add metadata links to telegram messages
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramLink.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramProxy.cs
  src/NzbDrone.Core/Notifications/Telegram/TelegramSettings.cs
Labels: Area: Notifications

Improve opening add movie modal for Discover Overview
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverview.css
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverview.css.d.ts
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverview.js
Labels: Area: UI

Use minor version for core-js in babel/preset-env
  frontend/build/webpack.config.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Replace URLs in translations with tokens
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/EditSpecificationModalContent.js
  frontend/src/Settings/Tags/AutoTagging/Specifications/EditSpecificationModalContent.js
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

Bump version to 5.17.0
  azure-pipelines.yml
Labels: none

Upgrade babel to 7.26.0
  package.json
  yarn.lock
Labels: Area: UI

Fixed: Loading calendar on older browsers
  frontend/src/polyfills.js
Labels: Area: UI

Upgrade babel to 7.26.0
  package.json
  yarn.lock
Labels: Area: UI

Upgrade Font Awesome to 6.7.1
  package.json
  yarn.lock
Labels: Area: UI

Upgrade @typescript-eslint packages to 8.181.1
  frontend/src/App/State/MetadataAppState.ts
  frontend/src/App/State/MovieCreditAppState.ts
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Table/Cells/TableRowCell.tsx
  frontend/src/Utilities/String/getLanguageName.ts
  frontend/src/Utilities/String/translate.ts
  package.json
  yarn.lock
Labels: Area: UI

Convert MediaInfo to TypeScript
  frontend/src/MovieFile/Editor/MediaInfo.tsx
  frontend/src/MovieFile/Editor/MediaInfoPopover.js
  frontend/src/MovieFile/Editor/MovieFileEditorRow.js
  frontend/src/MovieFile/FileDetailsModal.js
  frontend/src/MovieFile/MediaInfo.js
  frontend/src/MovieFile/MediaInfo.tsx
  frontend/src/MovieFile/MediaInfoConnector.js
  frontend/src/MovieFile/MovieFileLanguageConnector.js
  frontend/src/MovieFile/MovieFileLanguages.tsx
  frontend/src/MovieFile/useMovieFile.ts
  frontend/src/Utilities/Object/getEntries.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
Labels: Area: UI

Fixed: Custom Format score bypassing upgrades not being allowed
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

Add test for do not prefer repacks/propers
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
Labels: none

Add test for do not prefer repacks/propers
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
Labels: none

Fixed: Custom Format score bypassing upgrades not being allowed
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

Bump MailKit to 4.8.0 and Microsoft.Data.SqlClient to 2.1.7
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Bump System.Memory
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Bump version to 5.17.1
  azure-pipelines.yml
Labels: none

Fixed: Movies updated during Import List Sync not reflected in the UI
  src/NzbDrone.Core/Movies/Events/MoviesBulkEditedEvent.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Advanced settings for Metadata consumers
  frontend/src/Settings/Metadata/Metadata/EditMetadataModal.tsx
  frontend/src/Settings/Metadata/Metadata/Metadata.tsx
Labels: Area: UI

Don't send session information to Sentry
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Don't send session information to Sentry
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
Labels: none

Bump version to 5.17.2
  azure-pipelines.yml
Labels: none

naive implementation to preserve movies in collections during list import
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

refine approach
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

remove newlines
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

wip
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

refine approach, add related movies to logs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

build out tests
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
Labels: none

create test in correct area
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
Labels: none

get accurate test case working
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

rename setting
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

add guard clause for movie collection dictionary
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
