Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Exclude invalid releases from Newznab and Torznab parsers
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/RssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: Area: Indexer

New: Ignore Deluge torrents without a title
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: Area: Download Clients

New: Improve UI status when downloads cannot be imported automatically
  frontend/src/Activity/Queue/QueueStatus.js
  src/NzbDrone.Core.Test/Download/CompletedDownloadServiceTests/ImportFixture.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Ability to select Plex Media Server from plex.tv
  frontend/src/Components/Form/EnhancedSelectInput.js
  frontend/src/Components/Form/EnhancedSelectInputConnector.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
  frontend/src/Store/Actions/Creators/Reducers/createSetProviderFieldValuesReducer.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvProxy.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvResource.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: Area: Indexer, Area: Notifications, Area: UI

New: Remove websites in parentheses before parsing
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Reprocessing items that were previously blocked during importing
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
Labels: none

Fixed: Limit Queue maximum page size to 200
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Components/Table/TableOptions/TableOptionsModal.js
Labels: Area: UI

Fixed: Reprocessing items that were previously blocked during importing
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/DownloadMonitoringService.cs
Labels: none

Fixed: Limit Queue maximum page size to 200
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Components/Table/TableOptions/TableOptionsModal.js
Labels: Area: UI

Bump mac image to 12
  azure-pipelines.yml
Labels: none

Fixed: Switch to discover/movie for TMDB Keyword list
  src/NzbDrone.Core/ImportLists/TMDb/Company/TMDbCompanyRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Keyword/TMDbKeywordRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists

Fixed: Calculate custom formats after setting user-chosen attributes in manual import
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
Labels: none

Bump version to 5.8.1
  azure-pipelines.yml
Labels: none

Fixed: Already imported downloads appearing in Queue briefly
  src/NzbDrone.Core.Test/QueueTests/QueueServiceFixture.cs
  src/NzbDrone.Core/Queue/QueueService.cs
Labels: none

Fixed: Trimming disabled logs database
  src/NzbDrone.Core/Housekeeping/Housekeepers/TrimLogDatabase.cs
Labels: none

Fixed: Already imported downloads appearing in Queue briefly
  src/NzbDrone.Core.Test/QueueTests/QueueServiceFixture.cs
  src/NzbDrone.Core/Queue/QueueService.cs
Labels: none

Fixed: Trimming disabled logs database
  src/NzbDrone.Core/Housekeeping/Housekeepers/TrimLogDatabase.cs
Labels: none

Add spanish groups to ExceptionReleaseGroupRegexExact
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

fix: Ensure exact matching of release group names in regex ExceptionReleaseGroupRegexExact
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed destructuring null statistics for bulk delete movies modal
  frontend/src/Movie/Index/Select/Delete/DeleteMovieModalContent.tsx
Labels: Area: UI

New: Genres and Images for Webhooks and Notifiarr
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookImage.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovie.cs
Labels: Area: Notifications

Fixed: Increase size for movie poster on details page
  frontend/src/Movie/Details/MovieDetails.js
Labels: Area: UI

Bump version to 5.8.2
  azure-pipelines.yml
Labels: none

Fix token name for Indexer Download Client Check
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Removing pending release without blocklisting
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  src/Radarr.Api.V3/Queue/QueueController.cs
Labels: Area: API, Area: UI

Fixed: add non-numeric codec tags to SourceRegex in QualityParser
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Parsing of some Web releases (#10155)
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

New: Update AutoTags on movies update
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/UpdateMovieFixture.cs
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/UpdateMultipleMoviesFixture.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none

Update SonarCloud pipeline versions
  azure-pipelines.yml
Labels: none

Update SonarCloud pipeline versions for UI
  azure-pipelines.yml
Labels: none

fix: revert tabulation changes
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Update SonarCloud pipeline versions for UI
  azure-pipelines.yml
Labels: none

Bump version to 5.8.3
  azure-pipelines.yml
Labels: none

Also read location from 307/308 redirects
  src/NzbDrone.Core/Download/TorrentClientBase.cs
Labels: none

Remove extraneous indentation in RemoveFileExtension
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Wrap specifications in Custom Format and Auto Tagging modals
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/EditCustomFormatModalContent.css.d.ts
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css
  frontend/src/Settings/Tags/AutoTagging/EditAutoTaggingModalContent.css.d.ts
Labels: Area: UI

Fixed: Assume category path from qBittorent starting with '//' is a Windows UNC path
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

Remove extraneous indentation in RemoveFileExtension
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
