Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Fix paths mapping for movie specific translations
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerSettings.cs
Labels: Area: Notifications

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

New: Group updates for the same movie for Kodi and Emby / Jellyfin
  src/NzbDrone.Core.Test/NotificationTests/Xbmc/OnDownloadFixture.cs
  src/NzbDrone.Core.Test/NotificationTests/Xbmc/UpdateMovieFixture.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaServerUpdateQueue.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/NzbDrone.Core/Notifications/Xbmc/XbmcService.cs
Labels: Area: Notifications

Translate metadata settings
  src/NzbDrone.Core/Extras/Metadata/Consumers/MediaBrowser/MediaBrowserMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Roksbox/RoksboxMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Wdtv/WdtvMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadataSettings.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataSectionType.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Metadata

Sync metadata changes to UI
  frontend/src/Components/SignalRConnector.js
  src/Radarr.Api.V3/Metadata/MetadataController.cs
Labels: Area: API, Area: UI

Fixed: Stopped/Started as initial state for qBittorrent v5.0
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentState.cs
Labels: Area: Download Clients

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 5.14.0
  azure-pipelines.yml
Labels: none

Fixed: Stopped/Started as initial state for qBittorrent v5.0
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentState.cs
Labels: Area: Download Clients

Fixed: Optional square and round brackets for "{Release Year}"
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

Fixed: Optional square and round brackets for "{Release Year}"
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

Bump version to 5.15.0
  azure-pipelines.yml
Labels: none

Fixed: Changing movies to another root folder without moving files
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Use `OperatingSystem` class to get OS information
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Improve message for grab errors due to no matching tags
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
Labels: none

Cleanse exceptions in event logs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Fixed: Changing series to another root folder without moving files
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Fixed: Status check for completed directories in Deluge
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: Area: Download Clients

Cleanse exceptions in event logs
  src/NzbDrone.Core/Instrumentation/DatabaseTarget.cs
Labels: none

Fixed: Status check for completed directories in Deluge
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DelugeTests/DelugeFixture.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: Area: Download Clients

Fixed: Changing movies to another root folder without moving files
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Use `OperatingSystem` class to get OS information
  src/NzbDrone.Common/EnvironmentInfo/OsInfo.cs
Labels: none

Improve message for grab errors due to no matching tags
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
Labels: none

Inherit trigger from pushed command models
  src/NzbDrone.Core/Messaging/Commands/CommandQueueManager.cs
  src/Radarr.Api.V3/Commands/CommandController.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Initial RQBit support added
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitFile.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettingsValidator.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/PostTorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentFileResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListingResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentStatus.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQbitSettings.cs
Labels: Area: Download Clients

Fixed: Custom filtering movies by year
  frontend/src/Components/Filter/Builder/FilterBuilderRowValue.js
Labels: Area: UI

Update JetBrains logos
  Logo/dottrace.svg
  Logo/jetbrains.svg
  Logo/resharper.svg
  Logo/rider.svg
  Logo/webstorm.svg
  README.md
Labels: none

Fixed: Parse "Català" and "Catalán" as Catalan
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Fixed: Parse "Català" and "Catalán" as Catalan
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Fixed: Cleaning the French preposition 'à' from titles
  src/NzbDrone.Core.Test/ParserTests/NormalizeTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Cleaning the French preposition 'à' from titles
  src/NzbDrone.Core.Test/ParserTests/NormalizeTitleFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Loading queue with pending releases for deleted movies
  src/NzbDrone.Core/Datastore/Extensions/BuilderExtensions.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

Fixed: Loading queue with pending releases for deleted movies
  src/NzbDrone.Core/Datastore/Extensions/BuilderExtensions.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseRepository.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
Labels: none

Fixed pascal casing and fixed class name
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentV1StatResponse.cs
Labels: Area: Download Clients

fixed casing on filename
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
Labels: Area: Download Clients

fixed git case sensitivity
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
Labels: Area: Download Clients

FIxed pascal casing added path from new datapoint in a TorrentResponse
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQBitTorrent.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/PostTorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentFileResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentListingResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/rQbitSettings.cs
Labels: Area: Download Clients

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
