Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

chore: update frontend language to TypeScript
  CONTRIBUTING.md
Labels: none

chore: add Rider IDE and update TypeScript references
  CONTRIBUTING.md
Labels: none

chore: sync CONTRIBUTING.md from Servarr/wiki (#11207)
  CONTRIBUTING.md
Labels: none

Fixed: qBittorrent /login API success check
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: Area: Download Clients

Pin System.Drawing.Common to 8.0.20
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Bump to 6.0.3
  azure-pipelines.yml
Labels: none

Remove redundant code in selecting with click on poster
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Select/MovieIndexPosterSelect.css
  frontend/src/Movie/Index/Select/MovieIndexPosterSelect.tsx
Labels: Area: UI

Switch to FluentMigrator.Runner.Core to avoid extranous platform runners
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Fixed: Movie status on Wanted pages
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
Labels: Area: UI

Switch to FluentMigrator.Runner.Core to avoid extranous platform runners
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Remove redundant code in selecting with click on poster
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Select/MovieIndexPosterSelect.css
  frontend/src/Movie/Index/Select/MovieIndexPosterSelect.tsx
Labels: Area: UI

Fixed: Movie status on Wanted pages
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.tsx
  frontend/src/Wanted/Missing/Missing.tsx
Labels: Area: UI

Bump to 6.0.4
  azure-pipelines.yml
Labels: none

Fixed: qBittorrent /login API success check
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: Area: Download Clients

Set known networks to RFC 1918 ranges during startup
  src/NzbDrone.Host/Startup.cs
Labels: none

Set known networks to RFC 1918 ranges during startup
  src/NzbDrone.Host/Startup.cs
Labels: none

Use Happy Eyeballs for HTTP socket address selection
  src/NzbDrone.Common.Test/Http/HappyEyeballsFixture.cs
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HappyEyeballs.cs
  src/NzbDrone.Common/Http/HappyEyeballs/HttpHappyEyeballs.cs
Labels: none

ci: improve cleanup and add nuget cache
  .gitignore
  azure-pipelines.yml
Labels: none

Add private IPv6 networks
  src/NzbDrone.Host/Startup.cs
Labels: none

Add Octothorpe Parent for Movies starting with numbers
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/MovieTitleFirstCharacterFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Add private IPv6 networks
  src/NzbDrone.Host/Startup.cs
Labels: none

Add Pre-Import feature for qBittorrent download client
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Add unit tests and code documentation for Pre-Import feature
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: Area: Download Clients

Add comprehensive PR description template
  PULL_REQUEST_TEMPLATE.md
Labels: none

Add comprehensive testing guide for Ubuntu/Raspberry Pi
  TESTING_GUIDE.md
Labels: none

Fixed: Pre-Import now handles import gracefully and validates torrents
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
Labels: Area: Download Clients

Add comprehensive unit tests for Pre-Import validation feature
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/TorrentInfo/TorrentFileInfoReaderFixture.cs
Labels: none

Chore: Remove Readarr donation logo
  frontend/src/Content/Images/Icons/logo-readarr.png
  frontend/src/System/Status/Donations/Donations.tsx
Labels: Area: UI

Fix compilation errors and null safety issues in Pre-Import feature
  TESTING_RESULTS.md
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/TorrentInfo/TorrentFileInfoReaderFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Download Clients

Add detailed pull request description
  PULL_REQUEST_DESCRIPTION.md
Labels: none

Remove documentation files from repository (better hygiene)
  PULL_REQUEST_DESCRIPTION.md
  PULL_REQUEST_TEMPLATE.md
  TESTING_GUIDE.md
  TESTING_RESULTS.md
Labels: none

Add rename check to Pre-Import feature
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

bump to 6.1.0
  azure-pipelines.yml
Labels: none

chore: updated build images
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/vi.json
Labels: none

New: add TTL setting for pushover notifications
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Pushover/PushoverProxy.cs
  src/NzbDrone.Core/Notifications/Pushover/PushoverSettings.cs
Labels: Area: Notifications

Skip proxy tests on MacOsX
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
Labels: none

Fixed: Command-line data path causing backups to fail
  src/NzbDrone.Common.Test/DiskTests/DiskTransferServiceFixture.cs
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Remove the database credentials from the connectionString when logging.
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
Labels: none

Looks like TitleThe freaks out on a null string; use a wrapping method for {Movie CollectionThe}
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
