Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Filtering by IMDb decimal ratings
  frontend/src/Components/Filter/Builder/FilterBuilderRowValue.js
  frontend/src/Store/Actions/movieIndexActions.js
Labels: Area: UI

Fixed: Filtering by IMDb decimal ratings
  frontend/src/Components/Filter/Builder/FilterBuilderRowValue.js
  frontend/src/Store/Actions/movieIndexActions.js
Labels: Area: UI

Bump version to 5.10.4
  azure-pipelines.yml
Labels: none

Add 'qualitydefinition/limits' endpoint to get size limitations
  .gitignore
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Radarr.Http/REST/RestController.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Sonarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
Labels: Area: API

New: Add additional archive exentions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

New: Add rating as option in sort dropdown on series overviews and posters views
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
Labels: Area: UI

New: Add exception to SSL Certificate validation message
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Sonarr.Api.V3/Config/CertificateValidator.cs
Labels: Area: API

New: Add additional archive exentions
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
Labels: none

New: Check for available space before grabbing
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Gotify notification updates
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifyMessage.cs
  src/NzbDrone.Core/Notifications/Gotify/GotifySettings.cs
  src/NzbDrone.Core/Notifications/MetadataLinkType.cs
Labels: Area: Notifications

New: Add exception to SSL Certificate validation message
  src/Radarr.Api.V3/Config/CertificateValidator.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
Labels: Area: API

New: Minimum Upgrade Score for Custom Formats
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/typings/QualityProfile.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/239_add_minimum_upgrade_format_score_to_quality_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupQualityProfileFormatItems.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: Area: API, Area: Db-migration, Area: UI

New: Scene and Nuked IndexerFlags for Newznab indexers
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: Area: Indexer, Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Removing import lists for cast and crew from movie details
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MovieCreditAppState.ts
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.js
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.tsx
  frontend/src/Movie/Details/Credits/Cast/MovieCastPosters.tsx
  frontend/src/Movie/Details/Credits/Cast/MovieCastPostersConnector.js
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPoster.js
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPoster.tsx
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPosters.tsx
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPostersConnector.js
  frontend/src/Movie/Details/Credits/MovieCreditPoster.tsx
  frontend/src/Movie/Details/Credits/MovieCreditPosterConnector.js
  frontend/src/Movie/Details/Credits/MovieCreditPosters.js
  frontend/src/Movie/Details/Credits/MovieCreditPosters.tsx
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Movie.ts
  frontend/src/Movie/MovieHeadshot.js
  frontend/src/Movie/MovieHeadshot.tsx
  frontend/src/Store/Selectors/createMovieCreditImportListSelector.ts
  frontend/src/Store/Selectors/createMovieCreditListSelector.js
  frontend/src/Store/Selectors/createMovieCreditsSelector.ts
  frontend/src/Store/Selectors/createMovieQualityProfileSelector.ts
  frontend/src/typings/MovieCredit.ts
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/CreditsResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: Area: UI

New: Use instance name in forms authentication cookie name
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fixed: Removing import lists for cast and crew from movie details
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MovieCreditAppState.ts
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.js
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.tsx
  frontend/src/Movie/Details/Credits/Cast/MovieCastPosters.tsx
  frontend/src/Movie/Details/Credits/Cast/MovieCastPostersConnector.js
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPoster.js
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPoster.tsx
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPosters.tsx
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPostersConnector.js
  frontend/src/Movie/Details/Credits/MovieCreditPoster.tsx
  frontend/src/Movie/Details/Credits/MovieCreditPosterConnector.js
  frontend/src/Movie/Details/Credits/MovieCreditPosters.js
  frontend/src/Movie/Details/Credits/MovieCreditPosters.tsx
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Movie.ts
  frontend/src/Movie/MovieHeadshot.js
  frontend/src/Movie/MovieHeadshot.tsx
  frontend/src/Store/Selectors/createMovieCreditImportListSelector.ts
  frontend/src/Store/Selectors/createMovieCreditListSelector.js
  frontend/src/Store/Selectors/createMovieCreditsSelector.ts
  frontend/src/Store/Selectors/createMovieQualityProfileSelector.ts
  frontend/src/typings/MovieCredit.ts
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/CreditsResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: Area: UI

New: Use instance name in forms authentication cookie name
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Fix use of min score increment in rejection message
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

New: Minimum Upgrade Score for Custom Formats
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContent.js
  frontend/src/typings/QualityProfile.ts
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/239_add_minimum_upgrade_format_score_to_quality_profiles.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupQualityProfileFormatItems.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Qualities/QualityProfile.cs
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: Area: API, Area: Db-migration, Area: UI

Fix use of min score increment in rejection message
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

Multiple Translations updated by Weblate (#10418)
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

New: Allowed sort keys for paginated resources
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/systemActions.js
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
  src/Radarr.Api.V3/History/HistoryController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
  src/Radarr.Http/PagingResource.cs
Labels: Area: API, Area: UI

New: Allowed sort keys for paginated resources
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.tsx
  frontend/src/Store/Actions/systemActions.js
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
  src/Radarr.Api.V3/History/HistoryController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
  src/Radarr.Http/PagingResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

New: Filters for TMDb Person lists
  src/NzbDrone.Core/ImportLists/TMDb/Company/TMDbCompanyImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Keyword/TMDbKeywordImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonParser.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Person/TMDbPersonSettings.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularImport.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDBResources.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserImport.cs
Labels: Area: Import Lists

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Parse TELESYNCH as TELESYNC
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Update src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
Labels: none

Fixed: Parse TELESYNCH as TELESYNC (#10445)
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fix translation key for Skip Free Space Check help text
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
Labels: Area: UI

New: Fetch up to 1000 movies from Plex Watchlist
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListRequestGenerator.cs
Labels: Area: Import Lists

New: Fetch up to 1000 movies from Plex Watchlist
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListRequestGenerator.cs
Labels: Area: Import Lists

Include current quality in rejection message for not an upgrade
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/UpgradeSpecification.cs
Labels: none

Fixed: Unable to login when instance name contained brackets
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: none

Simplify fallback to default for allowed sort keys
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
  src/Radarr.Api.V3/History/HistoryController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/Logs/LogController.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
  src/Radarr.Http/PagingResource.cs
Labels: Area: API

Fixed: Rejections for Custom Format score increment
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

Bump version to 5.11.0
  azure-pipelines.yml
Labels: none

Fix description for API key as query parameter
  src/NzbDrone.Host/Startup.cs
Labels: none

Fix description for API key as query parameter
  src/NzbDrone.Host/Startup.cs
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
