Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Updating movie files via Manage Files
  frontend/src/MovieFile/Edit/FileEditModalContentConnector.js
  frontend/src/MovieFile/Language/SelectLanguageModal.js
  frontend/src/MovieFile/Language/SelectLanguageModalContentConnector.js
  frontend/src/MovieFile/Quality/SelectQualityModal.js
  frontend/src/MovieFile/Quality/SelectQualityModalContent.js
  frontend/src/MovieFile/Quality/SelectQualityModalContentConnector.js
  frontend/src/Store/Actions/interactiveImportActions.js
  frontend/src/Store/Actions/movieFileActions.js
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Update state with the filtered movie file languages
  frontend/src/Store/Actions/movieFileActions.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Enhance failed download warning for items not grabbed by Radarr
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Fixed: Prevent exception for seed configuration provider with invalid indexer ID
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
Labels: Area: Indexer

Fixed: Downloads failed for file contents will be removed from client
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
Labels: none

New: Option to treat downloads with non-media extensions as failed
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornSettings.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/TorrentPotato/TorrentPotatoSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedMovieImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportRejectionReason.cs
Labels: Area: Indexer

Show Remove Failed option in torrent download clients
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
Labels: Area: UI

Bump version to 5.22.0
  azure-pipelines.yml
Labels: none

New: Option to treat downloads with non-media extensions as failed
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TestIndexerSettings.cs
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
  src/NzbDrone.Core/Download/DownloadProcessingService.cs
  src/NzbDrone.Core/Download/RejectedImportService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
  src/NzbDrone.Core/Indexers/FailDownloads.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
  src/NzbDrone.Core/Indexers/HDBits/HDBitsSettings.cs
  src/NzbDrone.Core/Indexers/IIndexerSettings.cs
  src/NzbDrone.Core/Indexers/IPTorrents/IPTorrentsSettings.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
  src/NzbDrone.Core/Indexers/Nyaa/NyaaSettings.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornSettings.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/TorrentPotato/TorrentPotatoSettings.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssIndexerSettings.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/DownloadedMovieImportService.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportRejectionReason.cs
Labels: Area: Indexer

Enhance failed download warning for items not grabbed by Radarr
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: none

Fixed: Downloads failed for file contents will be removed from client
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownload.cs
Labels: none

Show Remove Failed option in torrent download clients
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
Labels: Area: UI

Fixed: Prevent exception for seed configuration provider with invalid indexer ID
  src/NzbDrone.Core.Test/IndexerTests/SeedConfigProviderFixture.cs
  src/NzbDrone.Core/Indexers/CachedIndexerSettingsProvider.cs
Labels: Area: Indexer

New: Show size in history details
  frontend/src/Activity/History/Details/HistoryDetails.tsx
  frontend/src/typings/History.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Bump browserslist-db
  yarn.lock
Labels: Area: UI

Fixed: Allow tables to scroll on tablets in portrait mode
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Table/Cells/TableRowCell.css
  frontend/src/Components/Table/Cells/VirtualTableRowCell.css
  frontend/src/Components/Table/Table.css
  frontend/src/Components/Table/TableHeaderCell.css
  frontend/src/Components/Table/TablePager.css
  frontend/src/Components/Table/VirtualTableHeaderCell.css
Labels: Area: UI

Fixed: Trakt yearly lists no longer supported
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularListType.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
Labels: Area: Import Lists

Fixed: Priority validation for indexers and download clients
  src/Radarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Radarr.Api.V3/Indexers/IndexerController.cs
Labels: Area: API

Cleanup unused sorting fields for bulk manage providers
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
Labels: Area: UI

Fixed: Manual importing queued items with movieId to avoid title parsing
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
Labels: Area: API

Fixed: Deleting movie folder fails when files/folders aren't instantly removed
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Save Publish Dates as UTC for grabbed movies
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Add XML declaration and clean up Kodi metadata generation
  src/NzbDrone.Common/Utf8StringWriter.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Save Publish Dates as UTC for grabbed movies
  src/NzbDrone.Core/History/HistoryService.cs
Labels: none

Add XML declaration and clean up Kodi metadata generation
  src/NzbDrone.Common/Utf8StringWriter.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Movie updates already done in MovieControllerWithSignalR
  src/NzbDrone.Core/MediaFiles/Events/MovieFileImportedEvent.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
  src/Radarr.Api.V3/Movies/MovieControllerWithSignalR.cs
Labels: Area: API

Fixed: Avoid stale movie statistics on movies index
  frontend/src/Movie/Index/MovieIndex.tsx
  frontend/src/MovieFile/MovieFile.ts
Labels: Area: UI

Avoid fetching movies twice on initial load
  frontend/src/Movie/Details/MovieDetailsPage.tsx
  frontend/src/Movie/Index/MovieIndex.tsx
Labels: Area: UI

Add Urdu Language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Bump version to 5.22.1
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

use urdu regex
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

move to LanguageRegex
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

add missing |
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Update src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
