Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Fixed: Validate uniqueness for import list exclusions
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionExistsValidator.cs
Labels: Area: API

Rename ImportExclusion to ImportListExclusion
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusion.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusionRepository.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusionService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Movies/Events/MoviesDeletedEvent.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Movies/RefreshCollectionService.cs
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/ImportLists/ImportExclusionsController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionBulkResource.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionResource.cs
  src/Radarr.Api.V3/ImportLists/ImportListMoviesController.cs
Labels: Area: API, Area: Import Lists

Rename ImportExclusions to ImportListExclusions
  frontend/src/AddMovie/AddNewMovie/AddNewMovieConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieFooterConnector.js
  frontend/src/DiscoverMovie/Exclusion/ExcludeMovieModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionsConnector.js
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportListSettingsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.css
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.css
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.css
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Store/Actions/Settings/importExclusions.js
  frontend/src/Store/Actions/Settings/importListExclusions.js
  frontend/src/Store/Actions/Settings/importLists.js
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createExclusionMovieSelector.js
Labels: Area: UI

Fixed: Overwriting query params for remove item handler
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
  frontend/src/Store/Actions/movieActions.js
Labels: Area: UI

Remove unused ImportExclusions property
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Persist selected filter for interactive searches
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Align queue action buttons on right
  frontend/src/Activity/Queue/QueueRow.css
Labels: Area: UI

New: Remove all single quote characters from searches
  src/NzbDrone.Core.Test/IndexerSearchTests/SearchDefinitionFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
Labels: none

Fixed: Persist selected filter for interactive searches
  frontend/src/Store/Actions/releaseActions.js
Labels: Area: UI

New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: Area: Download Clients

Fixed: Interactive Import dropdown width on mobile
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.css
Labels: Area: UI

Fix typo in "Import Extra Files" help text
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Log calls to deprecated endpoints
  src/Radarr.Http/REST/RestController.cs
Labels: none

Fixed: Parsing alternative titles containing "A.K.A."
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Marking queued item as failed not blocking the correct Torrent Info Hash
  src/NzbDrone.Core/Blocklisting/BlocklistService.cs
  src/NzbDrone.Core/Download/FailedDownloadService.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
Labels: Area: API

Update React Lint rules for TSX
  frontend/.eslintrc.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Components/Error/ErrorBoundaryError.tsx
  frontend/src/Helpers/Hooks/useModalOpenState.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/InteractiveImport/Language/SelectLanguageModal.tsx
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
  frontend/src/InteractiveSearch/OverrideMatch/DownloadClient/SelectDownloadClientModal.tsx
  frontend/src/Movie/Index/Overview/MovieIndexOverviews.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Select/Edit/EditMoviesModalContent.tsx
  frontend/src/Movie/Index/Table/MovieIndexTable.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableOptions.tsx
  frontend/src/Parse/ParseToolbarButton.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
Labels: Area: UI

Include available version in update health check
  src/NzbDrone.Core/HealthCheck/Checks/UpdateCheck.cs
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Upgrade nlog to 5.3.3
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Host/Startup.cs
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
  src/NzbDrone.Update/Radarr.Update.csproj
  src/NzbDrone.Windows/Radarr.Windows.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
  src/Radarr.Http/Radarr.Http.csproj
Labels: Area: API

New: Add Compact Log Event Format option for console logging
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

New: Configurable log file size limit
  src/NzbDrone.Common.Test/ExtensionTests/NumberExtensionFixture.cs
  src/NzbDrone.Common/Extensions/NumberExtensions.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/OriginalLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/AcceptableSizeSpecificationFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/DownloadedMoviesImportServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/ImportApprovedMoviesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Specifications/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/NotSampleSpecification.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcNfoDetector.cs
  src/NzbDrone.Core/Fluent.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/FreeSpaceSpecification.cs
Labels: none

Convert formatBytes to TypeScript
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Index/Overview/MovieIndexOverviewInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/RootFolder/RootFolderRow.tsx
  frontend/src/Utilities/Number/formatBytes.ts
Labels: Area: UI

Fixed: Updating movie path from different OS paths
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Core/Movies/MoviePathBuilder.cs
Labels: none

Fixed: Allow leading/trailing spaces on non-Windows
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

New: Validate that folders in paths don't start or end with a space
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Showing multi-languages for movies parsed without languages
  frontend/src/Activity/Blocklist/BlocklistRow.js
  frontend/src/Activity/History/HistoryRow.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/OverrideMatch/OverrideMatchModalContent.tsx
  frontend/src/Movie/History/MovieHistoryRow.js
  frontend/src/Movie/MovieLanguages.tsx
  frontend/src/MovieFile/Editor/MovieFileEditorRow.js
  frontend/src/MovieFile/MovieFileLanguageConnector.js
Labels: Area: UI

Fixed: Stale formats score after changing quality profile for movies
  frontend/src/Components/SignalRConnector.js
  frontend/src/Movie/Details/MovieDetailsConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
Labels: Area: UI

Fixed: Duplicated changelog lines
  frontend/src/System/Updates/UpdateChanges.js
Labels: Area: UI

Fixed: Sending Manual Interaction Required notifications for unknown movies
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
Labels: Area: Notifications

Fixed: Dedupe titles to avoid similar search requests
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
Labels: none

Display movie title for interactive search modal
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
Labels: Area: UI

Improve messaging for for Send Notifications setting in Emby / Jellyfin
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserProxy.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: Area: Notifications

Fix typos and improve log messages
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Test.Common/AutoMoq/AutoMoqer.cs
Labels: Area: Download Clients

Trim trailing slash from trailer link
  frontend/src/Movie/Details/MovieDetailsLinks.js
  frontend/src/Movie/Details/MovieDetailsLinks.tsx
Labels: Area: UI

Sort quality profiles by name in custom filters
  frontend/src/Components/Filter/Builder/FilterBuilderRow.js
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValue.tsx
  frontend/src/Components/Filter/Builder/QualityProfileFilterBuilderRowValueConnector.js
Labels: Area: UI

New: Increase max size limit for quality definitions
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
  frontend/src/Store/Actions/Settings/qualityDefinitions.js
Labels: Area: UI

New: Increase max size limit for quality definitions
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
  frontend/src/Store/Actions/Settings/qualityDefinitions.js
Labels: Area: UI
