Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Fixed: Deprecate Media Browser / Legacy Emby metadata
  src/NzbDrone.Core/Extras/Metadata/Consumers/MediaBrowser/MediaBrowserMetadata.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Add Urdu Language (#10957)
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Fixed: Avoid requests without categories for FileList
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: Area: Indexer

Fixed: Improve error message for queue items from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

New: Indexer flags in webhook for grabbed releases
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookGrabbedRelease.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookRelease.cs
  src/NzbDrone.Core/Parser/Model/GrabbedReleaseInfo.cs
Labels: Area: Notifications, Area: Parser

Bump linux agent to ubuntu-22.04
  azure-pipelines.yml
Labels: none

Fixed: Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: Area: Download Clients

Refine localization string for IndexerSettingsFailDownloadsHelpText
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Augmenting languages for releases with MULTI and other languages
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
Labels: none

Simplify last write time for media covers
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fix media covers test
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
Labels: none

Clean up media cover service fixture
  src/NzbDrone.Core.Test/MediaCoverTests/MediaCoverServiceFixture.cs
Labels: none

Refine localization string for IndexerSettingsFailDownloadsHelpText
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Auto Tag for Studio
  src/NzbDrone.Core/AutoTagging/Specifications/StudioSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Parse original from release name when specified
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

New: Parsing releases with 4K in square brackets as 2160p
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Prevent exception when grabbing unparsable release
  src/NzbDrone.Core/Parser/Parser.cs
  src/Radarr.Api.V3/Indexers/ReleaseController.cs
Labels: Area: API, Area: Parser

Apply suggestions from code review
  src/NzbDrone.Core/AutoTagging/Specifications/StudioSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Auto tag movies based on studio
  src/NzbDrone.Core/AutoTagging/Specifications/StudioSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: (PTP) Parse neutral leech releases
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornParser.cs
Labels: Area: Indexer

Fixed: Improve media covers loading
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Spelling in IMDb List Validator
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListSettings.cs
Labels: Area: Import Lists

Fix typo in IMDb List validation message (#11024)
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListSettings.cs
Labels: Area: Import Lists

Bump version to 5.22.2
  azure-pipelines.yml
Labels: none

Fixed: Parse EN from release titles as English
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Fixed: Disallow tags creation with empty label
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Log delete statements only once
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fixed: Remove support for IMDb Lists of the form 'ls12345678'
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListSettings.cs
Labels: Area: Import Lists

Fixed: Parse EN from release titles as English
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

feat: Use ChangeTracker for MovieMetadata update
  src/NzbDrone.Core.Test/MovieTests/AlternativeTitleServiceTests/AlternativeTitleServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/CreditTests/CreditServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/Translations/TranslationServiceFixture.cs
  src/NzbDrone.Core/ChangeTracker/ChangeTracker.cs
  src/NzbDrone.Core/Datastore/ModelBase.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
Labels: none

- Rename ChangeTracker to ChangeDetector - Add unit tests to ensure lang comparison does work on Movie Matadata - Add unit tests to ensure it removes duplicated translations / alternative titles
  src/NzbDrone.Core.Test/MovieTests/AlternativeTitleServiceTests/AlternativeTitleServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/CreditTests/CreditServiceFixture.cs
  src/NzbDrone.Core.Test/MovieTests/Translations/TranslationServiceFixture.cs
  src/NzbDrone.Core/ChangeDetector/ChangeDetector.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
Labels: none

fixup! feat: Use ChangeTracker for MovieMetadata update
  src/NzbDrone.Core/ChangeDetector/ChangeDetector.cs
  src/NzbDrone.Core/Datastore/ModelBase.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitle.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Credits/Credit.cs
  src/NzbDrone.Core/Movies/Credits/CreditService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslation.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
Labels: none

New: Prevent Remote Path Mapping local folder being set to System folder or '/'
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: Area: API

Fixed: Set output encoding to UTF-8 when running external processes
  src/NzbDrone.Common/Processes/ProcessProvider.cs
Labels: none

Simplify props for MovieInteractiveSearchModal
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
Labels: Area: UI

Update WikiUrl type in API docs
  src/Radarr.Api.V3/Health/HealthResource.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump Selenium.WebDriver.ChromeDriver
  src/NzbDrone.Automation.Test/Radarr.Automation.Test.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API
