Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Parse 480i Bluray/Remux as Bluray 480p
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

New: Blocklist Custom Filters
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistFilterModal.tsx
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  src/NzbDrone.Core/Blocklisting/BlocklistRepository.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Blocklist/BlocklistController.cs
Labels: Area: API, Area: UI

Refactor movie tags for CustomScript, Webhook and Notifiarr events
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookBase.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovie.cs
Labels: Area: Notifications

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

New: LanguageId filter added to all movie endpoint
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

New: Include trending and popular options for Discover Movies
  frontend/src/DiscoverMovie/DiscoverMovie.js
  frontend/src/DiscoverMovie/DiscoverMovieConnector.js
  frontend/src/DiscoverMovie/Overview/Options/DiscoverMovieOverviewOptionsModalContent.js
  frontend/src/DiscoverMovie/Posters/Options/DiscoverMoviePosterOptionsModalContent.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieTableOptions.js
  frontend/src/Store/Actions/discoverMovieActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/ImportLists/ImportListMoviesController.cs
Labels: Area: API, Area: UI

Bump version to 5.6.0
  azure-pipelines.yml
Labels: none

New: No Release Dates availability message
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: No Release Dates availability message
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Add `isExisting` flag for movies in collections API
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Collections/CollectionMovieResource.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Bump Npgsql to 7.0.7
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Rename file for getMovieStatusDetails
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
  frontend/src/DiscoverMovie/Table/ListMovieStatusCell.js
  frontend/src/Movie/Index/Table/MovieStatusCell.tsx
  frontend/src/Movie/getMovieStatusDetails.js
Labels: Area: UI

Add missing translation for External
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Wanted Cutoff/Missing
  frontend/src/App/AppRoutes.js
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/SignalRConnector.js
  frontend/src/Movie/MovieSearchCell.css
  frontend/src/Movie/MovieSearchCell.css.d.ts
  frontend/src/Movie/MovieSearchCell.js
  frontend/src/Movie/MovieSearchCellConnector.js
  frontend/src/Movie/MovieStatus.css
  frontend/src/Movie/MovieStatus.css.d.ts
  frontend/src/Movie/MovieStatus.js
  frontend/src/Movie/MovieStatusConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.js
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.js
  frontend/src/Movie/movieEntities.js
  frontend/src/MovieFile/MovieFileLanguageConnector.js
  frontend/src/Store/Actions/Creators/createBatchToggleMovieMonitoredHandler.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Store/Selectors/createMovieSelector.js
  frontend/src/Utilities/Movie/updateMovies.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.css
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.css.d.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.css
  frontend/src/Wanted/Missing/MissingRow.css.d.ts
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/MovieRepository.cs
  src/Radarr.Api.V3/Calendar/CalendarController.cs
  src/Radarr.Api.V3/Movies/MovieControllerWithSignalR.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
Labels: Area: API, Area: UI

Remove not implemented endpoints from API docs
  src/Radarr.Api.V3/Calendar/CalendarController.cs
  src/Radarr.Api.V3/Health/HealthController.cs
  src/Radarr.Api.V3/Indexers/ReleaseControllerBase.cs
  src/Radarr.Api.V3/Movies/MovieImportController.cs
  src/Radarr.Api.V3/Movies/MovieLookupController.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Queue/QueueDetailsController.cs
  src/Radarr.Api.V3/Queue/QueueStatusController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
  src/Radarr.Http/REST/RestController.cs
Labels: Area: API

New: Wanted Cutoff/Missing
  frontend/src/App/AppRoutes.js
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Components/SignalRConnector.js
  frontend/src/Movie/MovieSearchCell.css
  frontend/src/Movie/MovieSearchCell.css.d.ts
  frontend/src/Movie/MovieSearchCell.js
  frontend/src/Movie/MovieSearchCellConnector.js
  frontend/src/Movie/MovieStatus.css
  frontend/src/Movie/MovieStatus.css.d.ts
  frontend/src/Movie/MovieStatus.js
  frontend/src/Movie/MovieStatusConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.js
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.js
  frontend/src/Movie/movieEntities.js
  frontend/src/MovieFile/MovieFileLanguageConnector.js
  frontend/src/Store/Actions/Creators/createBatchToggleMovieMonitoredHandler.js
  frontend/src/Store/Actions/index.js
  frontend/src/Store/Actions/wantedActions.js
  frontend/src/Store/Selectors/createMovieSelector.js
  frontend/src/Utilities/Movie/updateMovies.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmet.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetConnector.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.css
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.css.d.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/Missing.js
  frontend/src/Wanted/Missing/MissingConnector.js
  frontend/src/Wanted/Missing/MissingRow.css
  frontend/src/Wanted/Missing/MissingRow.css.d.ts
  frontend/src/Wanted/Missing/MissingRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/MovieRepository.cs
  src/Radarr.Api.V3/Calendar/CalendarController.cs
  src/Radarr.Api.V3/Movies/MovieControllerWithSignalR.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
Labels: Area: API, Area: UI

Rename file for getMovieStatusDetails
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
  frontend/src/DiscoverMovie/Table/ListMovieStatusCell.js
  frontend/src/Movie/Index/Table/MovieStatusCell.tsx
  frontend/src/Movie/getMovieStatusDetails.js
Labels: Area: UI

Remove not implemented endpoints from API docs
  src/Radarr.Api.V3/Calendar/CalendarController.cs
  src/Radarr.Api.V3/Health/HealthController.cs
  src/Radarr.Api.V3/Indexers/ReleaseControllerBase.cs
  src/Radarr.Api.V3/Movies/MovieImportController.cs
  src/Radarr.Api.V3/Movies/MovieLookupController.cs
  src/Radarr.Api.V3/Queue/QueueController.cs
  src/Radarr.Api.V3/Queue/QueueDetailsController.cs
  src/Radarr.Api.V3/Queue/QueueStatusController.cs
  src/Radarr.Api.V3/Wanted/CutoffController.cs
  src/Radarr.Api.V3/Wanted/MissingController.cs
  src/Radarr.Http/REST/RestController.cs
Labels: Area: API

Add missing translation for External
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Multisubs wrongly detected as hardcoded
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Sorting by movie titles in Missing/Cutoff Unmet under Postgres
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: none

Tests for Wanted pages
  src/NzbDrone.Automation.Test/MainPagesTest.cs
  src/NzbDrone.Automation.Test/PageModel/PageBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Integration.Test/ApiTests/WantedTests/CutoffUnmetFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/WantedTests/MissingFixture.cs
Labels: none

Tests for Wanted pages
  src/NzbDrone.Automation.Test/MainPagesTest.cs
  src/NzbDrone.Automation.Test/PageModel/PageBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Integration.Test/ApiTests/WantedTests/CutoffUnmetFixture.cs
  src/NzbDrone.Integration.Test/ApiTests/WantedTests/MissingFixture.cs
Labels: none

Fixed: Revert "Validate that folders in paths don't start or end with a space"
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Bump version to 5.7.0
  azure-pipelines.yml
Labels: none

Purge import exclusions lists
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionsConnector.js
  frontend/src/Store/Actions/Creators/createPurgeHandler.js
  frontend/src/Store/Actions/Settings/importExclusions.js
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/Radarr.Api.V3/ImportLists/ImportExclusionsController.cs
Labels: Area: API, Area: Import Lists, Area: UI

Fixed: Trimming slashes from UrlBase when using environment variable
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Trimming slashes from UrlBase when using environment variable
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Manual Interaction Required with possible null movie
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: Area: Notifications

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Include year in page title for movie details
  frontend/src/Movie/Details/MovieDetails.js
Labels: Area: UI

Bump Microsoft.NET.Test.Sdk, SharpZipLib and Polly
  src/Directory.Build.props
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none
