Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Stack redundant messages
  frontend/src/Components/Page/Sidebar/Messages/Message.css
  frontend/src/Components/Page/Sidebar/Messages/Message.css.d.ts
  frontend/src/Components/Page/Sidebar/Messages/Message.tsx
  frontend/src/Components/Page/Sidebar/Messages/Messages.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Include the TMDB ID for collection info in NFO
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

fix: Notifications always include imdb link.
  src/NzbDrone.Core/Notifications/NotificationService.cs
Labels: Area: Notifications

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: UI Note that Filters are for movie properties only
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Add missing translation keys
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Movie/Index/MovieIndex.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Add missing translation keys
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Movie/Index/MovieIndex.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: UI Note that Filters are for movie properties only
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Improve stored UI settings for multiple instances under the same host
  frontend/src/Store/Middleware/createPersistState.js
Labels: Area: UI

New: Support for multiple movieIds in Rename API endpoint
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

Fixed: Add missing translation keys
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Movie/Index/MovieIndex.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Don't log debug messages for API key validation
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

New:(Pushcut) Improved Notification Details (#10897)
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/NotificationMetadataLink.cs
  src/NzbDrone.Core/Notifications/NotificationMetadataLinkGenerator.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutPayload.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutProxy.cs
  src/NzbDrone.Core/Notifications/Pushcut/PushcutSettings.cs
Labels: Area: Notifications

New: Georgian language support (#11209)
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

New: Improve Reject for Unknown Movie Messaging (#11063)
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Fixed: xvid not always detected correctly (#11138)
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none

Fixed: Parse UHDBDRip as BluRay quality
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Bump version to 5.27.2
  azure-pipelines.yml
Labels: none

Return error if Manual Import called without items
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump to 5.27.5
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Deleting tags from UI
  frontend/src/Settings/Tags/Tag.tsx
Labels: Area: UI

Bump SixLabors.ImageSharp to 3.1.11
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Fixed: Skip title searches for Newznab/Torznab indexers when movie year is missing
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexer

Fixed: TMDb List Paging (#11201)
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists

Bump Polly to 8.6.0
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

New: Select with poster click in movie selection (#11187)
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
Labels: Area: UI

Bump version to 5.27.3
  azure-pipelines.yml
Labels: none

Bump version to 5.27.0
  azure-pipelines.yml
Labels: none

Fixed: Parse HDDVDRip as BluRay
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Allow Discover Exclusions of Movies without Year (Year 0)
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump version to 5.27.4
  azure-pipelines.yml
Labels: none
