Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Update Sentry SDK add features
  package.json
  src/Directory.Build.props
  src/NzbDrone.Common.Test/InstrumentationTests/SentryTargetFixture.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/NzbDrone.Common/Radarr.Common.csproj
  yarn.lock
Labels: Area: UI

Update Sentry SDK add features
  package.json
  src/Directory.Build.props
  src/NzbDrone.Common.Test/InstrumentationTests/SentryTargetFixture.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Common/Instrumentation/Sentry/SentryTarget.cs
  src/NzbDrone.Common/Radarr.Common.csproj
  yarn.lock
Labels: Area: UI

Fixed: Initialize databases after app folder migrations
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

Forward X-Forwarded-Host header
  src/NzbDrone.Host/Startup.cs
Labels: none

Add missing translation key
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Indexer flags for torrent release pushes
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API

Bump version to 5.5.3
  azure-pipelines.yml
Labels: none

Forward X-Forwarded-Host header
  src/NzbDrone.Host/Startup.cs
Labels: none

Add missing translation key
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix translations for SSL settings
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Add file-count for Transmission RPC
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionProxy.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: Area: Download Clients

New: Added env var support for config.xml options
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Common/Options/UpdateOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

New: Optionally use Environment Variables for settings in config.xml (#9985)
  src/NzbDrone.Common.Test/ConfigFileProviderTest.cs
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/AppOptions.cs
  src/NzbDrone.Common/Options/AuthOptions.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Common/Options/UpdateOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
Labels: none

Fixed: Parsing long downloading/seeding values from Transmission
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionTorrent.cs
Labels: Area: Download Clients

refactor: pull changes from upstream
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/Extensions/CompositionExtensions.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Core/Update/RecentUpdateProvider.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Logs/LogController.cs
  src/Radarr.Api.V3/Update/UpdateController.cs
  src/Radarr.Http/PagingResource.cs
  src/Radarr.Http/REST/Filters/LogDatabaseDisabledActionFilterAttribute.cs
Labels: Area: API

Avoid using redundant variable
  src/Radarr.Api.V3/Update/UpdateController.cs
Labels: Area: API

New: toggle log database with a flag in config.xml
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Core/Datastore/Extensions/CompositionExtensions.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Host.Test/ContainerFixture.cs
  src/Radarr.Api.V3/Logs/LogController.cs
  src/Radarr.Api.V3/Update/UpdateController.cs
  src/Radarr.Http/REST/Filters/LogDatabaseDisabledActionFilterAttribute.cs
Labels: Area: API

New: Config file setting to disable log database (#9943)
  src/NzbDrone.Common.Test/ServiceFactoryFixture.cs
  src/NzbDrone.Common/Options/LogOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/Extensions/CompositionExtensions.cs
  src/NzbDrone.Core/Update/History/UpdateHistoryService.cs
  src/NzbDrone.Core/Update/RecentUpdateProvider.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Logs/LogController.cs
  src/Radarr.Api.V3/Update/UpdateController.cs
  src/Radarr.Http/PagingResource.cs
Labels: Area: API

Fixed: Ignore exclusions in missing movies for collections
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Collections/CollectionMovieResource.cs
Labels: Area: API

New: Display excluded label for movies in collections
  frontend/src/Collection/Overview/CollectionMovie.css
  frontend/src/Collection/Overview/CollectionMovie.css.d.ts
  frontend/src/Collection/Overview/CollectionMovie.js
  src/Radarr.Api.V3/Collections/CollectionController.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Indexer flags for torrent release pushes
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API

Fixed: Indexer flags for torrent release pushes
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API

New: LanguageId filter added to all movie endpoint
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Ignore invalid movie tags when writing XBMC metadata
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Tags/TagRepository.cs
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Use number input for seed ratio
  src/NzbDrone.Core/Indexers/SeedCriteriaSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Http/ClientSchema/SchemaBuilder.cs
Labels: Area: Indexer

New: Dark theme for login screen
  frontend/src/App/App.js
  frontend/src/App/ApplyTheme.js
  frontend/src/App/ApplyTheme.tsx
  frontend/src/Styles/Themes/index.js
  frontend/src/login.html
  frontend/src/typings/UiSettings.ts
  src/Radarr.Http/Frontend/Mappers/HtmlMapperBase.cs
  src/Radarr.Http/Frontend/Mappers/LoginHtmlMapper.cs
Labels: Area: UI

New: Root folder exists validation for import lists
  src/NzbDrone.Core/Validation/Paths/PathValidator.cs
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Radarr.Api.V3/ImportLists/ImportListController.cs
Labels: Area: API

New: Support stoppedUP and stoppedDL states from qBittorrent
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
Labels: Area: Download Clients

Fixed: Text color for inputs on login page
  frontend/src/login.html
Labels: Area: UI

Fixed: Notifications with only On Rename enabled
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
Labels: Area: Notifications

Refactor PasswordInput to use type password
  frontend/src/Components/Form/PasswordInput.css
  frontend/src/Components/Form/PasswordInput.css.d.ts
  frontend/src/Components/Form/PasswordInput.js
  frontend/src/Content/Fonts/fonts.css
  frontend/src/Content/Fonts/text-security-disc.ttf
  frontend/src/Content/Fonts/text-security-disc.woff
  frontend/src/Styles/Variables/fonts.js
Labels: Area: UI

Refactor PasswordInput to use type password
  frontend/src/Components/Form/PasswordInput.css
  frontend/src/Components/Form/PasswordInput.css.d.ts
  frontend/src/Components/Form/PasswordInput.js
  frontend/src/Content/Fonts/fonts.css
  frontend/src/Content/Fonts/text-security-disc.ttf
  frontend/src/Content/Fonts/text-security-disc.woff
  frontend/src/Styles/Variables/fonts.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none
