Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fix Multilanguages release
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none

reset/set a tag during cleanLibrary so that items can be filtered with custom filter etc. Its much better than just having the log info message
  frontend/src/Settings/ImportLists/Options/ImportListOptions.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/Settings/Tags/Tag.js
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
  src/Radarr.Api.V3/Tags/TagDetailsResource.cs
Labels: Area: API, Area: Import Lists, Area: UI

Fixed: Augmenting languages for releases with MULTI and other languages (#10842)
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
Labels: none

New: reflink support for ZFS
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Fixed: Augmenting languages for releases with MULTI and other languages
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
Labels: none

Don't propagate config settings through event
  src/NzbDrone.Core.Test/Extras/Metadata/Files/MetadataFileServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Others/OtherExtraFileServiceFixture.cs
  src/NzbDrone.Core.Test/Extras/Subtitles/SubtitleFileServiceFixture.cs
  src/NzbDrone.Core/Extras/Files/ExtraFileService.cs
  src/NzbDrone.Core/Extras/Metadata/Files/MetadataFileService.cs
  src/NzbDrone.Core/Extras/Others/OtherExtraFileService.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFileService.cs
  src/NzbDrone.Core/MediaFiles/Events/MovieFileDeletedEvent.cs
  src/NzbDrone.Core/MediaFiles/MediaFileService.cs
Labels: none

fix unusedTagCLeanup in housekeeping
  frontend/src/Settings/ImportLists/Options/ImportListOptions.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/Settings/Tags/Tag.js
  frontend/src/typings/ImportListOptionsSettings.ts
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
  src/Radarr.Api.V3/Tags/TagDetailsResource.cs
Labels: Area: API, Area: UI

When triggered manually forceSync all lists
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/ImportLists/FetchAndParseImportListService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

Bump version to 5.18.2
  azure-pipelines.yml
Labels: none

New: reflink support for ZFS
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fa.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fa.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Update frontend/src/Components/TraktRating.tsx
  frontend/src/Components/TraktRating.tsx
Labels: Area: UI

Update Trakt ratings logo (#10822)
  frontend/src/Components/TraktRating.tsx
Labels: Area: UI

New: Parse JPN as Japanese and KOR as Korean
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Parse releases with JPN as Japanese and KOR as Korean
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Import Movies page crashing on `console.error` with non-string values
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieRow.js
  frontend/src/AddMovie/ImportMovie/Import/SelectMovie/ImportMovieSelectMovie.js
  frontend/src/Store/Actions/importMovieActions.js
  frontend/src/index.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Cleanup duplicated movie translations
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupDuplicateMovieTranslations.cs
Labels: none

Fixed: Loading movies with duplicated translations
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
  src/Radarr.Api.V3/Movies/MovieEditorController.cs
Labels: Area: API

Fix typo
  src/NzbDrone.Core/Localization/Core/es.json
Labels: none

Fix Exclude Folder Regex for Torrent BlackHole
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

Fixed: Cleanup duplicated movie translations
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupDuplicateMovieTranslations.cs
Labels: none

Fixed: Loading movies with duplicated translations
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
  src/Radarr.Api.V3/Movies/MovieEditorController.cs
Labels: Area: API

Bump version to 5.18.3
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fa.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fa.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump Polly and NLog.Layouts.ClefJsonLayout
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

New: Refresh cache for tracked queue on movies update
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

New: Refresh cache for tracked queue on movies update
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fi.json
Labels: none

Fixed: Format bitrate for primary streams in media info
  frontend/src/MovieFile/Editor/MediaInfo.tsx
  frontend/src/Utilities/Number/formatBitrate.ts
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: Area: UI

New: Prefer newer Usenet releases
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
Labels: none

Fixed: Ignore special folders inside Blackhole watch folders
  src/NzbDrone.Common/Disk/FileSystemLookupService.cs
  src/NzbDrone.Common/Disk/SpecialFolders.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/ScanWatchFolderFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/ScanWatchFolder.cs
Labels: Area: Download Clients

Fixed: Health warning for downloading inside root folders
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRootFolderCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
Labels: none

Bump version to 5.18.4
  azure-pipelines.yml
Labels: none

Fixed: Format bitrate for primary streams in media info
  frontend/src/MovieFile/Editor/MediaInfo.tsx
  frontend/src/Utilities/Number/formatBitrate.ts
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
Labels: Area: UI

Add MediaInfo AudioLanguagesAll and update styling
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css
  frontend/src/Settings/MediaManagement/Naming/NamingModal.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Bump version to 5.19.0
  azure-pipelines.yml
Labels: none

Improve message for unknown movie rejection in release searching
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
