Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Exclude movies without year in the missing page
  src/NzbDrone.Core/Movies/MovieRepository.cs
Labels: none

New: Parse DarQ release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Parse NEWCAM as CAM
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed disabled options for SelectInput
  frontend/src/Components/Form/SelectInput.js
Labels: Area: UI

New: Improve status label and progress bar style for deleted movies
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
  frontend/src/Calendar/Agenda/AgendaEvent.js
  frontend/src/Calendar/Events/CalendarEvent.js
  frontend/src/Calendar/getStatusStyle.js
  frontend/src/Collection/Overview/CollectionMovieLabel.js
  frontend/src/Components/InfoLabel.css
  frontend/src/Components/InfoLabel.css.d.ts
  frontend/src/Components/InfoLabel.js
  frontend/src/Components/ProgressBar.css
  frontend/src/Components/ProgressBar.css.d.ts
  frontend/src/Components/ProgressBar.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieStatusLabel.css
  frontend/src/Movie/Details/MovieStatusLabel.css.d.ts
  frontend/src/Movie/Details/MovieStatusLabel.js
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
  frontend/src/Utilities/Movie/getProgressBarKind.ts
  frontend/src/Utilities/Movie/getStatusStyle.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Excluded movies on search results
  frontend/src/AddMovie/AddNewMovie/AddNewMovieConnector.js
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResultConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieConnector.js
  frontend/src/Store/Selectors/createExclusionMovieSelector.js
  src/Radarr.Api.V3/Movies/MovieLookupController.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

New: Runtime for auto tagging
  src/NzbDrone.Core/AutoTagging/Specifications/RuntimeSpecification.cs
Labels: none

Fixed: Removing invalid statuses on provider deletion
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusServiceBase.cs
Labels: none

Fixed: Validation for Movie Info language
  frontend/src/Settings/UI/UISettings.js
  frontend/src/typings/UiSettings.ts
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Config/UiConfigController.cs
Labels: Area: API, Area: UI

Cache root folders and improve getting disk space for movie path roots
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
  src/NzbDrone.Core/RootFolders/RootFolderService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 5.9.1
  azure-pipelines.yml
Labels: none

New: Track Kometa metadata files
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Kometa/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Kometa/KometaMetadataSettings.cs
Labels: none

Remove provider status on provider deletion
  src/NzbDrone.Core/ThingiProvider/Status/ProviderStatusRepository.cs
Labels: none

Convert SeriesTitleLink to TypeScript
  frontend/src/Series/SeriesTitleLink.tsx
Labels: Area: UI

New: Configure log file size limit in UI
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/General/LoggingSettings.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Api.V3/Config/HostConfigResource.cs
Labels: Area: API, Area: UI

Use autoprefixer in UI build
  frontend/postcss.config.js
  package.json
  yarn.lock
Labels: Area: UI

Bump babel packages
  package.json
  yarn.lock
Labels: Area: UI

Apply suggestions from code review
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
Labels: Area: Download Clients

Fix typos and improve log messages
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleService.cs
  src/NzbDrone.Core/Movies/Translations/MovieTranslationService.cs
  src/NzbDrone.Core/Notifications/Mailgun/MailgunProxy.cs
  src/Radarr.Api.V3/ProviderResource.cs
Labels: Area: API, Area: Notifications

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pl.json
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Bump version to 5.10.0
  azure-pipelines.yml
Labels: none

New: Bulk manage custom formats
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.css
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/typings/CustomFormat.ts
  src/NzbDrone.Core/CustomFormats/CustomFormatService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/CustomFormats/CustomFormatBulkResource.cs
  src/Radarr.Api.V3/CustomFormats/CustomFormatController.cs
Labels: Area: API, Area: UI

Fixed: Limit redirects after login to local paths
  src/Radarr.Http/Authentication/AuthenticationController.cs
Labels: none

New: Bulk manage custom formats
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/Edit/ManageCustomFormatsEditModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModal.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.css.d.ts
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalRow.tsx
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsToolbarButton.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.css
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.css
  frontend/src/Store/Actions/Settings/customFormats.js
  frontend/src/Store/Actions/Settings/downloadClients.js
  frontend/src/Store/Actions/Settings/indexers.js
  frontend/src/typings/CustomFormat.ts
  src/NzbDrone.Core/CustomFormats/CustomFormatService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/CustomFormats/CustomFormatBulkResource.cs
  src/Radarr.Api.V3/CustomFormats/CustomFormatController.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Validate root folder existence when adding movie
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Validate root folder existence when adding movie
  src/NzbDrone.Core/Validation/Paths/RootFolderExistsValidator.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Improve sorting movies by release dates
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/Movie.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

Fixed: Improve sorting movies by release dates
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/Movie.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

Fix: Use indexer's Multi Languages setting for pushed releases
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Indexer, Area: Parser

Fixed: Keeping search results when Missing/Cutoff Unmet repopulates
  frontend/src/InteractiveSearch/InteractiveSearchFilterMenu.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterMenuConnector.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/MovieSearchCell.js
  frontend/src/Movie/MovieSearchCell.tsx
  frontend/src/Movie/MovieSearchCellConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
Labels: Area: UI

Fixed: Keeping search results when Missing/Cutoff Unmet repopulates
  frontend/src/InteractiveSearch/InteractiveSearchFilterMenu.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterMenuConnector.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/MovieSearchCell.js
  frontend/src/Movie/MovieSearchCell.tsx
  frontend/src/Movie/MovieSearchCellConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
Labels: Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
