Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Reject multi-part files with P1, P2, etc.
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Specifications/NotMultiPartSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/NotMultiPartSpecification.cs
Labels: none

Fixed: Reject multi-part files with P1, P2, etc.
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Specifications/NotMultiPartSpecificationFixture.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Specifications/NotMultiPartSpecification.cs
Labels: none

add new parameter to ParsedMovieInfo in order to store any extra release title parameters
  src/NzbDrone.Core/Parser/Model/ParsedMovieInfo.cs
Labels: Area: Parser

fix if nesting
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

move title file extension removal after the matching the regex
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

add new release title extra parameters regex and assign the values to the TitleExtraParameters field of the ParsedMovieInfo
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

match custom formats on the extra parameters extracted from the release title
  src/NzbDrone.Core/CustomFormats/Specifications/ReleaseTitleSpecification.cs
Labels: none

Building docs on ARM
  docs.sh
Labels: none

New: Migrated StevenLu URL to new URL
  src/NzbDrone.Core.Test/Datastore/Migration/241_stevenlu_update_urlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/241_stevenlu_update_url.cs
Labels: Area: Db-migration

New: Migrated StevenLu URL to new URL
  src/NzbDrone.Core.Test/Datastore/Migration/241_stevenlu_update_urlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/241_stevenlu_update_url.cs
Labels: Area: Db-migration

rename additional release title parameters from extra to post
  src/NzbDrone.Core/CustomFormats/Specifications/ReleaseTitleSpecification.cs
  src/NzbDrone.Core/Parser/Model/ParsedMovieInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Bump version to 5.19.1
  azure-pipelines.yml
Labels: none

Fixed: Parse GER/DE releases as German language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Parse GER/DE releases as German language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Parsing some titles with FRE as French and ITA as Italian
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Close Metadata settings modal on saving
  frontend/src/Settings/Metadata/Metadata/EditMetadataModalContent.tsx
Labels: Area: UI

Bump version to 5.19.2
  azure-pipelines.yml
Labels: none

Fix download links for FileList when passkey contains spaces
  src/NzbDrone.Core/Indexers/FileList/FileListParser.cs
Labels: Area: Indexer

New: Add Download Protocol to Custom Formats and Movie Files
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatInput.cs
  src/NzbDrone.Core/CustomFormats/Specifications/DownloadProtocolSpecification.cs
  src/NzbDrone.Core/Datastore/Migration/242_add_download_protocol_to_moviefiles.cs
  src/NzbDrone.Core/History/HistoryService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/MovieFile.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Db-migration

Fixed: Processing existing movie files via Manage Files
  frontend/src/Movie/Details/MovieDetails.js
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportItem.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
  src/Radarr.Api.V3/ManualImport/ManualImportResource.cs
Labels: Area: API, Area: UI

Fixed: Processing existing movie files via Manage Files
  frontend/src/Movie/Details/MovieDetails.js
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportItem.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/Radarr.Api.V3/ManualImport/ManualImportController.cs
  src/Radarr.Api.V3/ManualImport/ManualImportResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

New: Movie Requested filter for interactive search
  frontend/src/Store/Actions/releaseActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/RemoteMovie.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Radarr.Api.V3/Indexers/ReleaseController.cs
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API, Area: Parser, Area: UI

New: Movie Requested filter for interactive search
  frontend/src/Store/Actions/releaseActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/RemoteMovie.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/Radarr.Api.V3/Indexers/ReleaseController.cs
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API, Area: Parser, Area: UI

Fixed: Fallback to Instance Name for Discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

Fixed: Only show Additional Parameters on Trakt Popular list
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularSettings.cs
  src/NzbDrone.Core/ImportLists/Trakt/TraktSettingsBase.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Import Lists

Translate Trakt popular list types
  src/NzbDrone.Core/ImportLists/Trakt/Popular/TraktPopularListType.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Import Lists

Cleanse console log messages
  src/NzbDrone.Common/Instrumentation/CleansingClefLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingConsoleLogLayout.cs
  src/NzbDrone.Common/Instrumentation/CleansingFileTarget.cs
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Core/Instrumentation/ReconfigureLogging.cs
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
