Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Recompare file size after import file if necessary
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Fixed: Error updating providers with ID missing from JSON
  src/Radarr.Api.V3/ProviderControllerBase.cs
Labels: Area: API

Fixed: Error updating providers with ID missing from JSON
  src/Radarr.Api.V3/ProviderControllerBase.cs
Labels: Area: API

Convert FormInputButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Form/FormInputButton.tsx
Labels: Area: UI

Convert Naming options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.js
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  frontend/src/Settings/MediaManagement/Naming/TokenCase.ts
  frontend/src/Settings/MediaManagement/Naming/TokenSeparator.ts
  frontend/src/typings/Settings/NamingConfig.ts
  frontend/src/typings/Settings/NamingExample.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Improve filename examples for movies naming
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: Area: UI

Convert ClipboardButton to TypeScript
  frontend/src/Components/Link/ClipboardButton.js
  frontend/src/Components/Link/ClipboardButton.tsx
  frontend/src/Utilities/getUniqueElementId.js
  package.json
  yarn.lock
Labels: Area: UI

Fixed: Copy to clipboard in non-secure contexts
  frontend/src/Components/Link/ClipboardButton.tsx
  package.json
  yarn.lock
Labels: Area: UI

Bump browserslist-db
  yarn.lock
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Recompare file size after import file if necessary
  src/NzbDrone.Common/Disk/DiskTransferService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Update Directory.Build.props
  src/Directory.Build.props
Labels: none

Update Directory.Build.props
  src/Directory.Build.props
Labels: none

New: Parse IMDB and TMDB URLs as search terms
  src/NzbDrone.Core.Test/MetadataSource/SkyHook/SkyHookProxySearchFixture.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Update ImportList.ts
  frontend/src/typings/ImportList.ts
Labels: Area: UI

Add RetroApplyTags column to additional tables
  src/NzbDrone.Core/Datastore/Migration/241_add_retroapply_to_importlists.cs
Labels: Area: Db-migration

Add RetroApplyTags column to multiple tables
  src/NzbDrone.Core/Datastore/Migration/241_add_retroapply_to_importlists.cs
Labels: Area: Db-migration

Fix index variable in fuse worker
  frontend/src/Components/Page/Header/fuse.worker.js
Labels: Area: UI

Bump dotnet packages
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Integration.Test/Radarr.Integration.Test.csproj
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
Labels: none

Bump frontend packages
  package.json
  yarn.lock
Labels: Area: UI

New: Parse IMDB and TMDB URLs as search terms
  src/NzbDrone.Core.Test/MetadataSource/SkyHook/SkyHookProxySearchFixture.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Bump dotnet packages
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
  src/NzbDrone.Integration.Test/Radarr.Integration.Test.csproj
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
Labels: none

Bump frontend packages
  package.json
  yarn.lock
Labels: Area: UI

Auto-detect building on macOS ARM (#10539)
  src/Directory.Build.props
Labels: none

Simplify parsing IMDb and TMDb urls as search terms
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

Trim multiple occurrences of ending separators in filename
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Bump dotnet to 6.0.35
  azure-pipelines.yml
Labels: none

Remove unused gulp packages
  package.json
  yarn.lock
Labels: Area: UI

Bump babel packages
  package.json
  yarn.lock
Labels: Area: UI

Update LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Include exception message in SkyHook failure message
  frontend/src/AddMovie/AddNewMovie/AddNewMovie.js
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: Area: UI

New: Display items tags on import lists index
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
Labels: Area: UI

Update LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Update LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Update LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Bump version to 5.13.0
  azure-pipelines.yml
Labels: none

New: Parse ES as Spanish
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser
