Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Bump MailKit and Microsoft.Data.SqlClient
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Rename PTP_Golden and PTP_Approved flags to be more generic
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
Labels: Area: Indexer, Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump MailKit and Microsoft.Data.SqlClient
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Fixed: Validation for tags label
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

Change authentication to Forms if set to Basic
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/UiAuthorizationPolicyProvider.cs
Labels: none

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

New: Validation for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Bump Swashbuckle to 8.1.4
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: Area: API, Area: UI

Fixed: Removed support for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

Fix clearing pending changes for First Run
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
Labels: Area: UI

Fix syntax
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Improve IMDb list logging
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListParser.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
Labels: Area: Import Lists

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

fixup!
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
Labels: Area: Import Lists

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fixed: Fix Indexer Flag color
  frontend/src/MovieFile/Editor/MovieFileEditorRow.js
Labels: Area: UI

align parsing with upstream
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/199_mediainfo_to_ffmpeg.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/SceneNameCalculator.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Db-migration, Area: Parser

Fixed: Treat TAoE and QxR as release groups
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

Fixed: Treat 126811 as an exception release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

fixup! align parsing with upstream
  src/NzbDrone.Core/Parser/ParserCommon.cs
Labels: Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Bump to 6.0.1
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

New: Add MovieCollectionThe Naming Token (#11145)
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CollectionTheFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

Fixed: Improve IMDb list logging
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListImport.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListParser.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
Labels: Area: Import Lists

Fixed: Treat TAoE and QxR as release groups
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

align parsing with upstream
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/199_mediainfo_to_ffmpeg.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/SceneNameCalculator.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Db-migration, Area: Parser

New: Prioritize Exact Exception Release Group Matches over non-Exact Exception Groups
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

align parsing with upstream
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/UrlFixture.cs
  src/NzbDrone.Core/Datastore/Migration/199_mediainfo_to_ffmpeg.cs
  src/NzbDrone.Core/MediaFiles/FileExtensions.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/SceneNameCalculator.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParserCommon.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Db-migration, Area: Parser

Fixed: Treat TAoE and QxR as release groups
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

New: Prioritize Exact Exception Release Group Matches over non-Exact Exception Groups
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
