Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Allow files to be moved from Torrent Blackhole even when remove is disabled
  src/NzbDrone.Core.Test/Download/DownloadClientTests/Blackhole/TorrentBlackholeFixture.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/UsenetBlackhole.cs
Labels: Area: Download Clients

Allow `GetFileSize` to follow symlinks
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
Labels: none

Fixed: Normalize unicode characters when comparing paths for equality
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
  src/NzbDrone.Common/PathEqualityComparer.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Version Bump to force build
  azure-pipelines.yml
Labels: none

fix macos image version
  azure-pipelines.yml
Labels: none

fixup tests
  src/NzbDrone.Core.Test/Download/DownloadApprovedReportsTests/DownloadApprovedFixture.cs
Labels: none

Fixed: Release dates for Discover Movie posters
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
Labels: Area: UI

Fixed: Release dates for Discover Movie posters
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
Labels: Area: UI

Bump version to 5.16.0
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

fixed issues with test
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Specifications/AlreadyImportedSpecificationFixture.cs
Labels: none

Multiple Translations updated by Weblate (#10688)
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

New: Add Albanian language.
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeProxy.cs
Labels: Area: Download Clients

Webpack web target
  frontend/build/webpack.config.js
Labels: Area: UI

Support Postgres with non-standard version string
  src/NzbDrone.Core.Test/Datastore/DatabaseVersionParserFixture.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DatabaseVersionParser.cs
Labels: none

Webpack web target
  frontend/build/webpack.config.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: Replace 'Ben the Man' release group parsing with 'Ben the Men'
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Support for new SABnzbd history retention values
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
Labels: Area: Download Clients

New: Replace 'Ben the Man' release group parsing with 'Ben the Men'
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Add headers setting in webhook connection
  frontend/src/Components/Form/KeyValueListInput.js
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/KeyValueListInputItem.css
  frontend/src/Components/Form/KeyValueListInputItem.css.d.ts
  frontend/src/Components/Form/KeyValueListInputItem.js
  frontend/src/Components/Form/KeyValueListInputItem.tsx
  frontend/src/Components/Form/ProviderFieldFormGroup.js
  frontend/src/typings/inputs.ts
  src/NzbDrone.Common/Reflection/ReflectionExtensions.cs
  src/NzbDrone.Core/Annotations/FieldDefinitionAttribute.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Webhook/WebhookProxy.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookSettings.cs
Labels: Area: Notifications, Area: UI

New: Add Albanian language (#10663)
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Fixed: Avoid default category on existing Transmission configurations
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionSettings.cs
Labels: Area: Download Clients

New: Add Afrikaans language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Fixed path in downloading to root folder check message
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Custom Format upgrading not respecting 'Upgrades Allowed'
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Prevent lack of internet from stopping all health checks from running
  src/NzbDrone.Core/HealthCheck/Checks/SystemTimeCheck.cs
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fix cutoff fixture
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
Labels: none

New: Add Afrikaans language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_HANS.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

New: Add Movie Studio to Folder Name
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

Support Postgres with non-standard version string
  src/NzbDrone.Core.Test/Datastore/DatabaseVersionParserFixture.cs
  src/NzbDrone.Core/Datastore/Database.cs
  src/NzbDrone.Core/Datastore/DatabaseVersionParser.cs
Labels: none

Bump version to 5.16.1
  azure-pipelines.yml
Labels: none

New: Support for new SABnzbd history retention values
  src/NzbDrone.Core.Test/Download/DownloadClientTests/SabnzbdTests/SabnzbdFixture.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/Sabnzbd.cs
  src/NzbDrone.Core/Download/Clients/Sabnzbd/SabnzbdCategory.cs
Labels: Area: Download Clients

Deluge communication improvements
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/Deluge/DelugeProxy.cs
Labels: Area: Download Clients

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
