Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Parse ES as Spanish
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

New: Sync UI updates for providers
  frontend/src/Components/SignalRConnector.js
  src/Radarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Radarr.Api.V3/ImportLists/ImportListController.cs
  src/Radarr.Api.V3/Indexers/IndexerController.cs
  src/Radarr.Api.V3/Metadata/MetadataController.cs
  src/Radarr.Api.V3/Notifications/NotificationController.cs
  src/Radarr.Api.V3/ProviderControllerBase.cs
Labels: Area: API, Area: UI

Remove RetroApplyTags from multiple tables
  src/NzbDrone.Core/Datastore/Migration/241_add_retroapply_to_importlists.cs
  src/NzbDrone.Core/ImportLists/ImportListDefinition.cs
  src/NzbDrone.Core/ThingiProvider/ProviderDefinition.cs
  src/Radarr.Api.V3/ProviderResource.cs
Labels: Area: API, Area: Db-migration, Area: Import Lists

Remove RetroApplyTags property from ProviderResource.
  src/Radarr.Api.V3/ProviderResource.cs
Labels: Area: API

Add retroApplyTags boolean to openapi.json
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Remove retroApplyTags from openapi.json
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Bump dotnet to 6.0.35
  azure-pipelines.yml
Labels: none

New: Match releases with pt-BR (BPC-47) with Portuguese Brazilian
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Update src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

New: Parse pt-BR releases as Brazilian Portuguese (#10554)
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/sk.json
Labels: none

Ignore BSD and linux-x86 missing test result fails
  azure-pipelines.yml
Labels: none

Fixed: Migrate appdata folder on dotnet 8 for OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Fail build on missing test results
  azure-pipelines.yml
Labels: none

Fixed: Release Year mandatory to generate valid file formats
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
Labels: Area: Organizer

Fixed: Add only movies with release dates from monitored collections
  src/NzbDrone.Core/Movies/RefreshCollectionService.cs
Labels: none

Fixed: Add only movies with release dates from monitored collections
  src/NzbDrone.Core/Movies/RefreshCollectionService.cs
Labels: none

Fixed: Release Year mandatory to generate valid file formats
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

Fixed: Release Year mandatory to generate valid file formats
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
  src/NzbDrone.Core/Organizer/FileNameValidationService.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

New: Sync updates to UI for providers (#10550)
  frontend/src/Components/SignalRConnector.js
  src/Radarr.Api.V3/DownloadClient/DownloadClientController.cs
  src/Radarr.Api.V3/ImportLists/ImportListController.cs
  src/Radarr.Api.V3/Indexers/IndexerController.cs
  src/Radarr.Api.V3/Metadata/MetadataController.cs
  src/Radarr.Api.V3/Notifications/NotificationController.cs
  src/Radarr.Api.V3/ProviderControllerBase.cs
Labels: Area: API, Area: UI

Natural sorting for tags list in the UI
  frontend/src/Settings/Tags/TagsConnector.js
Labels: Area: UI

New: Romania and India added to list of Certification Countries
  frontend/src/Settings/Metadata/Options/MetadataOptions.js
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/TMDbCountryCode.cs
Labels: Area: UI

New: Romania and India added to list of Certification Countries
  frontend/src/Settings/Metadata/Options/MetadataOptions.js
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/TMDbCountryCode.cs
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fix stable branch label in update
  frontend/src/System/Updates/Updates.tsx
Labels: Area: UI

Bump version to 5.13.1
  azure-pipelines.yml
Labels: none

Fallback to text searches for FL only if year is defined
  src/NzbDrone.Core/Indexers/FileList/FileListRequestGenerator.cs
Labels: Area: Indexer

Improve warning for missing release dates on movie details page when year is not set
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Tooltips for certification and runtime on details page
  frontend/src/Movie/Details/MovieDetails.js
Labels: Area: UI

Convert App to TypeScript
  frontend/src/App/App.tsx
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/AppUpdatedModal.js
  frontend/src/App/AppUpdatedModal.tsx
  frontend/src/App/AppUpdatedModalConnector.js
  frontend/src/App/AppUpdatedModalContent.js
  frontend/src/App/AppUpdatedModalContent.tsx
  frontend/src/App/AppUpdatedModalContentConnector.js
  frontend/src/App/ColorImpairedContext.ts
  frontend/src/App/ConnectionLostModal.tsx
  frontend/src/App/ConnectionLostModalConnector.js
  frontend/src/App/State/AppState.ts
  frontend/src/Components/Page/Page.js
  package.json
  yarn.lock
Labels: Area: UI

New: Parse JPN as Japanese and KOR as Korean
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Rename 'On Import' to 'On File Import' and 'On Upgrade' to 'On File Upgrade'
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: PWA Manifest with URL base
  frontend/build/webpack.config.js
  frontend/src/Content/Images/Icons/browserconfig.xml
  frontend/src/Content/Images/Icons/manifest.json
  frontend/src/Content/browserconfig.xml
  frontend/src/Content/manifest.json
  frontend/src/index.ejs
  frontend/src/login.html
  src/Radarr.Http/Frontend/Mappers/BrowserConfig.cs
  src/Radarr.Http/Frontend/Mappers/ManifestMapper.cs
  src/Radarr.Http/Frontend/Mappers/StaticResourceMapper.cs
  src/Radarr.Http/Frontend/Mappers/UrlBaseReplacementResourceMapperBase.cs
Labels: Area: UI

Save ImdbId for grabbed movie events
  frontend/src/typings/History.ts
  src/NzbDrone.Core/History/HistoryService.cs
Labels: Area: UI

Parse "tmdbid" and "imdb" attributes in Newznab and Torznab parsers
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Indexers/Torznab/TorznabRssParser.cs
Labels: Area: Indexer

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none
