Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Add Macedonian and Slovenian languages
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: Area: Import Lists, Area: Parser

New: Add Malayalam and Kannada languages
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

New: Add Macedonian and Slovenian languages
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: Area: Import Lists, Area: Parser

New: Add Malayalam and Kannada languages
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Fixed: Released as default Minimum Availability for add movie modals
  frontend/src/Store/Actions/addMovieActions.js
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieCollectionActions.js
Labels: Area: UI

Fixed: Existing and Already In Library icons for movie search results
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
Labels: Area: UI

Fixed: Importing files without media info available
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
Labels: none

Fixed: Importing files without media info available
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/UpdateMediaInfoServiceFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/UpdateMediaInfoService.cs
Labels: none

New Custom Filters based on Availability
  frontend/src/Components/Filter/Builder/DateFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderTypes.js
  frontend/src/Helpers/Props/filterTypes.js
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Movie.ts
  frontend/src/Movie/MovieFileStatus.js.old
  frontend/src/Movie/MovieFileStatusConnector.js.old
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  frontend/src/Utilities/Date/dateFilterPredicate.js
  frontend/src/Utilities/Movie/getStatusStyle.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/Movie.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

fix rebase error
  src/NzbDrone.Core/Movies/Movie.cs
Labels: none

reset/set a tag during cleanLibrary so that items can be filtered with custom filter etc. Its much better than just having the log info message
  frontend/src/Settings/ImportLists/Options/ImportListOptions.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/Settings/Tags/Tag.js
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
  src/Radarr.Api.V3/Tags/TagDetailsResource.cs
Labels: Area: API, Area: Import Lists, Area: UI

When triggered manually forceSync all lists
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/ImportLists/FetchAndParseImportListService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

fix unusedTagCLeanup in housekeeping
  frontend/src/Settings/Tags/Tag.js
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
  src/Radarr.Api.V3/Tags/TagDetailsResource.cs
Labels: Area: API, Area: UI

rebase fix
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
Labels: Area: UI

Fixed: Forbid empty spaces in Release Profile restrictions
  frontend/src/Components/Form/TextTagInputConnector.js
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
Labels: Area: API, Area: UI

Fixed: Forbid empty spaces in Release Profile restrictions
  frontend/src/Components/Form/TextTagInputConnector.js
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
Labels: Area: API, Area: UI

Refactor include time for movie history
  frontend/src/Activity/Queue/TimeleftCell.js
  frontend/src/Calendar/Day/DayOfWeek.js
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  frontend/src/Movie/History/MovieHistoryRow.js
  frontend/src/Movie/Index/Overview/MovieIndexOverviewInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Utilities/Date/getRelativeDate.js
  frontend/src/Utilities/Date/getRelativeDate.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert RelativeDateCell to TypeScript
  frontend/src/Activity/Blocklist/BlocklistRow.js
  frontend/src/Activity/History/HistoryRow.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/Components/Table/Cells/RelativeDateCell.js
  frontend/src/Components/Table/Cells/RelativeDateCell.tsx
  frontend/src/Components/Table/Cells/RelativeDateCellConnector.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/InteractiveImport/Folder/RecentFolderRow.js
  frontend/src/Movie/History/MovieHistoryRow.js
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/MovieFile/Editor/MovieFileEditorRow.js
  frontend/src/System/Backup/BackupRow.js
  frontend/src/System/Events/LogsTableRow.js
  frontend/src/System/Logs/Files/LogFilesTableRow.js
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
Labels: Area: UI

Fixed: Don't show today's relative time for release dates
  frontend/src/Components/Table/Cells/RelativeDateCell.tsx
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
Labels: Area: UI

Bump version to 5.10.2
  azure-pipelines.yml
Labels: none

New: Parse subtitle titles
  src/NzbDrone.Core.Test/Datastore/Migration/238_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/238_parse_titles_from_existing_subtitle_files.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFile.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateEdition.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateLanguage.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateQuality.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseGroup.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/IAggregateLocalMovie.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Model/LocalMovie.cs
  src/NzbDrone.Core/Parser/Model/SubtitleTitleInfo.cs
Labels: Area: Db-migration, Area: Parser

New: Expose subtitle title and disposition in UI
  frontend/src/MovieFile/ExtraFile.ts
  frontend/src/MovieFile/Extras/ExtraFileDetailsPopover.tsx
  frontend/src/MovieFile/Extras/ExtraFileRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/ExtraFiles/ExtraFileResource.cs
Labels: Area: API, Area: UI

Do not remove all extras when script importing
  src/NzbDrone.Core/Extras/ExistingExtraFileService.cs
  src/NzbDrone.Core/Extras/IImportExistingExtraFiles.cs
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
  src/NzbDrone.Core/Extras/Metadata/ExistingMetadataImporter.cs
  src/NzbDrone.Core/Extras/Others/ExistingOtherExtraImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Metadata

Fix ignoring title based on pre-rename moviefile
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core/Extras/ExistingExtraFileService.cs
  src/NzbDrone.Core/Extras/IImportExistingExtraFiles.cs
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
  src/NzbDrone.Core/Extras/Metadata/ExistingMetadataImporter.cs
  src/NzbDrone.Core/Extras/Others/ExistingOtherExtraImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/MediaFiles/MovieFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
  src/NzbDrone.Core/Parser/Model/LocalMovie.cs
Labels: Area: Metadata, Area: Parser

Reimport files imported prematurely during script import
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
Labels: none

Do not remove all extras when script importing
  src/NzbDrone.Core/Extras/ExistingExtraFileService.cs
  src/NzbDrone.Core/Extras/IImportExistingExtraFiles.cs
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
  src/NzbDrone.Core/Extras/Metadata/ExistingMetadataImporter.cs
  src/NzbDrone.Core/Extras/Others/ExistingOtherExtraImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Metadata

Fix ignoring title based on pre-rename moviefile
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core/Extras/ExistingExtraFileService.cs
  src/NzbDrone.Core/Extras/IImportExistingExtraFiles.cs
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
  src/NzbDrone.Core/Extras/Metadata/ExistingMetadataImporter.cs
  src/NzbDrone.Core/Extras/Others/ExistingOtherExtraImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/MediaFiles/MovieFileMovingService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
  src/NzbDrone.Core/Parser/Model/LocalMovie.cs
Labels: Area: Metadata, Area: Parser

New: Parse subtitle titles
  src/NzbDrone.Core.Test/Datastore/Migration/238_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/238_parse_titles_from_existing_subtitle_files.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFile.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateEdition.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateLanguage.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateQuality.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseGroup.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/IAggregateLocalMovie.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Model/LocalMovie.cs
  src/NzbDrone.Core/Parser/Model/SubtitleTitleInfo.cs
Labels: Area: Db-migration, Area: Parser

New: Expose subtitle title and disposition in UI
  frontend/src/MovieFile/ExtraFile.ts
  frontend/src/MovieFile/Extras/ExtraFileDetailsPopover.tsx
  frontend/src/MovieFile/Extras/ExtraFileRow.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/ExtraFiles/ExtraFileResource.cs
Labels: Area: API, Area: UI

Reimport files imported prematurely during script import
  src/NzbDrone.Core/Extras/ImportExistingExtraFilesBase.cs
Labels: none

Fixed: Failing to import any file for movie if one has bad encoding
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportDecisionMaker.cs
Labels: none

New: Except language option for Language Custom Formats
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/MultiLanguageFixture.cs
  src/NzbDrone.Core.Test/CustomFormats/Specifications/LanguageSpecification/SingleLanguageFixture.cs
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core.Test/DecisionEngineTests/CutoffSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/QualityUpgradeSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core.Test/Qualities/QualityFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CutoffSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

Fixed: Respect Quality cutoff if Custom Format cutoff isn't met
  src/NzbDrone.Core.Test/DecisionEngineTests/CutoffSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/QualityUpgradeSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeDiskSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeSpecificationFixture.cs
  src/NzbDrone.Core.Test/Qualities/QualityFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/CutoffSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/HistorySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
  src/NzbDrone.Core/DecisionEngine/UpgradeableRejectReason.cs
Labels: none

New: Scene and Nuked IndexerFlags for Newznab indexers
  src/NzbDrone.Core.Test/Files/Indexers/Newznab/newznab_indexerflags.xml
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRssParser.cs
  src/NzbDrone.Core/Parser/Model/IndexerFlags.cs
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
Labels: Area: Indexer, Area: Parser

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Convert Blocklist to TypeScript
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/Blocklist/BlocklistConnector.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.js
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
  frontend/src/Activity/Blocklist/BlocklistRow.css
  frontend/src/Activity/Blocklist/BlocklistRow.css.d.ts
  frontend/src/Activity/Blocklist/BlocklistRow.js
  frontend/src/Activity/Blocklist/BlocklistRow.tsx
  frontend/src/Activity/Blocklist/BlocklistRowConnector.js
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/BlocklistAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/DownloadClient/DownloadProtocol.ts
  frontend/src/Movie/useMovie.ts
  frontend/src/Store/Actions/blocklistActions.js
  frontend/src/typings/Blocklist.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert Queue to TypeScript
  frontend/src/Activity/Queue/ProtocolLabel.css
  frontend/src/Activity/Queue/ProtocolLabel.css.d.ts
  frontend/src/Activity/Queue/ProtocolLabel.js
  frontend/src/Activity/Queue/ProtocolLabel.tsx
  frontend/src/Activity/Queue/Queue.js
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/Activity/Queue/QueueConnector.js
  frontend/src/Activity/Queue/QueueDetails.tsx
  frontend/src/Activity/Queue/QueueOptions.js
  frontend/src/Activity/Queue/QueueOptions.tsx
  frontend/src/Activity/Queue/QueueOptionsConnector.js
  frontend/src/Activity/Queue/QueueRow.js
  frontend/src/Activity/Queue/QueueRow.tsx
  frontend/src/Activity/Queue/QueueRowConnector.js
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Activity/Queue/QueueStatusCell.js
  frontend/src/Activity/Queue/QueueStatusCell.tsx
  frontend/src/Activity/Queue/RemoveQueueItemModal.tsx
  frontend/src/Activity/Queue/Status/QueueStatus.tsx
  frontend/src/Activity/Queue/Status/QueueStatusConnector.js
  frontend/src/Activity/Queue/Status/createQueueStatusSelector.ts
  frontend/src/Activity/Queue/TimeleftCell.tsx
  frontend/src/App/AppRoutes.js
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/QueueAppState.ts
  frontend/src/Components/Page/Sidebar/PageSidebar.js
  frontend/src/Helpers/Props/TooltipPosition.ts
  frontend/src/Movie/Index/Overview/MovieIndexOverviewInfo.tsx
  frontend/src/Movie/createMoviesFetchingSelector.ts
  frontend/src/Store/Actions/queueActions.js
  frontend/src/typings/Queue.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none
