Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Remove Basic Auth
  frontend/src/Settings/General/SecuritySettings.js
  src/NzbDrone.Core/Authentication/AuthenticationType.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
  src/Radarr.Http/Authentication/BasicAuthenticationHandler.cs
Labels: Area: API, Area: UI

Add 'qualitydefinition/limits' endpoint to get size limitations
  .gitignore
  src/NzbDrone.Api.Test/Radarr.Api.Test.csproj
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
  src/Radarr.Http/REST/RestController.cs
Labels: Area: API

Fixed: Handle null IMDb IDs in import list sync cleanup
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

Update src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

Fixed: Handling movies with empty IMDB IDs in lists clean library
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
Labels: Area: Import Lists

Fixed: Switch release indexer flags to bitwise
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/typings/Release.ts
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Area: API, Area: UI

Bump version to 5.26.2
  azure-pipelines.yml
Labels: none

Add 'qualitydefinition/limits' endpoint to get size limitations
  .gitignore
  src/NzbDrone.Api.Test/Radarr.Api.Test.csproj
  src/NzbDrone.Api.Test/v3/Qualities/QualityDefinitionResourceValidatorTest.cs
  src/NzbDrone.Core/Qualities/QualityDefinitionLimits.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionLimitsResource.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResourceValidator.cs
  src/Radarr.Http/REST/RestController.cs
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Bump SixLabors.ImageSharp to 3.1.9
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

feat(api): omit movieId to get all movies that need renames
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

Fixed: Hide separators when page toolbar shows all buttons on small screens
  frontend/src/Components/Page/Toolbar/PageToolbarSection.tsx
Labels: Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fix fullscreen automation screenshots
  src/NzbDrone.Automation.Test/AutomationTest.cs
  src/NzbDrone.Automation.Test/PageModel/PageBase.cs
Labels: none

Fix fullscreen automation screenshots
  src/NzbDrone.Automation.Test/AutomationTest.cs
  src/NzbDrone.Automation.Test/PageModel/PageBase.cs
Labels: none

Fixed: Escape backticks in discord notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
Labels: Area: Notifications

New: Update wording when removing a root folder
  frontend/src/RootFolder/RootFolderRow.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Prevent should refresh movie metadata from failing
  src/NzbDrone.Core/Movies/ShouldRefreshMovie.cs
Labels: none

Fixed: Include network drive types in Disk Space
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Bump version to 5.27.0
  azure-pipelines.yml
Labels: none

Bump Polly to 8.6.0
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Fixed: Skip title searches for Newznab/Torznab indexers when movie year is missing
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexer

Bump version to 5.27.1
  azure-pipelines.yml
Labels: none

refactor(api): ability to pass multiple movieIds to rename endpoint
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

refactor(api): clean up list logic
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
Labels: none

refactor(api): reduce db queries and lookup time
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
Labels: none

Update src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
Labels: none

Update src/Radarr.Api.V3/Movies/RenameMovieController.cs
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

fix(api): missing using
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

New: Support for multiple movieIds in Rename API endpoint
  src/NzbDrone.Core/MediaFiles/RenameMovieFileService.cs
  src/Radarr.Api.V3/Movies/RenameMovieController.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Deleting tags from UI
  frontend/src/Settings/Tags/Tag.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

fix(formatter): xvid not getting recognized correctly
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
Labels: none
