Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Sidebar flickering on mobile
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: Area: UI

Pass messages with arguments to NLog in LoggerExtensions
  src/NzbDrone.Common/Instrumentation/Extensions/LoggerExtensions.cs
Labels: none

Avoid varying logging message template between calls
  src/NzbDrone.Core/Indexers/RssSyncService.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
Labels: Area: Indexer, Area: Notifications

Improve messaging when NZB contains invalid XML
  src/NzbDrone.Core/Download/NzbValidationService.cs
Labels: none

Fixed: (PTP) Sorting releases by time added
  src/NzbDrone.Core/Indexers/PassThePopcorn/PassThePopcornRequestGenerator.cs
Labels: Area: Indexer

Bump version to 5.23.2
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
Labels: none

Improve Reject Messaging for pushed releases
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
Labels: none

Bump SixLabors.ImageSharp to 3.1.8
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Fail build on missing test results
  azure-pipelines.yml
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

Bump Swashbuckle to 8.1.1
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

New: Add Romansh language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

fix typos
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Build against v6-develop
  azure-pipelines.yml
Labels: none

Bump Swashbuckle to 8.1.1
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

fix regex typo
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump Swashbuckle to 8.1.1
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

Build against v6-develop
  azure-pipelines.yml
Labels: none

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Add v4 API
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Radarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V4/Movies/AlternativeTitleResource.cs
  src/Radarr.Api.V4/Movies/MovieCollectionResource.cs
  src/Radarr.Api.V4/Movies/MovieController.cs
  src/Radarr.Api.V4/Movies/MovieControllerWithSignalR.cs
  src/Radarr.Api.V4/Movies/MovieFolderAsRootFolderValidator.cs
  src/Radarr.Api.V4/Movies/MovieFolderController.cs
  src/Radarr.Api.V4/Movies/MovieLookupController.cs
  src/Radarr.Api.V4/Movies/MovieResource.cs
  src/Radarr.Api.V4/Movies/MovieStatisticsResource.cs
  src/Radarr.Api.V4/Radarr.Api.V4.csproj
  src/Radarr.Http/ApiInfoController.cs
  src/Radarr.Http/REST/RestController.cs
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.sln
Labels: none

v4 API docs
  azure-pipelines.yml
  docs.sh
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Radarr.Api.V3/openapi.json
  src/Radarr.Api.V4/openapi.json
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.Http/VersionedFeedControllerAttribute.cs
Labels: Area: API

Bump version to 5.23.3
  azure-pipelines.yml
Labels: none

New: Add Romansh language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

New: Add SwissGerman language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

fix typo
  src/NzbDrone.Core/Languages/Language.cs
Labels: none

revert: swissgerman as new language - parse it as german
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

map gsw -> deu
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

add gsw TestCase
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
Labels: none

Update LanguageParser.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

fix typo
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
