Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

New: Release type options for Calendar Feed
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Calendar/CalendarFeedController.cs
  src/Radarr.Api.V3/Calendar/CalendarReleaseType.cs
Labels: Area: API, Area: UI

New: Release type options for Calendar page
  frontend/src/App/State/CalendarAppState.ts
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Store/Actions/calendarActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Release type options for Calendar page
  frontend/src/App/State/CalendarAppState.ts
  frontend/src/Calendar/CalendarPage.tsx
  frontend/src/Calendar/Day/CalendarDay.tsx
  frontend/src/Calendar/Events/CalendarEvent.tsx
  frontend/src/Calendar/Options/CalendarOptionsModalContent.tsx
  frontend/src/Store/Actions/calendarActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Release type options for Calendar Feed
  frontend/src/Calendar/iCal/CalendarLinkModalContent.tsx
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Calendar/CalendarFeedController.cs
  src/Radarr.Api.V3/Calendar/CalendarReleaseType.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Improve edition naming for ordinals and certain keywords
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Fixed: Improve edition naming for ordinals and certain keywords
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Bump version to 5.26.1
  azure-pipelines.yml
Labels: none

feat(organizer): allow open curly bracket as prefix in TitleRegex
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

feat(organizer): add empty edition test
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
Labels: none

fix(organizer): imdb & edition tags
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

feat(organizer): support Jellyfin imdb matching
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

feat(organizer): improve TokenRegex matching logic
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Fixed: Display media info bitrates in bits (#11087)
  frontend/src/Utilities/Number/formatBitrate.ts
Labels: Area: UI

feat(organizer): don't allow separators as tagPrefix, tokenPrefix or tokenSuffix
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Sync react-slider props for Quality sliders with upstream
  frontend/src/Settings/Quality/Definition/QualityDefinition.css
  frontend/src/Settings/Quality/Definition/QualityDefinition.css.d.ts
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
Labels: Area: UI

Fixed: Quality sliders on some browsers
  frontend/src/Settings/Quality/Definition/QualityDefinition.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Fix translation token for root folders load error
  frontend/src/AddMovie/ImportMovie/Import/ImportMovie.js
  frontend/src/AddMovie/ImportMovie/SelectFolder/ImportMovieSelectFolder.js
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: Area: UI

fix(organizer): opening curly bracket as prefix
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Fixed: Allow opening curly bracket as prefix in naming format
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/EditionTagsFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/IdFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Convert SettingsToolbar to TypeScript
  frontend/src/Components/Page/Toolbar/PageToolbarSection.tsx
  frontend/src/Settings/AdvancedSettingsButton.js
  frontend/src/Settings/AdvancedSettingsButton.tsx
  frontend/src/Settings/CustomFormats/CustomFormatSettingsPage.tsx
  frontend/src/Settings/DownloadClients/DownloadClientSettings.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContent.js
  frontend/src/Settings/DownloadClients/DownloadClients/EditDownloadClientModalContentConnector.js
  frontend/src/Settings/General/GeneralSettings.js
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContentConnector.js
  frontend/src/Settings/Indexers/IndexerSettings.js
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.js
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContentConnector.js
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/Metadata/MetadataSettings.js
  frontend/src/Settings/Notifications/NotificationSettings.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContent.js
  frontend/src/Settings/Notifications/Notifications/EditNotificationModalContentConnector.js
  frontend/src/Settings/PendingChangesModal.js
  frontend/src/Settings/PendingChangesModal.tsx
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Quality/Quality.js
  frontend/src/Settings/Settings.tsx
  frontend/src/Settings/SettingsToolbar.js
  frontend/src/Settings/SettingsToolbar.tsx
  frontend/src/Settings/SettingsToolbarConnector.js
  frontend/src/Settings/Tags/TagSettings.js
  frontend/src/Settings/UI/UISettings.js
Labels: Area: UI

Convert ImportLists to TypeScript
  frontend/src/App/AppRoutes.tsx
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Movie/Details/Credits/Cast/MovieCastPoster.tsx
  frontend/src/Movie/Details/Credits/Crew/MovieCrewPoster.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportListSettings.tsx
  frontend/src/Settings/ImportLists/ImportListSettingsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModal.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModal.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListPresetMenuItem.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListPresetMenuItem.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModal.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModal.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalConnector.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportListsConnector.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/typings/ImportList.ts
Labels: Area: UI

New: Ability to clone Import Lists
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.tsx
  frontend/src/Store/Actions/Settings/importLists.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Allow more prefixes and suffixes for Release Year naming token
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

Add translation for missing movies count from collection
  frontend/src/Collection/Overview/CollectionOverview.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Allow more prefixes and suffixes for Release Year naming token
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Integration.Test/ApiTests/NamingConfigFixture.cs
Labels: Area: Organizer

Build against v6-develop
  azure-pipelines.yml
Labels: none

New: Default wanted language for quality profiles changed to Original
  src/NzbDrone.Core/Profiles/Qualities/QualityProfileService.cs
Labels: none

Bump Swashbuckle to 8.1.2
  docs.sh
  src/NzbDrone.Host/Radarr.Host.csproj
  src/Radarr.Api.V3/Radarr.Api.V3.csproj
Labels: Area: API

New: Migrate appdata folder for .NET 8 on OSX
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Add v4 API
  src/NzbDrone.Common/Extensions/IEnumerableExtensions.cs
  src/NzbDrone.Host/Bootstrap.cs
  src/NzbDrone.Host/Radarr.Host.csproj
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V4/Movies/AlternativeTitleResource.cs
  src/Radarr.Api.V4/Movies/MovieCollectionResource.cs
  src/Radarr.Api.V4/Movies/MovieController.cs
  src/Radarr.Api.V4/Movies/MovieControllerWithSignalR.cs
  src/Radarr.Api.V4/Movies/MovieFolderAsRootFolderValidator.cs
  src/Radarr.Api.V4/Movies/MovieFolderController.cs
  src/Radarr.Api.V4/Movies/MovieLookupController.cs
  src/Radarr.Api.V4/Movies/MovieResource.cs
  src/Radarr.Api.V4/Movies/MovieStatisticsResource.cs
  src/Radarr.Api.V4/Radarr.Api.V4.csproj
  src/Radarr.Http/ApiInfoController.cs
  src/Radarr.Http/REST/RestController.cs
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.sln
Labels: none

Bump version to 6.0.0
  azure-pipelines.yml
  src/NzbDrone.Common.Test/EnvironmentInfo/BuildInfoFixture.cs
Labels: none

New: Support removed for linux-x86
  azure-pipelines.yml
  build.sh
Labels: none

Fixed: Validation for tags label
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Fixed: Removed support for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/HealthCheck/Checks/NamingConfigCheck.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

New: Validation for movie file tokens in Movie Folder Format
  src/NzbDrone.Core/Organizer/FileNameValidation.cs
Labels: Area: Organizer

v4 API docs
  azure-pipelines.yml
  docs.sh
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionResource.cs
  src/Radarr.Api.V3/openapi.json
  src/Radarr.Api.V4/openapi.json
  src/Radarr.Http/VersionedApiControllerAttribute.cs
  src/Radarr.Http/VersionedFeedControllerAttribute.cs
Labels: Area: API
