Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_TW.json
Labels: none

Fixed: Avoid checking for free space if other specifications fail first
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

New: Add Blu-ray link to movie details
  frontend/src/Movie/Details/MovieDetailsLinks.tsx
Labels: Area: UI

Bump version to 5.19.2
  azure-pipelines.yml
Labels: none

New: Watch list sorting and rate limit for Trakt Import Lists
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserListType.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Trakt/TraktProxy.cs
Labels: Area: Import Lists, Area: Notifications

New: Watch list sorting and rate limit for Trakt Import Lists
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserImport.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserListType.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Trakt/User/TraktUserSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/Trakt/TraktProxy.cs
Labels: Area: Import Lists, Area: Notifications

Update XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

New: Add hdrtype attribute to XBMC metadata video streamdetails
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
Labels: none

Recommend against using uTorrent
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients

Bump version to 5.20.0
  azure-pipelines.yml
Labels: none

Bump Polly to 8.5.2
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Bump devcontainer nodejs version to 20
  .devcontainer/devcontainer.json
Labels: none

Fixed: Instance name must contain application name
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Replace diacritics in Clean Title naming tokens
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Fixed: Replace diacritics in Clean Title naming tokens
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Convert Interactive Search to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MovieBlocklistAppState.ts
  frontend/src/App/State/MovieHistoryAppState.ts
  frontend/src/App/State/ReleasesAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterModal.tsx
  frontend/src/InteractiveSearch/InteractiveSearchFilterModalConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchPayload.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRowConnector.js
  frontend/src/InteractiveSearch/Peers.tsx
  frontend/src/Movie/Details/MovieDetailsConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
  frontend/src/typings/Release.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Fixed: Parsing some titles with FRA as French
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Fixed: Parsing some titles with FRA as French
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
Labels: none

Convert Interactive Search to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MovieBlocklistAppState.ts
  frontend/src/App/State/MovieHistoryAppState.ts
  frontend/src/App/State/ReleasesAppState.ts
  frontend/src/Components/Table/Column.ts
  frontend/src/InteractiveSearch/InteractiveSearch.js
  frontend/src/InteractiveSearch/InteractiveSearch.tsx
  frontend/src/InteractiveSearch/InteractiveSearchConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchFilterModal.tsx
  frontend/src/InteractiveSearch/InteractiveSearchFilterModalConnector.js
  frontend/src/InteractiveSearch/InteractiveSearchPayload.ts
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRowConnector.js
  frontend/src/InteractiveSearch/Peers.tsx
  frontend/src/Movie/Details/MovieDetailsConnector.js
  frontend/src/Movie/Search/MovieInteractiveSearchModal.tsx
  frontend/src/Movie/Search/MovieInteractiveSearchModalContent.tsx
  frontend/src/typings/Release.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Convert Movie Formats/Status/CollectionLabel to TypeScript
  frontend/src/App/State/MovieCollectionAppState.ts
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveImport/InteractiveImport.ts
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Movie.ts
  frontend/src/Movie/MovieCollectionLabel.js
  frontend/src/Movie/MovieCollectionLabel.tsx
  frontend/src/Movie/MovieCollectionLabelConnector.js
  frontend/src/Movie/MovieFormats.js
  frontend/src/Movie/MovieFormats.tsx
  frontend/src/Movie/MovieStatus.tsx
  frontend/src/Movie/MovieStatusConnector.js
  frontend/src/Movie/useMovie.ts
  frontend/src/Store/Selectors/createCollectionSelector.ts
  frontend/src/Store/Selectors/createQueueItemSelector.ts
  frontend/src/Wanted/CutoffUnmet/CutoffUnmetRow.js
  frontend/src/Wanted/Missing/MissingRow.js
  frontend/src/typings/MovieCollection.ts
Labels: Area: UI

Convert MoveMovieModal to TypeScript
  frontend/src/Movie/MoveMovie/MoveMovieModal.css
  frontend/src/Movie/MoveMovie/MoveMovieModal.css.d.ts
  frontend/src/Movie/MoveMovie/MoveMovieModal.js
  frontend/src/Movie/MoveMovie/MoveMovieModal.tsx
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

Increase input sizes in edit movie modal
  frontend/src/Movie/Edit/EditMovieModalContent.tsx
Labels: Area: UI

Bump SixLabors.ImageSharp to 3.1.7
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Convert SelectMovieRow to TypeScript
  frontend/src/InteractiveImport/Movie/SelectMovieModalContent.tsx
  frontend/src/InteractiveImport/Movie/SelectMovieRow.js
  frontend/src/InteractiveImport/Movie/SelectMovieRow.tsx
Labels: Area: UI

Convert Preview Rename to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/OrganizePreviewAppState.ts
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Organize/OrganizePreviewModal.js
  frontend/src/Organize/OrganizePreviewModal.tsx
  frontend/src/Organize/OrganizePreviewModalConnector.js
  frontend/src/Organize/OrganizePreviewModalContent.js
  frontend/src/Organize/OrganizePreviewModalContent.tsx
  frontend/src/Organize/OrganizePreviewModalContentConnector.js
  frontend/src/Organize/OrganizePreviewRow.js
  frontend/src/Organize/OrganizePreviewRow.tsx
  frontend/src/typings/inputs.ts
Labels: Area: UI

Convert Delete Movie Modal to TypeScript
  frontend/src/Movie/Delete/DeleteMovieModal.js
  frontend/src/Movie/Delete/DeleteMovieModal.tsx
  frontend/src/Movie/Delete/DeleteMovieModalContent.js
  frontend/src/Movie/Delete/DeleteMovieModalContent.tsx
  frontend/src/Movie/Delete/DeleteMovieModalContentConnector.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Movie.ts
Labels: Area: UI

Bump version to 5.20.1
  azure-pipelines.yml
Labels: none

Use 'text-wrap: balance' for text wrapping on overview
  frontend/src/Movie/Details/MovieDetails.css
Labels: Area: UI

Clear search results when switching between movies
  frontend/src/Movie/Details/MovieDetails.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Disable left/right arrow navigation when a modal is open on Movie Details
  frontend/src/Movie/Details/MovieDetails.tsx
Labels: Area: UI
