Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Don't reject revision upgrades if profile doesn't allow upgrades
  src/NzbDrone.Core.Test/DecisionEngineTests/UpgradeAllowedSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
Labels: none

Fixed: Ignore '.DS_Store' and '.unmanic' when scanning for files
  src/NzbDrone.Core.Test/MediaFiles/DiskScanServiceTests/ScanFixture.cs
  src/NzbDrone.Core/MediaFiles/DiskScanService.cs
Labels: none

Fixed: Parsing of Hybrid-Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 5.12.1
  azure-pipelines.yml
Labels: none

Add new category for FL
  src/NzbDrone.Core/Indexers/FileList/FileListSettings.cs
Labels: Area: Indexer

Fix typo README.md
  README.md
Labels: none

Fix typo README.md (#10502)
  README.md
Labels: none

Display long date tooltips for release dates
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
Labels: Area: UI

New: Parse 'BEN THE MAN' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Parse 'BEN THE MAN' release group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

New: Add 'Movie CleanTitleThe' token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleTheFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

Fixed: Validate path on movie update
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

New: Add 'Movie CleanTitleThe' token
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/CleanTitleTheFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer, Area: UI

Fixed: Validate path on movie update
  src/Radarr.Api.V3/Movies/MovieController.cs
Labels: Area: API

Fixed: Custom filters with release date filter
  frontend/src/Store/Actions/movieActions.js
Labels: Area: UI

Check if root folder is not empty on files import
  src/NzbDrone.Core.Test/MediaFiles/MovieFileMovingServiceTests/MoveMovieFileFixture.cs
  src/NzbDrone.Core/MediaFiles/MovieFileMovingService.cs
Labels: none

Convert Release Profiles to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalConnector.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContentConnector.js
  frontend/src/Settings/Profiles/Release/ReleaseProfile.js
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.js
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfilesConnector.js
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Convert Release Profiles to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalConnector.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContentConnector.js
  frontend/src/Settings/Profiles/Release/ReleaseProfile.js
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfileRow.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.js
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.tsx
  frontend/src/Settings/Profiles/Release/ReleaseProfilesConnector.js
  frontend/src/typings/Settings/ReleaseProfile.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Add retroactive tag application to import lists
  frontend/src/Settings/ImportLists/ImportLists/EditImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  src/Directory.Build.props
  src/NzbDrone.Core/Datastore/Migration/241_add_retroapply_to_importlists.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/ThingiProvider/ProviderDefinition.cs
  src/Radarr.Api.V3/ProviderResource.cs
Labels: Area: API, Area: Db-migration, Area: Import Lists, Area: UI

Fixed: Clean paths for top level root folders
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Fixed: Cleaning the path for movie collections with top level folders
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none

Convert FormInputButton to TypeScript
  frontend/src/Components/Form/FormInputButton.js
  frontend/src/Components/Form/FormInputButton.tsx
Labels: Area: UI

Convert Naming options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/MediaManagement/MediaManagement.js
  frontend/src/Settings/MediaManagement/Naming/Naming.js
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingConnector.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css
  frontend/src/Settings/MediaManagement/Naming/NamingOption.css.d.ts
  frontend/src/Settings/MediaManagement/Naming/NamingOption.js
  frontend/src/Settings/MediaManagement/Naming/NamingOption.tsx
  frontend/src/Settings/MediaManagement/Naming/TokenCase.ts
  frontend/src/Settings/MediaManagement/Naming/TokenSeparator.ts
  frontend/src/typings/Settings/NamingConfig.ts
  frontend/src/typings/Settings/NamingExample.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Improve filename examples for movies naming
  frontend/src/Settings/MediaManagement/Naming/Naming.tsx
  frontend/src/Settings/MediaManagement/Naming/NamingModal.tsx
Labels: Area: UI

Fixed: Cleaning the path for movie collections with top level folders
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none

Fixed: Clean paths for top level root folders
  src/NzbDrone.Common.Test/PathExtensionFixture.cs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Extensions/PathExtensions.cs
Labels: none

Simplify defaults set when adding release profiles and list exclusions
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModal.tsx
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.tsx
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.tsx
Labels: Area: UI

Fixed: Ignore free space check before grabbing if directory is missing
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Update localization file with retroactive tagging translation
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: Ignore free space check before grabbing if directory is missing
  src/NzbDrone.Core.Test/DecisionEngineTests/FreeSpaceSpecificationFixture.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/FreeSpaceSpecification.cs
Labels: none

Bump version to 5.12.2
  azure-pipelines.yml
Labels: none

Bump macOS runner version to 13
  azure-pipelines.yml
Labels: none

Added Original Title to Movie Details and to Add Movie Search Result + Changes from diff
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.css
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.css.d.ts
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Utilities/String/equalsIgnoringCase.ts
Labels: Area: UI

Bump macOS runner version to 13
  azure-pipelines.yml
Labels: none

New: Use 307 redirect for requests missing URL Base
  src/Radarr.Http/Middleware/UrlBaseMiddleware.cs
Labels: none

Update MovieDetailsLinks.tsx
  frontend/src/Movie/Details/MovieDetailsLinks.tsx
Labels: Area: UI

Update MovieDetailsLinks.tsx
  frontend/src/Movie/Details/MovieDetailsLinks.tsx
Labels: Area: UI

Use the first allowed quality for cutoff met rejection message with disabled upgrades
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradeDiskSpecification.cs
Labels: none

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
