Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Fixed: Selected value for empty root folder inputs
  frontend/src/Components/Form/Select/RootFolderSelectInputSelectedValue.tsx
Labels: Area: UI

Translate settings for Radarr import list
  src/NzbDrone.Core/ImportLists/Radarr/RadarrImport.cs
  src/NzbDrone.Core/ImportLists/Radarr/RadarrSettings.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Import Lists

Convert Modal components to TypeScript
  frontend/src/Components/Error/ErrorBoundary.tsx
  frontend/src/Components/Error/ErrorBoundaryError.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Modal/Modal.css
  frontend/src/Components/Modal/Modal.css.d.ts
  frontend/src/Components/Modal/Modal.js
  frontend/src/Components/Modal/Modal.tsx
  frontend/src/Components/Modal/ModalBody.js
  frontend/src/Components/Modal/ModalBody.tsx
  frontend/src/Components/Modal/ModalContent.js
  frontend/src/Components/Modal/ModalContent.tsx
  frontend/src/Components/Modal/ModalError.tsx
  frontend/src/Components/Modal/ModalFooter.js
  frontend/src/Components/Modal/ModalFooter.tsx
  frontend/src/Components/Modal/ModalHeader.js
  frontend/src/Components/Modal/ModalHeader.tsx
  frontend/typings/element-class.ts
Labels: Area: UI

Log when expected movie file is missing from disk on upgrade
  src/NzbDrone.Core/MediaFiles/UpgradeMediaFileService.cs
Labels: none

Fixed: Prevent new imports without deleting old movie files
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateMovie.cs
Labels: none

Fixed: Prevent new imports without deleting old movie files
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateMovie.cs
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Fixed: Autotagging using tag specification
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/Tag/MovieTagInput.tsx
Labels: Area: UI

Improve typings for select options
  frontend/src/Collection/CollectionFooter.js
  frontend/src/Components/Form/SelectInput.tsx
  frontend/src/DiscoverMovie/DiscoverMovieFooter.js
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
Labels: Area: UI

Convert Collection Footer to TypeScript
  frontend/src/Collection/Collection.js
  frontend/src/Collection/CollectionFooter.js
  frontend/src/Collection/CollectionFooter.tsx
  frontend/src/Collection/CollectionFooterLabel.js
  frontend/src/Collection/CollectionFooterLabel.tsx
  frontend/src/Collection/NoCollections.tsx
Labels: Area: UI

Convert Edit Movie Collection modal to TypeScript
  frontend/src/App/State/MovieCollectionAppState.ts
  frontend/src/Collection/Edit/EditCollectionModal.js
  frontend/src/Collection/Edit/EditCollectionModalConnector.js
  frontend/src/Collection/Edit/EditCollectionModalContent.js
  frontend/src/Collection/Edit/EditCollectionModalContentConnector.js
  frontend/src/Collection/Edit/EditMovieCollectionModal.tsx
  frontend/src/Collection/Edit/EditMovieCollectionModalContent.css
  frontend/src/Collection/Edit/EditMovieCollectionModalContent.css.d.ts
  frontend/src/Collection/Edit/EditMovieCollectionModalContent.tsx
  frontend/src/Collection/Overview/CollectionOverview.js
  frontend/src/Collection/useMovieCollection.ts
  frontend/src/Movie/Movie.ts
  frontend/src/typings/MovieCollection.ts
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Movie file is optional on movie resources
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
  frontend/src/Movie/Movie.ts
Labels: Area: UI

Convert Movie Collection Menus to TypeScript
  frontend/src/App/State/MovieCollectionAppState.ts
  frontend/src/Collection/Collection.js
  frontend/src/Collection/CollectionFilterModalConnector.js
  frontend/src/Collection/Menus/CollectionFilterMenu.js
  frontend/src/Collection/Menus/MovieCollectionFilterMenu.tsx
  frontend/src/Collection/Menus/MovieCollectionSortMenu.tsx
  frontend/src/Collection/MovieCollectionFilterModal.tsx
  frontend/src/Collection/NoMovieCollections.css
  frontend/src/Collection/NoMovieCollections.css.d.ts
  frontend/src/Collection/NoMovieCollections.tsx
Labels: Area: UI

Bump version to 5.22.4
  azure-pipelines.yml
Labels: none

Custom format scoring is not usable on movies index
  src/Radarr.Api.V3/MovieFiles/MovieFileResource.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Clear collection changes on add movie modal close
  frontend/src/Collection/AddNewMovieCollectionMovieModal.tsx
Labels: Area: UI

Fixed: Selecting No Change for quality profile inputs
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
Labels: Area: UI

Bump version to 5.23.0
  azure-pipelines.yml
Labels: none

Fixed: Refresh collections to clear stale state on bulk movies removal
  frontend/src/Collection/CollectionConnector.js
Labels: Area: UI

Fixed: Restore scroll position for collections and discover on go back
  frontend/src/Collection/Collection.js
  frontend/src/DiscoverMovie/DiscoverMovie.js
Labels: Area: UI

Remove unused register page populator
  frontend/src/Collection/CollectionConnector.js
Labels: Area: UI

Page titles for collections and discover
  frontend/src/Collection/Collection.js
  frontend/src/DiscoverMovie/DiscoverMovie.js
Labels: Area: UI

Fix maximum typo and clean unused CSS files
  frontend/src/Collection/Overview/CollectionOverviews.js
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviews.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosters.js
  frontend/src/Movie/History/MovieHistoryModalContent.css
  frontend/src/Movie/History/MovieHistoryModalContent.css.d.ts
  frontend/src/Movie/Index/Overview/MovieIndexOverviews.css
  frontend/src/Movie/Index/Overview/MovieIndexOverviews.css.d.ts
  frontend/src/Movie/Index/Overview/MovieIndexOverviews.tsx
  frontend/src/Movie/MovieFileStatus.css
  frontend/src/Movie/MovieFileStatus.css.d.ts
Labels: Area: UI

Bump caniuse db
  yarn.lock
Labels: Area: UI

Bump core-js to 3.41
  frontend/build/webpack.config.js
  package.json
  yarn.lock
Labels: Area: UI

Convert Menu components to TypeScript
  frontend/src/Activity/Blocklist/Blocklist.tsx
  frontend/src/Activity/History/History.tsx
  frontend/src/Activity/Queue/Queue.tsx
  frontend/src/App/State/AppSectionState.ts
  frontend/src/App/State/AppState.ts
  frontend/src/Components/Menu/FilterMenu.js
  frontend/src/Components/Menu/FilterMenu.tsx
  frontend/src/Components/Menu/FilterMenuContent.js
  frontend/src/Components/Menu/FilterMenuContent.tsx
  frontend/src/Components/Menu/FilterMenuItem.js
  frontend/src/Components/Menu/FilterMenuItem.tsx
  frontend/src/Components/Menu/Menu.js
  frontend/src/Components/Menu/Menu.tsx
  frontend/src/Components/Menu/MenuButton.js
  frontend/src/Components/Menu/MenuButton.tsx
  frontend/src/Components/Menu/MenuContent.js
  frontend/src/Components/Menu/MenuContent.tsx
  frontend/src/Components/Menu/MenuItem.js
  frontend/src/Components/Menu/MenuItem.tsx
  frontend/src/Components/Menu/MenuItemSeparator.tsx
  frontend/src/Components/Menu/PageMenuButton.js
  frontend/src/Components/Menu/PageMenuButton.tsx
  frontend/src/Components/Menu/SearchMenuItem.js
  frontend/src/Components/Menu/SelectedMenuItem.js
  frontend/src/Components/Menu/SelectedMenuItem.tsx
  frontend/src/Components/Menu/SortMenu.js
  frontend/src/Components/Menu/SortMenu.tsx
  frontend/src/Components/Menu/SortMenuItem.js
  frontend/src/Components/Menu/SortMenuItem.tsx
  frontend/src/Components/Menu/ToolbarMenuButton.js
  frontend/src/Components/Menu/ToolbarMenuButton.tsx
  frontend/src/Components/Menu/ViewMenu.js
  frontend/src/Components/Menu/ViewMenu.tsx
  frontend/src/Components/Menu/ViewMenuItem.js
  frontend/src/Components/Menu/ViewMenuItem.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportModalContent.tsx
  frontend/src/Movie/Index/Menus/MovieIndexFilterMenu.tsx
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Menus/MovieIndexViewMenu.tsx
  frontend/src/Movie/Index/MovieIndex.tsx
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Bump version to 5.23.1
  azure-pipelines.yml
Labels: none

Convert TagList components to TypeScript
  frontend/src/Components/MovieTagList.tsx
  frontend/src/Components/TagList.js
  frontend/src/Components/TagList.tsx
  frontend/src/Components/TagListConnector.js
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalRow.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalRow.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalRow.tsx
Labels: Area: UI

useMeasure instead of Measure in TypeScript components
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Scroller/Scroller.tsx
Labels: Area: UI

Convert ImportListList component to TypeScript
  frontend/src/Components/ImportListList.js
  frontend/src/Components/ImportListList.tsx
  frontend/src/Components/ImportListListConnector.js
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverview.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
Labels: Area: UI

Convert Messages to TypeScript
  frontend/src/App/State/AppState.ts
  frontend/src/App/State/MessagesAppState.ts
  frontend/src/Components/Page/Sidebar/Messages/Message.js
  frontend/src/Components/Page/Sidebar/Messages/Message.tsx
  frontend/src/Components/Page/Sidebar/Messages/MessageConnector.js
  frontend/src/Components/Page/Sidebar/Messages/Messages.js
  frontend/src/Components/Page/Sidebar/Messages/Messages.tsx
  frontend/src/Components/Page/Sidebar/Messages/MessagesConnector.js
  frontend/src/Components/Page/Sidebar/PageSidebar.tsx
Labels: Area: UI

Convert Spinner button components to TypeScript
  frontend/src/Activity/Queue/QueueStatus.tsx
  frontend/src/Components/Form/FormInputButton.tsx
  frontend/src/Components/Link/SpinnerButton.js
  frontend/src/Components/Link/SpinnerButton.tsx
  frontend/src/Components/Link/SpinnerErrorButton.js
  frontend/src/Components/Link/SpinnerErrorButton.tsx
  frontend/src/Components/Link/SpinnerIconButton.js
  frontend/src/Components/Link/SpinnerIconButton.tsx
  frontend/src/Components/Modal/ConfirmModal.tsx
  frontend/src/System/Status/Health/Health.tsx
Labels: Area: UI

Convert Log FIles to TypeScript
  frontend/src/App/State/SystemAppState.ts
  frontend/src/System/Logs/App/AppLogFiles.tsx
  frontend/src/System/Logs/Files/LogFiles.js
  frontend/src/System/Logs/Files/LogFilesConnector.js
  frontend/src/System/Logs/Files/LogFilesTableRow.js
  frontend/src/System/Logs/LogFiles.tsx
  frontend/src/System/Logs/LogFilesTableRow.css
  frontend/src/System/Logs/LogFilesTableRow.css.d.ts
  frontend/src/System/Logs/LogFilesTableRow.tsx
  frontend/src/System/Logs/Logs.js
  frontend/src/System/Logs/Logs.tsx
  frontend/src/System/Logs/LogsNavMenu.js
  frontend/src/System/Logs/LogsNavMenu.tsx
  frontend/src/System/Logs/Update/UpdateLogFiles.tsx
  frontend/src/System/Logs/Updates/UpdateLogFilesConnector.js
  frontend/src/typings/LogFile.ts
Labels: Area: UI

Update default log level message
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Remove unused preload.js
  frontend/src/preload.js
Labels: Area: UI
