Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Add translation for MovieIndexSelectAllButton
  frontend/src/Movie/Index/Select/MovieIndexSelectAllButton.tsx
Labels: Area: UI

Fixed: Pagination for TMDb lists containing a mix of media types
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListImport.cs
Labels: Area: Import Lists

New: Return downloading magnets from Transmission
  src/NzbDrone.Core.Test/Download/DownloadClientTests/TransmissionTests/TransmissionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/VuzeTests/VuzeFixture.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
Labels: Area: Download Clients

Fixed: Moving files for torrents when Remove Completed is disabled
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/ImportApprovedMoviesFixture.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: none

New: Default file log level changed to debug
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Persist indexer flags for automatic imports
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportDecisionMaker.cs
Labels: none

Update QualityParser.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Moving files for torrents when Remove Completed is disabled
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/ImportApprovedMoviesFixture.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Download Clients

Fixed: Calculate movie availability comparing UTC dates
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/AvailabilitySpecification.cs
  src/NzbDrone.Core/Movies/Movie.cs
Labels: none

Update MediaInfoResource.cs
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

Fixed: Allow to bulk edit movies without a valid quality profile
  src/NzbDrone.Core/Movies/MovieRepository.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileResource.cs
Labels: Area: API

Update src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

Update src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

Fixed: Runtime value for movies longer than 24 hours
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

New: Default file log level changed to debug
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Calculate movie availability comparing UTC dates
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/AvailabilitySpecification.cs
  src/NzbDrone.Core/Movies/Movie.cs
Labels: none

Don't hash files in development builds
  frontend/build/webpack.config.js
Labels: Area: UI

Fix height of tags in tag inputs
  frontend/src/Components/Form/TagInputTag.css
Labels: Area: UI

Add translation for MovieIndexSelectAllButton
  frontend/src/Movie/Index/Select/MovieIndexSelectAllButton.tsx
Labels: Area: UI

Fixed: Moving files for torrents when Remove Completed is disabled
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/ImportApprovedMoviesFixture.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Blackhole/TorrentBlackhole.cs
  src/NzbDrone.Core/Download/Clients/Deluge/Deluge.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/Flood/Flood.cs
  src/NzbDrone.Core/Download/Clients/FreeboxDownload/TorrentFreeboxDownload.cs
  src/NzbDrone.Core/Download/Clients/Hadouken/Hadouken.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrent.cs
  src/NzbDrone.Core/Download/DownloadClientItem.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportApprovedMovie.cs
Labels: Area: Download Clients

Fixed: Persist indexer flags for automatic imports
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/ImportDecisionMaker.cs
Labels: none

Fix tags height in tag inputs
  frontend/src/Components/Form/TagInput.css
  frontend/src/Components/Form/TagInput.css.d.ts
  frontend/src/Components/Form/TagInput.js
  frontend/src/Components/Form/TagInputTag.css
Labels: Area: UI

New: Considered Released filter
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

Retry failing HttpClient test
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
Labels: none

Fix tags height in tag inputs
  frontend/src/Components/Form/TagInput.css
  frontend/src/Components/Form/TagInput.css.d.ts
  frontend/src/Components/Form/TagInput.js
  frontend/src/Components/Form/TagInputTag.css
Labels: Area: UI

Fixed typo in help text for "Import Extra Files" setting.
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

New: Remove all single quote characters from searches
  src/NzbDrone.Core.Test/IndexerSearchTests/SearchDefinitionFixture.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
Labels: none

Align queue action buttons on right
  frontend/src/Activity/Queue/QueueRow.css
Labels: Area: UI

Fixed: Overwriting query params for remove item handler (#7075)
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
Labels: Area: UI

Validation for bulk movies editor
  src/Radarr.Api.V3/Movies/MovieEditorController.cs
  src/Radarr.Api.V3/Movies/MovieEditorValidator.cs
Labels: Area: API

Validation for bulk movies editor
  src/Radarr.Api.V3/Movies/MovieEditorController.cs
  src/Radarr.Api.V3/Movies/MovieEditorValidator.cs
Labels: Area: API

Rename ImportExclusion to ImportListExclusion
  src/NzbDrone.Core.Test/ImportListTests/ImportListSyncServiceFixture.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportExclusionsService.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusion.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusionRepository.cs
  src/NzbDrone.Core/ImportLists/ImportExclusions/ImportListExclusionService.cs
  src/NzbDrone.Core/ImportLists/ImportListSyncService.cs
  src/NzbDrone.Core/Movies/Events/MoviesDeletedEvent.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Movies/RefreshCollectionService.cs
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/ImportLists/ImportExclusionsController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionBulkResource.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionResource.cs
  src/Radarr.Api.V3/ImportLists/ImportListMoviesController.cs
Labels: Area: API, Area: Import Lists

Convert Import List Options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/ImportLists/Options/ImportListOptionsConnector.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.ts
  frontend/src/typings/ImportListOptionsSettings.ts
  frontend/src/typings/pending.ts
Labels: Area: UI

Fixed: Overwriting query params for remove item handler
  frontend/src/Store/Actions/Creators/createRemoveItemHandler.js
  frontend/src/Store/Actions/movieActions.js
Labels: Area: UI

Remove unused ImportExclusions property
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/Radarr.Api.V3/Config/ImportListConfigResource.cs
Labels: Area: API

Rename ImportExclusions to ImportListExclusions
  frontend/src/AddMovie/AddNewMovie/AddNewMovieConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieConnector.js
  frontend/src/DiscoverMovie/DiscoverMovieFooterConnector.js
  frontend/src/DiscoverMovie/Exclusion/ExcludeMovieModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContent.js
  frontend/src/Settings/ImportLists/ImportListExclusions/EditImportListExclusionModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusion.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.css.d.ts
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusionsConnector.js
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/ImportListSettingsConnector.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.css
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/AddImportListItem.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.css
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContent.js
  frontend/src/Settings/ImportLists/ImportLists/AddImportListModalContentConnector.js
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css
  frontend/src/Settings/ImportLists/ImportLists/ImportList.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportList.js
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.css
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.css.d.ts
  frontend/src/Settings/ImportLists/ImportLists/ImportLists.js
  frontend/src/Store/Actions/Settings/importExclusions.js
  frontend/src/Store/Actions/Settings/importListExclusions.js
  frontend/src/Store/Actions/Settings/importLists.js
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/settingsActions.js
  frontend/src/Store/Selectors/createExclusionMovieSelector.js
Labels: Area: UI

Fixed: Validate uniqueness for import list exclusions
  src/Radarr.Api.V3/ImportLists/ImportListExclusionController.cs
  src/Radarr.Api.V3/ImportLists/ImportListExclusionExistsValidator.cs
Labels: Area: API

Fixed: Total runtime hours without decimal point
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

Fixed: Total runtime hours without decimal point
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: API

Convert Import List Options to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/Settings/ImportLists/ImportListSettings.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.js
  frontend/src/Settings/ImportLists/Options/ImportListOptions.tsx
  frontend/src/Settings/ImportLists/Options/ImportListOptionsConnector.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.js
  frontend/src/Store/Selectors/createSettingsSectionSelector.ts
  frontend/src/typings/ImportListOptionsSettings.ts
  frontend/src/typings/pending.ts
Labels: Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
