Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Add test fixture
  src/NzbDrone.Core.Test/Download/DownloadClientTests/RQBitTests/RQBitFixture.cs
Labels: none

Fix minor style issues
  src/NzbDrone.Core/Download/Clients/RQBit/RQBit.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxy.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitProxySelector.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettings.cs
  src/NzbDrone.Core/Download/Clients/RQBit/RQbitSettingsValidator.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/RootResponse.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentStatus.cs
  src/NzbDrone.Core/Download/Clients/RQBit/ResponseModels/TorrentWithStatsResponse.cs
Labels: Area: Download Clients

Clickable poster in bulk edit mode
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
Labels: Area: UI

Bump SixLabors.ImageSharp to 3.1.11
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Bump version to 5.27.4
  azure-pipelines.yml
Labels: none

New Custom Filters based on Availability
  frontend/src/Components/Filter/Builder/DateFilterBuilderRowValue.js
  frontend/src/Helpers/Props/filterBuilderTypes.js
  frontend/src/Helpers/Props/filterTypes.js
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.tsx
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/discoverMovieActions.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieIndexActions.js
  frontend/src/Utilities/Date/dateFilterPredicate.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Movies/Movie.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: UI

New: Add Year sorting to Discover page
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Store/Actions/discoverMovieActions.js
Labels: Area: UI

New: Add Year sorting to Discover page
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Store/Actions/discoverMovieActions.js
Labels: Area: UI

add quality filter to movieIndexActions.js
  frontend/src/Store/Actions/movieIndexActions.js
Labels: Area: UI

add quality filter predicate
  frontend/src/Store/Actions/movieActions.js
Labels: Area: UI

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/id.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Don't log debug messages for API key validation
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: none

New: Add Year sorting to Discover page
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Store/Actions/discoverMovieActions.js
Labels: Area: UI

Fixed: Parse HDDVDRip as BluRay
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

NEW: Added warning text to filter screen
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

New: Added warning text to filter screen
  frontend/src/Components/Filter/CustomFilters/CustomFiltersModalContent.js
Labels: Area: UI

New: Select with poster click in movie selection (#11187)
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
Labels: Area: UI

New: Move auth success logging to debug
  src/Radarr.Http/Authentication/AuthenticationService.cs
Labels: none

Fixed: Use translate() for SelectAll button label
  frontend/src/Movie/Index/MovieIndex.tsx
Labels: Area: UI

Fixed: Use translate() for Refresh button label
  frontend/src/Activity/Queue/Queue.tsx
Labels: Area: UI

Fixed: Use translate() for Details modal header
  frontend/src/Activity/Blocklist/BlocklistDetailsModal.tsx
Labels: Area: UI

Fixed: Use translate() for Menu Button aria-label
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
Labels: Area: UI

Fixed: Use translate() for List Refresh Interval title
  frontend/src/Settings/ImportLists/ImportLists/ImportList.tsx
Labels: Area: UI

Fixed: Use translate() for movie search placeholder text
  frontend/src/AddMovie/AddNewMovie/AddNewMovie.js
Labels: Area: UI

New: Add missing translation keys for UI elements
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none

Fixed: TMDb import lists not processing all pages
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists

New: Enhanced TMDb import logging with identifiers
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists

fixup!
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
Labels: Area: Import Lists

Fixed: Parse UHDBDRip as BluRay quality
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: TMDb List Paging (#11201)
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists

Fixed: Parse UHDBDRip as BluRay quality
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

chore: sync CONTRIBUTING.md from Servarr/wiki@contributing-sync
  CONTRIBUTING.md
Labels: none

Library import progress bar
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.css
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.css.d.ts
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.js
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooterConnector.js
  frontend/src/Store/Actions/importMovieActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Add Georgian language support
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Organizer, Area: Parser

Extend Georgian regex
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

Remove duplicate B>T mapping
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Organizer

Bump to 5.27.5
  azure-pipelines.yml
Labels: none

New: Georgian language support (#11209)
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Parser

Update LoadingMessage.tsx Additional new messages.
  frontend/src/Components/Loading/LoadingMessage.tsx
Labels: Area: UI
