Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Fixed: Limit redirects after login to local paths
  src/Radarr.Http/Authentication/AuthenticationController.cs
Labels: none

New: Parse subtitle titles
  src/NzbDrone.Core.Test/Datastore/Migration/238_parse_titles_from_existing_subtitle_filesFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Datastore/Migration/238_parse_titles_from_existing_subtitle_files.cs
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleFile.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/AggregationService.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateEdition.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateLanguage.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateQuality.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseGroup.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateReleaseInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/AggregateSubtitleInfo.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Aggregation/Aggregators/IAggregateLocalMovie.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
  src/NzbDrone.Core/Parser/Model/LocalMovie.cs
  src/NzbDrone.Core/Parser/Model/SubtitleTitleInfo.cs
Labels: Area: Db-migration, Area: Parser

New: Expose subtitle title and disposition in UI
  frontend/src/MovieFile/Extras/ExtraFileRow.js
  frontend/src/MovieFile/Extras/SubtitleFilePopover.css
  frontend/src/MovieFile/Extras/SubtitleFilePopover.css.d.ts
  frontend/src/MovieFile/Extras/SubtitleFilePopover.js
  src/NzbDrone.Core/Localization/Core/en.json
  src/Radarr.Api.V3/ExtraFiles/ExtraFileResource.cs
Labels: Area: API, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nb_NO.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sk.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: none

Convert First Run to TypeScript
  frontend/src/App/State/SettingsAppState.ts
  frontend/src/FirstRun/AuthenticationRequiredModal.js
  frontend/src/FirstRun/AuthenticationRequiredModal.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContent.js
  frontend/src/FirstRun/AuthenticationRequiredModalContent.tsx
  frontend/src/FirstRun/AuthenticationRequiredModalContentConnector.js
  frontend/src/Movie/Index/Overview/MovieIndexOverviewInfo.tsx
  frontend/src/typings/Settings/General.ts
  frontend/src/typings/Settings/UiSettings.ts
  frontend/src/typings/inputs.ts
Labels: Area: UI

Convert MovieTitleLink to TypeScript
  frontend/src/Movie/MovieTitleLink.js
  frontend/src/Movie/MovieTitleLink.tsx
Labels: Area: UI

New: Optionally include Custom Format Score for Discord On File Import notifications
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
Labels: Area: Notifications

Bump core-js
  package.json
  yarn.lock
Labels: Area: UI

Bump core-js
  package.json
  yarn.lock
Labels: Area: UI

Fixed: Calculating custom formats with languages in queue and or release/push
  src/NzbDrone.Core.Test/Download/Aggregation/Aggregators/AggregateLanguagesFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/Indexers/IndexerRepositoryFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerFactory.cs
  src/NzbDrone.Core/Indexers/IndexerRepository.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Indexer, Area: Parser

Convert rating component to TypeScript
  frontend/src/Components/ImdbRating.js
  frontend/src/Components/ImdbRating.tsx
  frontend/src/Components/RottenTomatoRating.js
  frontend/src/Components/RottenTomatoRating.tsx
  frontend/src/Components/TmdbRating.js
  frontend/src/Components/TmdbRating.tsx
  frontend/src/Movie/Movie.ts
Labels: Area: UI

Remove extraneous height from movie posters
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
Labels: Area: UI

Hide ratings on movie table in absence of data
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Store/Actions/movieIndexActions.js
Labels: Area: UI

Fixed: Improve appearance and sorting by ratings for Discover
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfo.js
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfoRow.js
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfoRow.tsx
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviews.js
  frontend/src/DiscoverMovie/Overview/Options/DiscoverMovieOverviewOptionsModalContent.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePoster.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosterInfo.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosters.js
  frontend/src/DiscoverMovie/Posters/Options/DiscoverMoviePosterOptionsModalContent.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Helpers/Props/icons.js
  frontend/src/Store/Actions/discoverMovieActions.js
  package.json
  src/NzbDrone.Core/Localization/Core/en.json
  yarn.lock
Labels: Area: UI

Bump version to 5.10.1
  azure-pipelines.yml
Labels: none

add Multisubs TestCase
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
Labels: none

Add TestCase for MultiSubs
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
Labels: none

fix typo
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
Labels: none

Fixed: False positive HC for MultiSubs (#10024)
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

Convert Button to TypeScript
  frontend/src/Components/Link/Button.js
  frontend/src/Components/Link/Button.tsx
  frontend/src/Helpers/Props/align.ts
Labels: Area: UI

Updated code action fixall value for VSCode
  frontend/.vscode/settings.json
Labels: Area: UI

Fix disabled style for monitor toggle button
  frontend/src/Components/MonitorToggleButton.css
Labels: Area: UI

Fixed: Trim spaces and empty values in Proxy Bypass List
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

New: Bypass IP addresses ranges in proxies
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
  src/NzbDrone.Core/Http/HttpProxySettingsProvider.cs
Labels: none

Fix disabled style for monitor toggle button
  frontend/src/Components/MonitorToggleButton.css
Labels: Area: UI

Updated code action fixall value for VSCode
  frontend/.vscode/settings.json
Labels: Area: UI

Fixed: Trim spaces and empty values in Proxy Bypass List
  src/NzbDrone.Common/Http/Proxy/HttpProxySettings.cs
Labels: none

New: Bypass IP addresses ranges in proxies
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
  src/NzbDrone.Core/Http/HttpProxySettingsProvider.cs
Labels: none

Render with ternary in bulk manage
  frontend/src/Settings/CustomFormats/CustomFormats/Manage/ManageCustomFormatsModalContent.tsx
  frontend/src/Settings/DownloadClients/DownloadClients/Manage/ManageDownloadClientsModalContent.tsx
  frontend/src/Settings/ImportLists/ImportLists/Manage/ManageImportListsModalContent.tsx
  frontend/src/Settings/Indexers/Indexers/Manage/ManageIndexersModalContent.tsx
Labels: Area: UI

Fixed: Hide reboot and shutdown UI buttons on docker
  frontend/src/Components/Page/Header/PageHeader.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.js
  frontend/src/Components/Page/Header/PageHeaderActionsMenu.tsx
  frontend/src/Components/Page/Header/PageHeaderActionsMenuConnector.js
Labels: Area: UI

Convert MovieQuality to TypeScript
  frontend/src/Movie/MovieQuality.tsx
Labels: Area: UI

New: Digital and Physical release dates for Poster options
  frontend/src/App/State/MoviesAppState.ts
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieReleaseDates.tsx
  frontend/src/Movie/Index/Menus/MovieIndexSortMenu.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosterInfo.tsx
  frontend/src/Movie/Index/Posters/MovieIndexPosters.tsx
  frontend/src/Movie/Index/Posters/Options/MovieIndexPosterOptionsModalContent.tsx
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

Don't persist value for SslCertHash when checking for existence
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
Labels: none

Fixed: Paths for renamed movie files in Custom Script and Webhook
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovieFile.cs
Labels: Area: Notifications

Convert IconButton to Typescript
  frontend/src/Components/Link/IconButton.js
  frontend/src/Components/Link/IconButton.tsx
Labels: Area: UI

Convert TableRowCell to Typescript
  frontend/src/Components/Table/Cells/TableRowCell.js
  frontend/src/Components/Table/Cells/TableRowCell.tsx
Labels: Area: UI

Convert SpinnerIcon to TypeScript
  frontend/src/Components/SpinnerIcon.js
  frontend/src/Components/SpinnerIcon.tsx
  frontend/src/Helpers/Props/icons.ts
Labels: Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
