Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - frontend/**/*
  - package.json
  - yarn.lock

New: Use absolute timestamps for movie history
  frontend/src/Movie/History/MovieHistoryModal.js
  frontend/src/Movie/History/MovieHistoryRow.js
Labels: Area: UI

Fixed: Delay profiles reordering
  src/Radarr.Api.V3/Profiles/Delay/DelayProfileController.cs
Labels: Area: API

Parameter binding for API requests
  src/Radarr.Api.V3/AutoTagging/AutoTaggingController.cs
  src/Radarr.Api.V3/Collections/CollectionController.cs
  src/Radarr.Api.V3/Commands/CommandController.cs
  src/Radarr.Api.V3/Config/ConfigController.cs
  src/Radarr.Api.V3/Config/HostConfigController.cs
  src/Radarr.Api.V3/Config/NamingConfigController.cs
  src/Radarr.Api.V3/Config/UiConfigController.cs
  src/Radarr.Api.V3/CustomFilters/CustomFilterController.cs
  src/Radarr.Api.V3/CustomFormats/CustomFormatController.cs
  src/Radarr.Api.V3/ImportLists/ImportExclusionsController.cs
  src/Radarr.Api.V3/Indexers/ReleaseController.cs
  src/Radarr.Api.V3/Indexers/ReleasePushController.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
  src/Radarr.Api.V3/Movies/MovieController.cs
  src/Radarr.Api.V3/Profiles/Delay/DelayProfileController.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileController.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Radarr.Api.V3/ProviderControllerBase.cs
  src/Radarr.Api.V3/Qualities/QualityDefinitionController.cs
  src/Radarr.Api.V3/Queue/QueueActionController.cs
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
  src/Radarr.Api.V3/RootFolders/RootFolderController.cs
  src/Radarr.Api.V3/System/Backup/BackupController.cs
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Use newer Node.js task for in pipelines
  azure-pipelines.yml
Labels: none

Fix translations for SSL settings
  src/NzbDrone.Core/Localization/Core/en.json
Labels: none
