Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock

Fixed: Improve IMDb list logging
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListImport.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListParser.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
Labels: Area: Import Lists

Bump coverlet.collector to official 6.0.4
  src/Directory.Build.props
  src/NuGet.config
  src/coverlet.runsettings
Labels: none

Avoid rewriting file names in builds
  src/Directory.Build.props
Labels: none

Fix code coverage on CI
  azure-pipelines.yml
Labels: none

Fix code coverage on CI
  azure-pipelines.yml
Labels: none

Avoid rewriting file names in builds
  src/Directory.Build.props
Labels: none

Bump coverlet.collector to official 6.0.4
  src/Directory.Build.props
  src/NuGet.config
  src/coverlet.runsettings
Labels: none

Fix code coverage on CI
  azure-pipelines.yml
Labels: none

Avoid rewriting file names in builds
  src/Directory.Build.props
Labels: none

Bump coverlet.collector to official 6.0.4
  src/Directory.Build.props
  src/NuGet.config
  src/coverlet.runsettings
Labels: none

Fixed: Allow spaces for Tag Validation
  src/Radarr.Api.V3/Tags/TagController.cs
Labels: Area: API

Fixed: RlsGrp parser exeption for 126811
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

Fixed: RlsGrp parser exeption for 126811
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/ReleaseGroupParser.cs
Labels: Area: Parser

Improve error tracing in migrate app data folder
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Attempt to remove pid file only if config folder exists
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump Moq to 4.18.4
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
Labels: none

Switch HttpProxySettingsProviderFixture to test cases
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
Labels: none

Bump postcss to 8.5.6
  package.json
  yarn.lock
Labels: Area: UI

Bump FluentMigrator to official 6.2.0
  src/NuGet.config
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/137_add_import_exclusions_table.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationExtension.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteProcessor.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteTypeMap.cs
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: Area: Db-migration

Bump System.Data.SQLite to official 2.0.2
  src/NuGet.config
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core.Test/Radarr.Core.Test.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Upgrade MonoTorrent to 3.0.2
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: Area: Indexer

New: Retry SQLite writes for database is locked errors
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Fixed: Prevent modals from overflowing screen width
  frontend/src/Components/Modal/Modal.css
Labels: Area: UI

New: Switch theme automatically on system change
  frontend/src/Helpers/Hooks/useTheme.ts
Labels: Area: UI

Bump to 6.0.2
  azure-pipelines.yml
Labels: none

Attempt to remove pid file only if config folder exists
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

Bump System.Data.SQLite to official 2.0.2
  src/NuGet.config
  src/NzbDrone.Common/Radarr.Common.csproj
  src/NzbDrone.Core.Test/Radarr.Core.Test.csproj
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: none

Switch HttpProxySettingsProviderFixture to test cases
  src/NzbDrone.Core.Test/Http/HttpProxySettingsProviderFixture.cs
Labels: none

Bump postcss to 8.5.6
  package.json
  yarn.lock
Labels: Area: UI

Bump Moq to 4.18.4
  src/NzbDrone.Test.Common/Radarr.Test.Common.csproj
Labels: none

Improve error tracing in migrate app data folder
  src/NzbDrone.Common/EnvironmentInfo/AppFolderFactory.cs
Labels: none

New: Switch theme automatically on system change
  frontend/src/Helpers/Hooks/useTheme.ts
Labels: Area: UI

Bump FluentMigrator to official 6.2.0
  src/NuGet.config
  src/NzbDrone.Core/Datastore/Migration/000_database_engine_version_check.cs
  src/NzbDrone.Core/Datastore/Migration/137_add_import_exclusions_table.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationController.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/MigrationExtension.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteProcessor.cs
  src/NzbDrone.Core/Datastore/Migration/Framework/NzbDroneSQLiteTypeMap.cs
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: Area: Db-migration

New: Retry SQLite writes for database is locked errors
  src/NzbDrone.Core/Datastore/BasicRepository.cs
Labels: none

Upgrade MonoTorrent to 3.0.2
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
  src/NzbDrone.Core/MediaFiles/TorrentInfo/TorrentFileInfoReader.cs
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: Area: Indexer

Fixed: Prevent modals from overflowing screen width
  frontend/src/Components/Modal/Modal.css
Labels: Area: UI

Bump to 6.0.2
  azure-pipelines.yml
Labels: none

New: Extend Postgres support to enable all connection string options
  src/NzbDrone.Core.Test/Framework/DbTest.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Core/Datastore/ConnectionStringFactory.cs
  src/NzbDrone.Core/Datastore/PostgresOptions.cs
Labels: none

Fix: incompatibility with reverse proxy forward auth providers
  frontend/src/Utilities/createAjaxRequest.js
  src/NzbDrone.Common/Options/ServerOptions.cs
  src/NzbDrone.Core/Configuration/ConfigFileProvider.cs
  src/NzbDrone.Host/Startup.cs
Labels: Area: UI

chore: update CONTRIBUTING.md to .NET8
  CONTRIBUTING.md
Labels: none
