Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

Suppress S5145 log injection false positive in editorconfig
  .editorconfig
Labels: none

Add CI-based SonarCloud workflow with rule exclusions
  .github/workflows/sonarcloud.yml
Labels: none

Remove sonar-project.properties - not supported by SonarScanner for .NET
  sonar-project.properties
Labels: none

Remove SonarCloud CI workflow - conflicts with automatic analysis
  .github/workflows/sonarcloud.yml
Labels: none

Fix CodeQL rule ID for insecure-direct-object-reference
  .github/codeql/codeql-config.yml
Labels: none

Fix remaining technical debt bugs
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Common/Disk/PathCombinationException.cs
  src/NzbDrone.Core/ImportLists/RadarrList2/IMDb/IMDbListRequestGenerator.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
Labels: Area: Import Lists, Area: Indexer

Fix blocking semaphore in MediaCoverService
  src/NzbDrone.Core/MediaCover/MediaCoverService.cs
Labels: none

Fix CancellationTokenSource resource leaks (BLOCKER severity)
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
  src/NzbDrone.Core/Jobs/Scheduler.cs
  src/NzbDrone.Core/Messaging/Commands/CommandExecutor.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

test: add IMDb list error message verification tests
  src/NzbDrone.Core.Test/ImportListTests/IMDbListRequestGeneratorFixture.cs
Labels: none

fix: thread-safe SHA1 hashing in HashConverter
  src/NzbDrone.Common/Crypto/HashConverter.cs
Labels: none

fix(ci): pin Trivy action and update branding
  .github/FUNDING.yml
  .github/stale.yml
  .github/workflows/trivy.yml
Labels: none

fix(ci): add CODEOWNERS, enable test blocking, add pre-commit hooks
  .github/CODEOWNERS
  .github/workflows/build.yml
  .husky/pre-commit
  package.json
Labels: Area: UI

chore: update yarn.lock with husky and lint-staged
  yarn.lock
Labels: Area: UI

fix(security): address P3 vulnerabilities and add mitigations
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrentProxy.cs
  src/NzbDrone.Core/Profiles/Releases/PerlRegexFactory.cs
  src/NzbDrone.Host/Startup.cs
  src/Radarr.Api.V3/Logs/LogFileController.cs
  src/Radarr.Api.V3/MediaCovers/MediaCoverController.cs
Labels: Area: API, Area: Download Clients

Cache regex instances as static compiled fields
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/Pushsafer/PushsaferSettings.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Notifications, Area: Parser

Optimize O(n*m) Contains patterns with HashSet
  src/NzbDrone.Core/IndexerSearch/MoviesSearchService.cs
  src/NzbDrone.Core/Movies/MovieService.cs
Labels: none

fix(security): add path validation to OpenWriteStream and regex timeouts
  src/NzbDrone.Common/Disk/DiskProviderBase.cs
  src/NzbDrone.Common/Instrumentation/CleanseLogMessage.cs
Labels: none

fix(frontend): address React and TypeScript quality issues
  frontend/src/App/SelectContext.tsx
  frontend/src/Components/Error/ErrorBoundaryError.tsx
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Form/Form.tsx
  frontend/src/Components/Form/FormInputGroup.tsx
  frontend/src/Components/Form/KeyValueListInput.tsx
  frontend/src/Components/Form/Select/EnhancedSelectInput.tsx
  frontend/src/Components/Loading/LoadingIndicator.tsx
  frontend/src/Components/ProgressBar.tsx
  frontend/src/InteractiveImport/Interactive/InteractiveImportRow.tsx
  frontend/src/InteractiveSearch/InteractiveSearchRow.tsx
  frontend/src/Movie/IndexerFlags.tsx
  frontend/src/MovieFile/Extras/ExtraFileDetailsPopover.tsx
  frontend/src/Settings/MediaManagement/RootFolder/AddRootFolder.tsx
  frontend/src/Settings/Tags/AutoTagging/AutoTagging.tsx
  frontend/src/Settings/Tags/AutoTagging/Specifications/AddSpecificationItem.tsx
  frontend/src/System/Updates/UpdateChanges.tsx
Labels: Area: UI

Migrate to ESLint 9 flat config
  frontend/.eslintignore
  frontend/.eslintrc.js
  frontend/build/webpack.config.js
  frontend/build/webpack/css-variables-loader.js
  frontend/eslint.config.mjs
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Utilities/Array/sortByProp.ts
  package.json
  yarn.lock
Labels: Area: UI

Fix SonarCloud issues and add suppression config
  frontend/src/Collection/Collection.js
  frontend/src/DiscoverMovie/DiscoverMovie.js
  frontend/src/Movie/Index/MovieIndex.tsx
  sonar-project.properties
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Notifications/Pushsafer/PushsaferSettings.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Notifications, Area: Parser, Area: UI

Fix SonarCloud bugs: threading, React state, sorting
  frontend/src/AddMovie/ImportMovie/Import/ImportMovie.js
  frontend/src/AddMovie/ImportMovie/Import/SelectMovie/ImportMovieSelectMovie.js
  frontend/src/Collection/Collection.js
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
  frontend/src/DiscoverMovie/DiscoverMovie.js
  frontend/src/Movie/Index/MovieIndex.tsx
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContentConnector.js
  src/NzbDrone.SignalR/MessageHub.cs
Labels: Area: UI

fix: SonarCloud bugs batch 2
  frontend/src/AddMovie/ImportMovie/Import/ImportMovie.js
  frontend/src/AddMovie/ImportMovie/Import/SelectMovie/ImportMovieSelectMovie.js
  frontend/src/Collection/Collection.js
  frontend/src/Components/Form/Select/QualityProfileSelectInput.tsx
  frontend/src/DiscoverMovie/DiscoverMovie.js
  frontend/src/Settings/Profiles/Quality/EditQualityProfileModalContentConnector.js
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
  src/NzbDrone.SignalR/MessageHub.cs
Labels: Area: Notifications, Area: UI

fix: SonarCloud null safety and struct comparison issues
  src/NzbDrone.Common/Disk/OsPath.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
Labels: none

fix: remaining React index-as-key issues + backend null safety (#78)
  frontend/src/AddMovie/ImportMovie/Import/ImportMovieFooter.js
  frontend/src/AddMovie/ImportMovie/SelectFolder/ImportMovieSelectFolder.js
  frontend/src/Settings/CustomFormats/CustomFormats/CustomFormat.js
  frontend/src/Settings/CustomFormats/CustomFormats/Specifications/AddSpecificationItem.js
  frontend/src/Settings/Profiles/Quality/QualityProfileFormatItems.js
  frontend/src/Settings/Profiles/Quality/QualityProfileItems.js
Labels: Area: UI

refactor: notification provider deduplication + docs (#81)
  docs/decisions.md
  sonar-project.properties
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/Pushcut/Pushcut.cs
Labels: Area: Notifications

perf: cache regex patterns in Parser.ToUrlSlug and FileNameBuilder.GetEditionToken (#82)
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Organizer, Area: Parser

fix: add null safety to LINQ First/Single calls (#83)
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Indexers/TorrentRss/TorrentRssSettingsDetector.cs
Labels: Area: Indexer

fix(frontend): remove index from React keys in dynamic lists (#84)
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.js
  frontend/src/Components/Form/KeyValueListInput.tsx
Labels: Area: UI

chore: update GitHub Actions and consolidate .editorconfig rules (#85)
  .editorconfig
  .github/workflows/codeql.yml
Labels: none

fix(ui): update user-facing links to Aletheia resources (#86)
  frontend/src/System/Status/MoreInfo/MoreInfo.tsx
  frontend/src/System/Updates/UpdateChanges.tsx
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

fix(frontend): memoize inline JSX objects for performance (#87)
  frontend/src/Components/CircularProgressBar.tsx
  frontend/src/Movie/Index/Overview/MovieIndexOverview.tsx
  frontend/src/Movie/Index/Overview/MovieIndexOverviews.tsx
  frontend/src/Movie/Index/Table/MovieIndexTable.css
  frontend/src/Movie/Index/Table/MovieIndexTable.tsx
Labels: Area: UI

chore(ci): standardize branch naming to use main instead of master (#90)
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/trivy.yml
  CONTRIBUTING.md
Labels: none

fix(frontend): replace any types with proper TypeScript types (#88)
  frontend/src/Components/Form/AutoSuggestInput.tsx
  frontend/src/Components/Scroller/OverlayScroller.tsx
  frontend/src/Components/Tooltip/Tooltip.tsx
  frontend/src/index.ts
Labels: Area: UI

perf(backend): cache additional regex patterns (#89)
  src/NzbDrone.Core/Download/Clients/Transmission/Transmission.cs
  src/NzbDrone.Core/Download/Clients/Transmission/TransmissionBase.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/IndexerSearch/Definitions/SearchCriteriaBase.cs
  src/NzbDrone.Core/MetadataSource/SearchMovieComparer.cs
Labels: Area: Download Clients

perf: replace List.Contains() with HashSet for O(1) lookups (#92)
  src/NzbDrone.Core/IndexerSearch/ReleaseSearchService.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabCategoryFieldOptionsConverter.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Area: Indexer, Area: Organizer

perf: fix remaining regex caching and add timeouts (#93)
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcNfoDetector.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

fix: add null/empty checks before First() in download clients (#94)
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/FileStationProxy.cs
  src/NzbDrone.Core/Download/Clients/NzbVortex/NzbVortex.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
Labels: Area: Download Clients

fix: use SingleOrDefault() with null check in UserService (#95)
  src/NzbDrone.Core/Authentication/UserService.cs
Labels: none

fix: add empty checks before First() in MovieFileController (#96)
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
Labels: Area: API

fix(security): add regex timeouts for ReDoS prevention (#97)
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Organizer, Area: Parser

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
