Repository Radarr/Radarr, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: API, Area: Db-migration, Area: Download Clients, Area: Import Lists, Area: Metadata, Area: Indexer, Area: Notifications, Area: Organizer, Area: Parser, Area: UI

New: Integration tests for Autotagging on AddMovie events
  src/NzbDrone.Integration.Test/ApiTests/MovieFixture.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

Refactor UpdateTags to conditionally skip newly added movies
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
Labels: none

New: Create new metadata type and parse theme.xxx as movietheme files to prevent them from being renamed
  src/NzbDrone.Core.Test/Extras/Metadata/Consumers/Xbmc/FindMetadataFileFixture.cs
  src/NzbDrone.Core/Extras/Metadata/Consumers/Xbmc/XbmcMetadata.cs
  src/NzbDrone.Core/Extras/Metadata/MetadataType.cs
Labels: Area: Metadata

Apply suggestions from code review
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser

New: Add Mongolian language
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/FileNameBuilderFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbLanguageCodes.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Import Lists, Area: Organizer, Area: Parser

Fix jump to character for Collections and Discover
  frontend/src/Collection/Overview/CollectionOverviews.js
  frontend/src/Components/Table/VirtualTable.tsx
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviews.js
  frontend/src/DiscoverMovie/Posters/DiscoverMoviePosters.js
Labels: Area: UI

Ensure Custom Format Maximum Size won't overflow
  src/NzbDrone.Core/CustomFormats/Specifications/SizeSpecification.cs
Labels: none

Increase maximum backup restoration size to 5GB
  src/Radarr.Api.V3/System/Backup/BackupController.cs
Labels: Area: API

New: Don't allow remote path to start with space
  src/NzbDrone.Core/RemotePathMappings/RemotePathMappingService.cs
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: Area: API

Treat HTTP 410 response for failed download similarly to HTTP 404
  src/NzbDrone.Core/Download/TorrentClientBase.cs
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

New: Ignore volumes containing `.timemachine` from Disk Space
  src/NzbDrone.Core.Test/DiskSpace/DiskSpaceServiceFixture.cs
  src/NzbDrone.Core/DiskSpace/DiskSpaceService.cs
Labels: none

Use the thrown exception in http timeout handling
  src/NzbDrone.Common/Http/Dispatchers/ManagedHttpDispatcher.cs
Labels: none

Use UTC dates for TMDB Popular lists
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
Labels: Area: Import Lists

Return error with missing field for movie files endpoint
  src/Radarr.Api.V3/MovieFiles/MovieFileController.cs
  src/Radarr.Api.V3/MovieFiles/MovieFileListResource.cs
Labels: Area: API

Fixed: Update AutoTags on movie add (#11079)
  src/NzbDrone.Core/Movies/AddMovieService.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/NzbDrone.Integration.Test/ApiTests/MovieFixture.cs
  src/NzbDrone.Integration.Test/IntegrationTestBase.cs
Labels: none

Show movie titles when poster is missing on collections page
  frontend/src/Collection/Overview/CollectionMovie.css
  frontend/src/Collection/Overview/CollectionMovie.css.d.ts
  frontend/src/Collection/Overview/CollectionMovie.js
Labels: Area: UI

Bump version to 5.24.1
  azure-pipelines.yml
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

Multiple Translations updated by Weblate
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: none

New: Keywords custom filter and autotagging for movies
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/AutoTagging/Specifications/KeywordSpecification.cs
  src/NzbDrone.Core/Datastore/Migration/242_add_movie_keywords.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/MovieResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieMetadata.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: Db-migration, Area: UI

New: Keywords custom filter and autotagging for movies
  frontend/src/Movie/Index/Table/MovieIndexRow.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css.d.ts
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css
  frontend/src/Movie/Index/Table/MovieIndexTableHeader.css.d.ts
  frontend/src/Movie/Movie.ts
  frontend/src/Store/Actions/movieIndexActions.js
  src/NzbDrone.Core/AutoTagging/Specifications/KeywordSpecification.cs
  src/NzbDrone.Core/Datastore/Migration/242_add_movie_keywords.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/MovieResource.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieMetadata.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: Db-migration, Area: UI

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Automated API Docs update
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

Fixed: Production builds erroneously marked as not Production
  src/NzbDrone.Common/EnvironmentInfo/RuntimeInfo.cs
Labels: none

Follow redirects for usenet grabs on non-prod builds
  src/NzbDrone.Core/Download/UsenetClientBase.cs
Labels: none

Fixed: formatBitrate - changed filesize call to pass size in bytes and request result in bits.
  frontend/src/Utilities/Number/formatBitrate.ts
Labels: Area: UI

Bump version to 5.25.0
  azure-pipelines.yml
Labels: none

Update QualityParser.cs to support HYBRID.WEB as WEBDL instead of HDTV
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Update QualityParserFixture.cs with a Test Case for parse Hybrid.WEB as WEBDL
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
Labels: none

Integrate Hybrid.WEB into WEBDL Regex in QualityParser.cs instead of appending it to the end
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Validation for remote path mapping
  src/Radarr.Api.V3/RemotePathMappings/RemotePathMappingController.cs
Labels: Area: API

Bump version to 5.26.0
  azure-pipelines.yml
Labels: none

Fixed: Sorting of some titles with acronyms or common words at the start
  src/NzbDrone.Core.Test/MetadataSource/SkyHook/SkyHookProxyFixture.cs
  src/NzbDrone.Core.Test/MovieTests/MovieTitleNormalizerFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieTitleNormalizer.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: Parser

Fixed: Sorting of some titles with acronyms or common words at the start
  src/NzbDrone.Core.Test/MetadataSource/SkyHook/SkyHookProxyFixture.cs
  src/NzbDrone.Core.Test/MovieTests/MovieTitleNormalizerFixture.cs
  src/NzbDrone.Core/Download/Aggregation/Aggregators/AggregateLanguages.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieTitleNormalizer.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/Radarr.Api.V3/Movies/MovieResource.cs
Labels: Area: API, Area: Parser

Fixed: Parsing quality for release titles with Hybrid WEB
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

Fixed: Parsing quality for release titles with Hybrid WEB
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

useMeasure instead of Measure in TypeScript components
  frontend/src/Calendar/CalendarPage.tsx
Labels: Area: UI

Fixed: ISO language code for Bengali
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: Area: Parser

Fixed: ISO language code for Bengali
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: Area: Parser

Update translation tokens for release dates on poster options
  frontend/src/Movie/Index/Posters/Options/MovieIndexPosterOptionsModalContent.tsx
  src/NzbDrone.Core/Localization/Core/ar.json
  src/NzbDrone.Core/Localization/Core/bg.json
  src/NzbDrone.Core/Localization/Core/ca.json
  src/NzbDrone.Core/Localization/Core/cs.json
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/el.json
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Localization/Core/es.json
  src/NzbDrone.Core/Localization/Core/fi.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/he.json
  src/NzbDrone.Core/Localization/Core/hi.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/is.json
  src/NzbDrone.Core/Localization/Core/it.json
  src/NzbDrone.Core/Localization/Core/ja.json
  src/NzbDrone.Core/Localization/Core/ko.json
  src/NzbDrone.Core/Localization/Core/nl.json
  src/NzbDrone.Core/Localization/Core/pl.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/ro.json
  src/NzbDrone.Core/Localization/Core/ru.json
  src/NzbDrone.Core/Localization/Core/sv.json
  src/NzbDrone.Core/Localization/Core/th.json
  src/NzbDrone.Core/Localization/Core/tr.json
  src/NzbDrone.Core/Localization/Core/uk.json
  src/NzbDrone.Core/Localization/Core/vi.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
Labels: Area: UI

.github/labeler.yml:

'Area: API':
  - changed-files:
    - any-glob-to-any-file:
      - src/Radarr.Api.V3/**/*

'Area: Db-migration':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Datastore/Migration/*

'Area: Download Clients':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Download/Clients/**/*

'Area: Import Lists':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/ImportLists/**/*

'Area: Metadata':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Extras/Metadata/*

'Area: Indexer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Indexers/**/*

'Area: Notifications':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Notifications/**/*

'Area: Organizer':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Organizer/**/*

'Area: Parser':
  - changed-files:
    - any-glob-to-any-file:
      - src/NzbDrone.Core/Parser/**/*

'Area: UI':
  - changed-files:
    - any-glob-to-any-file:
      - frontend/**/*
      - package.json
      - yarn.lock
