Repository Radarr/Radarr, pull requests merged in 2020-09, with the labels that each got.

#4961 Adjust the width of runtime & added since they are to wide
  frontend/src/Movie/Index/Table/MovieIndexHeader.css
  frontend/src/Movie/Index/Table/MovieIndexRow.css
Labels: aphrodite, ui

#4962 Fix issue where options button on discover becomes un-usable
  frontend/src/DiscoverMovie/DiscoverMovie.js
Labels: aphrodite, ui

#4960 add more audio codecs for Trakt connection
  src/NzbDrone.Core/Notifications/Trakt/TraktService.cs
Labels: aphrodite

#4611 Add support for discordnotifier connect type
  src/NzbDrone.Core/Notifications/DiscordNotifier/DiscordNotifier.cs
  src/NzbDrone.Core/Notifications/DiscordNotifier/DiscordNotifierException.cs
  src/NzbDrone.Core/Notifications/DiscordNotifier/DiscordNotifierProxy.cs
  src/NzbDrone.Core/Notifications/DiscordNotifier/DiscordNotifierSettings.cs
Labels: aphrodite

#4664 Fix issues with status color on movies index & details
  frontend/src/Calendar/CalendarConnector.js
  frontend/src/Components/Label.css
  frontend/src/Components/ProgressBar.css
  frontend/src/Helpers/Props/kinds.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Details/MovieDetailsConnector.js
  frontend/src/Movie/Details/MovieStatusLabel.css
  frontend/src/Movie/Details/MovieStatusLabel.js
  frontend/src/Movie/Index/MovieIndexConnector.js
  frontend/src/Movie/Index/MovieIndexFooter.css
  frontend/src/Movie/Index/MovieIndexFooter.js
  frontend/src/Movie/Index/MovieIndexItemConnector.js
  frontend/src/Movie/Index/Overview/MovieIndexOverview.css
  frontend/src/Movie/Index/Overview/MovieIndexOverview.js
  frontend/src/Movie/Index/Posters/MovieIndexPoster.js
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.js
  frontend/src/Movie/Index/Table/MovieIndexRow.js
  frontend/src/Movie/MovieFileStatus.js
  frontend/src/Movie/MovieFileStatusConnector.js
  frontend/src/Store/Actions/queueActions.js
  frontend/src/Styles/Variables/colors.js
  frontend/src/Utilities/Movie/getProgressBarKind.js
  frontend/src/Utilities/Movie/getQueueStatusText.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: aphrodite

#4953 New: Option to not prefer repacks/propers (for use with Custom Formats)
  frontend/src/Settings/MediaManagement/MediaManagement.js
  src/NzbDrone.Api/Config/MediaManagementConfigResource.cs
  src/NzbDrone.Api/Profiles/ProfileResource.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/QualityUpgradeSpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/ProperSpecificationFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadApprovedReportsTests/DownloadApprovedFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
  src/NzbDrone.Core/Configuration/IConfigService.cs
  src/NzbDrone.Core/Datastore/Migration/183_download_propers_config.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/ProperSpecification.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/UpgradableSpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Profile.cs
  src/NzbDrone.Core/Qualities/ProperDownloadTypes.cs
  src/Radarr.Api.V3/Config/MediaManagementConfigResource.cs
  src/Radarr.Api.V3/Profiles/Quality/QualityProfileResource.cs
Labels: aphrodite

#5003 Fix: Addressed issue with status color not showing on Movie > Details
  frontend/src/Movie/Details/MovieStatusLabel.css
  frontend/src/Movie/Details/MovieStatusLabel.js
  frontend/src/Movie/Index/ProgressBar/MovieIndexProgressBar.js
  frontend/src/Movie/MovieFileStatus.js
  frontend/src/Utilities/Movie/getQueueStatusText.js
  frontend/src/Utilities/String/firstCharToUpper.js
Labels: aphrodite

#5000 New: Add support for prioritizing indexers
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.js
  frontend/src/Settings/Indexers/Indexers/Indexer.js
  frontend/src/Settings/Indexers/Indexers/Indexers.js
  src/NzbDrone.Api/Indexers/IndexerModule.cs
  src/NzbDrone.Api/Indexers/IndexerResource.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core/Datastore/Migration/184_add_priority_to_indexers.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionComparer.cs
  src/NzbDrone.Core/Download/ProcessDownloadDecisions.cs
  src/NzbDrone.Core/Indexers/IndexerBase.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Parser/Model/ReleaseInfo.cs
  src/Radarr.Api.V3/Indexers/IndexerResource.cs
Labels: aphrodite

#5013 Add tooltip to path & movie title on the movie index table view
  frontend/src/Components/Table/Cells/VirtualTableRowCell.js
  frontend/src/Movie/Index/Table/MovieIndexRow.js
  frontend/src/Movie/MovieTitleLink.js
Labels: aphrodite, ui

#5014 Fix: Address issue with incorrect dates showing on the calendar agenda
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Agenda/AgendaEvent.js
  frontend/src/Calendar/Agenda/AgendaEventConnector.js
Labels: aphrodite, ui

#5039 Fix issue with the disk space label percents overlapping on small screens
  frontend/src/System/Status/DiskSpace/DiskSpace.js
  frontend/src/System/Status/DiskSpace/DiskSpaceConnector.js
Labels: aphrodite, ui

#5061 Fixed: Ignore files in subfolders during a manual import
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
Labels: aphrodite

#5008 New: Add icons for search results to indicate if it has been previous…
  frontend/src/Helpers/Props/icons.js
  frontend/src/InteractiveSearch/InteractiveSearchContent.js
  frontend/src/InteractiveSearch/InteractiveSearchRow.css
  frontend/src/InteractiveSearch/InteractiveSearchRow.js
  frontend/src/InteractiveSearch/InteractiveSearchRowConnector.js
  frontend/src/Movie/Details/MovieDetailsConnector.js
  frontend/src/Movie/History/MovieHistoryTableContentConnector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: aphrodite, ui

#4964 Add keyboard shortcuts and delete redirect
  frontend/src/Components/Page/Header/KeyboardShortcutsModalContent.js
  frontend/src/Components/keyboardShortcuts.js
  frontend/src/Movie/Delete/DeleteMovieModal.js
  frontend/src/Movie/Delete/DeleteMovieModalContentConnector.js
  frontend/src/Movie/Details/MovieDetails.js
  frontend/src/Movie/Index/MovieIndex.js
  frontend/src/Utilities/Constants/keyCodes.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: aphrodite, ui

#5068 Fix the grouping of movies on the same date in the calendar agenda view
  frontend/src/Calendar/Agenda/AgendaEvent.js
Labels: aphrodite, ui

#5071 Fix issue with arrow navigation from details working outside of the details page
  frontend/src/Movie/Details/MovieDetails.js
Labels: aphrodite, ui

#5080 Fix issue with arrow keys switching movie when using them inside a textbox (or any element really)
  frontend/src/Movie/Details/MovieDetails.js
Labels: ui, v3

#5076 Fix the sorting on the agenda to respect using all dates instead of only cinema date to sort
  frontend/src/Calendar/Agenda/Agenda.js
  frontend/src/Calendar/Agenda/AgendaEvent.css
  frontend/src/Calendar/Agenda/AgendaEvent.js
  frontend/src/Calendar/Agenda/AgendaEventConnector.js
  frontend/src/Calendar/Header/CalendarHeader.js
Labels: ui, v3
