Repository Radarr/Radarr, pull requests merged in 2021-06, with the labels that each got.

#6416 New: Activity Queue: Rename Timeleft column to Time Left
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI

#6373 Translations update from Weblate
  src/NzbDrone.Core/Localization/Core/da.json
  src/NzbDrone.Core/Localization/Core/de.json
  src/NzbDrone.Core/Localization/Core/fr.json
  src/NzbDrone.Core/Localization/Core/hu.json
  src/NzbDrone.Core/Localization/Core/pt.json
  src/NzbDrone.Core/Localization/Core/pt_BR.json
  src/NzbDrone.Core/Localization/Core/zh_CN.json
  src/NzbDrone.Core/Localization/Core/zh_Hans.json
Labels: Area: Languages

#6294 Add compatibility with the new Download Station API 'SYNO.DownloadStation2.Task'
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadStationTests/TorrentDownloadStationFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/DownloadStationTests/UsenetDownloadStationFixture.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApi.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/DownloadStation2Task.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DiskStationProxyBase.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxySelector.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV1.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV2.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DiskStationError.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DownloadStation2TaskInfoResponse.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Area: Download Clients, Status: Waiting for OP

#6423 Fixed: Migrate Legacy MediaInfo HDR token to VideoDynamicRange
  src/NzbDrone.Core/Datastore/Migration/196_legacy_mediainfo_hdr.cs
Labels: Area: Db-migration, Area: Organizer, Status: Ready for Review

#6420 Fixed: Corrected Naming Examples
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
Labels: Area: UI, Status: Ready for Review
