Repository Radarr/Radarr, pull requests merged in 2021-07, with the labels that each got.

#6471 Fixed: Notifiarr Health Issue Level [common]
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
Labels: Area: Notifications

#6453 Minor swagger docs fixes & improvements
  src/Radarr.Api.V3/swagger.json
Labels: Area: Documentation, Status: Ready for Review, Type: Documentation

#6446 Fixed: issue with DownloadStationTaskProxyV2 if no destination folder…
  src/NzbDrone.Core/Download/Clients/DownloadStation/DiskStationApi.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStation2SettingsLocationProxy.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Proxies/DownloadStationTaskProxyV2.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/Responses/DownloadStation2SettingsLocationResponse.cs
Labels: Status: Ready for Review

#6455 Fixed: Incorrectly Parsing [PublicHD] as Release Group
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#6424 Fixed: Support for additional Movie Editions
  src/NzbDrone.Core.Test/ParserTests/EditionParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser
