Repository Radarr/Radarr, pull requests merged in 2021-12, with the labels that each got.

#6806 fix erroneous logging for windows service on non-windows
  src/NzbDrone.Host/Bootstrap.cs
Labels: Status: Ready for Review

#6807 Fixed: Better wording of MissingFromDisk
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review

#6843 Fixed: Support movies with French in their title
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser, Status: Ready for Review

#6849 Better wording of MissingFromDisk
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review

#6820 Fixed: Get full path for download station instead of shared folder
  src/NzbDrone.Core/Download/Clients/DownloadStation/TorrentDownloadStation.cs
  src/NzbDrone.Core/Download/Clients/DownloadStation/UsenetDownloadStation.cs
Labels: Area: Download Clients, Status: Ready for Review

#6692 Fixed: Parsing of quality when release group contains Remux
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, sonarr-pull, Status: Ready for Review

#6854 New: OnApplicationUpdate Notifications
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/203_add_on_update_to_notifications.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Notifications/ApplciationUpdateMessage.cs
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/Mailgun/Mailgun.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/Notifiarr/Notifiarr.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Simplepush/Simplepush.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookApplicationUpdatePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/Radarr.Api.V3/Notifications/NotificationResource.cs
Labels: Area: Notifications, Area: DB Migration

#6557 Fixed hardsub detection for some specific cases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, Status: Ready for Review

#6800 Fixed: Escape Characters as needed for *znab queries
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabRequestGeneratorFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/NewznabRequestGenerator.cs
Labels: Area: Indexers, Status: Ready for Review

#6871 New: Support server notifications
  src/NzbDrone.Core.Test/HealthCheck/HealthCheckServiceFixture.cs
  src/NzbDrone.Core/HealthCheck/HealthCheckService.cs
  src/NzbDrone.Core/HealthCheck/ServerSideNotificationService.cs
Labels: Area: Notifications, Status: Ready for Review, prowlarr-pull

#6858 New: Link indexer to specific download client
  frontend/src/Components/Form/DownloadClientSelectInputConnector.js
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.js
  src/NzbDrone.Core.Test/Download/DownloadClientProviderFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadServiceFixture.cs
  src/NzbDrone.Core/Datastore/BasicRepository.cs
  src/NzbDrone.Core/Datastore/Migration/205_download_client_per_indexer.cs
  src/NzbDrone.Core/Download/DownloadClientProvider.cs
  src/NzbDrone.Core/Download/DownloadService.cs
  src/NzbDrone.Core/Indexers/IndexerDefinition.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/ThingiProvider/IProviderFactory.cs
  src/NzbDrone.Core/ThingiProvider/ProviderFactory.cs
  src/Radarr.Api.V3/Indexers/IndexerResource.cs
Labels: Area: Indexers, Area: Download Clients, Area: DB Migration

#6809 Fixed: Various Translations
  frontend/src/Activity/Blocklist/Blocklist.js
  frontend/src/Components/Filter/Builder/FilterBuilderModalContent.js
  frontend/src/InteractiveImport/Language/SelectLanguageModalContent.js
  frontend/src/InteractiveImport/ReleaseGroup/SelectReleaseGroupModalContent.js
  frontend/src/Movie/MovieStatus.js
  frontend/src/Settings/DownloadClients/RemotePathMappings/RemotePathMappings.js
  frontend/src/Settings/ImportLists/ImportListExclusions/ImportListExclusions.js
  frontend/src/Settings/Indexers/Indexers/EditIndexerModalContent.js
  frontend/src/Settings/Profiles/Delay/DelayProfiles.js
  frontend/src/Settings/Quality/Definition/QualityDefinitions.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review

#6865 New: Add {MediaInfo VideoDynamicRangeType} token for renaming
  frontend/src/Settings/MediaManagement/Naming/NamingModal.js
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/MediaInfoFormatterTests/FormatVideoDynamicRangeTypeFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MediaInfo/VideoFileInfoReaderFixture.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/HdrFormat.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/MediaInfoFormatter.cs
  src/NzbDrone.Core/MediaFiles/MediaInfo/VideoFileInfoReader.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
  src/Radarr.Api.V3/MovieFiles/MediaInfoResource.cs
Labels: Area: Parser, Area: Organizer, Area: Scanning, Area: Tooling, Status: Ready for Review
