Repository Radarr/Radarr, pull requests merged in 2021-05, with the labels that each got.

#6278 Fixed: Incorrectly identifying YTS.LT as Lithuanian Language
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#6218 Pull Sonarr commit 'New: Allow user to choose whether delay profile should apply to release of the highest enabled quality'
  frontend/src/Settings/Profiles/Delay/EditDelayProfileModalContent.js
  src/NzbDrone.Api/Profiles/Delay/DelayProfileResource.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/RssSync/DelaySpecificationFixture.cs
  src/NzbDrone.Core/Datastore/Migration/194_add_bypass_to_delay_profile.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/RssSync/DelaySpecification.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Delay/DelayProfile.cs
  src/Radarr.Api.V3/Profiles/Delay/DelayProfileResource.cs
Labels: Area: Db-migration

#6299 Fixed: Interactive Search Release Rejected tooltip no longer covers download button
  frontend/src/InteractiveSearch/InteractiveSearchRow.js
Labels: Area: UI

#6309 New: Telegram Notification - Add Upgrade Movie Support
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
Labels: Area: Notifications

#6354 Fixed: Clarify delay profile bypass only applies to preferred protocol
  src/NzbDrone.Core/Localization/Core/en.json
Labels: sonarr-pull
