Repository Radarr/Radarr, pull requests merged in 2021-03, with the labels that each got.

#5984 New: On Movie Delete and On Movie File Delete Notifications
  frontend/src/Settings/Notifications/Notifications/Notification.js
  frontend/src/Settings/Notifications/Notifications/NotificationEventItems.js
  frontend/src/Store/Actions/Settings/notifications.js
  src/NzbDrone.Api/Notifications/NotificationModule.cs
  src/NzbDrone.Api/Notifications/NotificationResource.cs
  src/NzbDrone.Core.Test/NotificationTests/NotificationBaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/192_add_on_delete_to_notifications.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/MediaFiles/Events/DeleteCompletedEvent.cs
  src/NzbDrone.Core/MediaFiles/MediaFileDeletionService.cs
  src/NzbDrone.Core/Notifications/Boxcar/Boxcar.cs
  src/NzbDrone.Core/Notifications/CustomScript/CustomScript.cs
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/DiscordNotifier/DiscordNotifier.cs
  src/NzbDrone.Core/Notifications/Email/Email.cs
  src/NzbDrone.Core/Notifications/Gotify/Gotify.cs
  src/NzbDrone.Core/Notifications/INotification.cs
  src/NzbDrone.Core/Notifications/Join/Join.cs
  src/NzbDrone.Core/Notifications/MovieDeleteMessage.cs
  src/NzbDrone.Core/Notifications/MovieFileDeleteMessage.cs
  src/NzbDrone.Core/Notifications/NotificationBase.cs
  src/NzbDrone.Core/Notifications/NotificationDefinition.cs
  src/NzbDrone.Core/Notifications/NotificationFactory.cs
  src/NzbDrone.Core/Notifications/NotificationService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServer.cs
  src/NzbDrone.Core/Notifications/Prowl/Prowl.cs
  src/NzbDrone.Core/Notifications/PushBullet/PushBullet.cs
  src/NzbDrone.Core/Notifications/Pushover/Pushover.cs
  src/NzbDrone.Core/Notifications/SendGrid/SendGrid.cs
  src/NzbDrone.Core/Notifications/Slack/Slack.cs
  src/NzbDrone.Core/Notifications/Synology/SynologyIndexer.cs
  src/NzbDrone.Core/Notifications/Telegram/Telegram.cs
  src/NzbDrone.Core/Notifications/Trakt/Trakt.cs
  src/NzbDrone.Core/Notifications/Trakt/TraktService.cs
  src/NzbDrone.Core/Notifications/Twitter/Twitter.cs
  src/NzbDrone.Core/Notifications/Webhook/Webhook.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookEventType.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovieDeletePayload.cs
  src/NzbDrone.Core/Notifications/Webhook/WebhookMovieFileDeletePayload.cs
  src/NzbDrone.Core/Notifications/Xbmc/Xbmc.cs
  src/Radarr.Api.V3/Notifications/NotificationResource.cs
Labels: db-migration, sonarr-pull

#6079 Fixed: Qbittorrent api errors when only one of two seed criteria was configured
  src/NzbDrone.Common.Test/Http/HttpClientFixture.cs
  src/NzbDrone.Common/Http/HttpClient.cs
  src/NzbDrone.Common/Http/HttpRequest.cs
  src/NzbDrone.Common/Http/HttpRequestBuilder.cs
  src/NzbDrone.Core.Test/Download/DownloadClientTests/QBittorrentTests/QBittorrentFixture.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrent.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxySelector.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV1.cs
  src/NzbDrone.Core/Download/Clients/QBittorrent/QBittorrentProxyV2.cs
Labels: Area: Download Clients, Type: Bug, sonarr-pull

#6089 New: Health Check for Downloads to Root Folder [common]
  src/NzbDrone.Core.Test/HealthCheck/Checks/DownloadClientRootFolderCheckFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/DownloadClientRootFolderCheck.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Download Clients, enhancement
