Repository Radarr/Radarr, pull requests merged in 2021-08, with the labels that each got.

#6526 Fixed: Corrected Indexer Category Help Text
  src/NzbDrone.Core/Indexers/Newznab/NewznabSettings.cs
Labels: Area: Indexer, Area: UI

#6538 Fixed: Prevent conflicts with reserved device names
  src/NzbDrone.Core.Test/OrganizerTests/FileNameBuilderTests/ReservedDeviceNameFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: sonarr-pull, Status: Ready for Review

#6521 Aria2 RPC
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Containers.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Proxy.cs
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
Labels: Area: Download Clients, Status: Waiting for OP

#6549 add missing quality fixture test case
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
Labels: Area: Parser, Status: Ready for Review

#6562 update bug report [skip ci] [common]
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: Status: Ready for Review
