Repository Radarr/Radarr, pull requests merged in 2021-11, with the labels that each got.

#6710 Clarified Aria2 RPC Path field.
  src/NzbDrone.Core/Download/Clients/Aria2/Aria2Settings.cs
Labels: sonarr-pull

#6699 New: Support On Delete Notifications for Emby
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowser.cs
  src/NzbDrone.Core/Notifications/MediaBrowser/MediaBrowserSettings.cs
Labels: Area: Notifications, Status: Ready for Review

#6721 Update Bug Report Template [skip ci]
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: Status: Ready for Review

#6722 Fixed: Give a unique name to the cookie used by Radarr (and other arr apps)
  src/Radarr.Http/Authentication/AuthenticationBuilderExtensions.cs
Labels: Status: Waiting for OP

#6735 New: Removing rtorrent downloads when seeding criteria have been met
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrent.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrentProxy.cs
  src/NzbDrone.Core/Download/Clients/rTorrent/RTorrentTorrent.cs
  src/NzbDrone.Core/Download/DownloadSeedConfigProvider.cs
  src/NzbDrone.Core/Indexers/SeedConfigProvider.cs
Labels: Status: Waiting for OP

#5221 New: Support AKA release titles
  src/NzbDrone.Core.Test/DecisionEngineTests/PrioritizeDownloadDecisionFixture.cs
  src/NzbDrone.Core.Test/Download/DownloadApprovedReportsTests/DownloadApprovedFixture.cs
  src/NzbDrone.Core.Test/Download/Pending/PendingReleaseServiceTests/RemovePendingFixture.cs
  src/NzbDrone.Core.Test/Download/TrackedDownloads/TrackedDownloadServiceFixture.cs
  src/NzbDrone.Core.Test/MediaFiles/MovieImport/ImportDecisionMakerFixture.cs
  src/NzbDrone.Core.Test/MovieTests/MovieServiceTests/FindByTitleFixture.cs
  src/NzbDrone.Core.Test/ParserTests/HashedReleaseFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParserFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/AugmentersTests/AugmentMovieInfoFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/GetMovieFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/MapFixture.cs
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/ImportLists/RSSImport/RSSImportParser.cs
  src/NzbDrone.Core/MediaFiles/MovieImport/Manual/ManualImportService.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/MovieService.cs
  src/NzbDrone.Core/Parser/Augmenters/AugmentWithReleaseInfo.cs
  src/NzbDrone.Core/Parser/Model/ParsedMovieInfo.cs
  src/NzbDrone.Core/Parser/Parser.cs
  src/NzbDrone.Core/Parser/ParsingService.cs
  src/NzbDrone.Core/Parser/SceneChecker.cs
  src/NzbDrone.Core/Qualities/Quality.cs
  src/NzbDrone.Integration.Test/ApiTests/ReleaseFixture.cs
  src/Radarr.Api.V3/Indexers/ReleaseResource.cs
Labels: Status: Maybe One Day, conflict, Status: Waiting for OP, Status: Rebase Needed

#6770 readme updates [skip ci]
  README.md
Labels: Area: Documentation, Status: Ready for Review
