Repository Radarr/Radarr, pull requests merged in 2022-01, with the labels that each got.

#6803 Jackett All healthcheck and verification
  frontend/src/System/Status/Health/Health.js
  src/NzbDrone.Core.Test/HealthCheck/Checks/IndexerJackettAllCheckFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorznabTests/TorznabFixture.cs
  src/NzbDrone.Core/HealthCheck/Checks/IndexerJackettAllCheck.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: Indexers, Status: In Progress, Status: Waiting for OP

#6905 Add a width variable to posters on search page so everything is the same
  frontend/src/AddMovie/AddNewMovie/AddNewMovieSearchResult.js
Labels: Area: UI, Status: Ready for Review

#6959 Fixed: Various Translations
  frontend/src/System/Tasks/Queued/QueuedTaskRow.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review

#6964 fixed sonarr ref in UTorrentSettings
  src/NzbDrone.Core/Download/Clients/uTorrent/UTorrentSettings.cs
Labels: Status: Ready for Review

#6991 Fix Ukrainian language mappings
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
Labels: Type: Bug, Area: Languages

#6914 Fixed: Clarify Indexer Priority Helptext
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Status: Ready for Review
