Repository Radarr/Radarr, pull requests merged in 2022-04, with the labels that each got.

#7179 add 576 resolution back to simple title regex
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser, Status: Ready for Review

#6882 Check "Original" language Custom Format with the real original language
  src/NzbDrone.Core.Test/DecisionEngineTests/QueueSpecificationFixture.cs
  src/NzbDrone.Core.Test/ParserTests/ParsingServiceTests/AugmentersTests/AugmentWithOriginalLanguageFixture.cs
  src/NzbDrone.Core/CustomFormats/CustomFormatCalculationService.cs
  src/NzbDrone.Core/CustomFormats/Specifications/LanguageSpecification.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/QueueSpecification.cs
  src/NzbDrone.Core/Download/Pending/PendingReleaseService.cs
  src/NzbDrone.Core/Download/TrackedDownloads/TrackedDownloadService.cs
  src/NzbDrone.Core/Parser/Augmenters/AugmentWithOriginalLanguage.cs
Labels: Status: Ready for Review

#5707 Add support for Plex Watchlist importing
  src/NzbDrone.Core.Test/Files/plex_watchlist.json
  src/NzbDrone.Core.Test/ImportListTests/Plex/PlexParserFixture.cs
  src/NzbDrone.Core/ImportLists/ImportListType.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexImport.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexListSettings.cs
  src/NzbDrone.Core/ImportLists/Plex/PlexParser.cs
  src/NzbDrone.Core/Notifications/Plex/PlexMediaType.cs
  src/NzbDrone.Core/Notifications/Plex/PlexTv/PlexTvService.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexSectionItem.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerProxy.cs
  src/NzbDrone.Core/Notifications/Plex/Server/PlexServerService.cs
Labels: Area: Notifications, Status: Ready for Review
