Repository Radarr/Radarr, pull requests merged in 2022-05, with the labels that each got.

#7273 Fixed: Importing file from UNC shared folder without job folder
  src/NzbDrone.Core/Download/CompletedDownloadService.cs
Labels: sonarr-pull, Status: Ready for Review

#7270 New: Support for new Nyaa RSS Feed format
  src/NzbDrone.Core.Test/Files/Indexers/Nyaa/Nyaa2021.xml
  src/NzbDrone.Core.Test/IndexerTests/NyaaTests/NyaaFixture.cs
  src/NzbDrone.Core/Indexers/EzrssTorrentRssParser.cs
  src/NzbDrone.Core/Indexers/Nyaa/Nyaa.cs
  src/NzbDrone.Core/Indexers/TorrentRssParser.cs
Labels: Status: Ready for Review

#7283 New: Add optional Source Title column to history
  frontend/src/Activity/History/HistoryRow.js
  frontend/src/Store/Actions/historyActions.js
Labels: sonarr-pull, Status: Ready for Review

#7291 New: Parse QxR Group r00t
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Type: Feature Request, Area: Parser, Status: Ready for Review

#7296 Added term "brazilian" to Brazilian Portuguese regex
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser, Status: Ready for Review

#7154 New: Release Group Custom Format
  src/NzbDrone.Core/CustomFormats/Specifications/ReleaseGroupSpecification.cs
Labels: Area: UI, Status: Waiting for OP, Status: Don't Merge
