Repository Radarr/Radarr, pull requests merged in 2022-07, with the labels that each got.

#7352 New: adding a link to the themoviedb in import combobox
  frontend/src/AddMovie/ImportMovie/Import/SelectMovie/ImportMovieSearchResult.css
  frontend/src/AddMovie/ImportMovie/Import/SelectMovie/ImportMovieSearchResult.js
Labels: Area: UI

#7323 Fixed: Improved parsing WebDL Releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, sonarr-pull, Status: Ready for Review

#7416 Fixed: Notifiarr - Better HTTP Error Handling
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrProxy.cs
Labels: Area: Notifications

#7412 Match 'HQCAM' as CAM source
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, Status: Ready for Review

#7183 Fixed: Postgres timezone issues
  azure-pipelines.yml
  src/NuGet.config
  src/NzbDrone.Core.Test/Datastore/DatabaseFixture.cs
  src/NzbDrone.Core/Datastore/Migration/212_postgres_update_timestamp_columns_to_with_timezone.cs
  src/NzbDrone.Core/Radarr.Core.csproj
Labels: Area: Database

#7417 New: (Discord) Include Custom Formats & Score On Grab
  src/NzbDrone.Core/Notifications/Discord/Discord.cs
  src/NzbDrone.Core/Notifications/Discord/DiscordFieldType.cs
Labels: Type: Feature Request, Area: Notifications, Status: Ready for Review

#7418 New: Parse Group HONE | Fixed: Parse Group ZØNEHD
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser, Status: Ready for Review
