Repository Radarr/Radarr, pull requests merged in 2022-08, with the labels that each got.

#7468 Fixed: Remove Notifiarr Environment Option
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrEnvironment.cs
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrProxy.cs
  src/NzbDrone.Core/Notifications/Notifiarr/NotifiarrSettings.cs
Labels: Area: Notifications

#7448 Fixed: Tigole release group not being parsed and matched correctly, r…
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser

#6997 New: Add Slovak Language - Lang 35
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: conflict, Status: Waiting for OP, Status: Rebase Needed

#7455 Added: Ntfy provider for notifications.
  src/NzbDrone.Core/Notifications/Ntfy/Ntfy.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfyException.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfyPriority.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfyProxy.cs
  src/NzbDrone.Core/Notifications/Ntfy/NtfySettings.cs
Labels: Type: Feature Request, Area: Notifications
