Repository Radarr/Radarr, pull requests merged in 2023-07, with the labels that each got.

#8736 New: Add tags field to MovieCollection
  frontend/src/Collection/AddNewCollectionMovieModalContentConnector.js
  frontend/src/Collection/Edit/EditCollectionModalContent.js
  frontend/src/Collection/Edit/EditCollectionModalContentConnector.js
  src/NzbDrone.Core/Datastore/Migration/225_add_tags_to_collections.cs
  src/NzbDrone.Core/Movies/Collections/MovieCollection.cs
  src/NzbDrone.Core/Movies/RefreshCollectionService.cs
  src/NzbDrone.Core/Movies/RefreshMovieService.cs
  src/Radarr.Api.V3/Collections/CollectionResource.cs
Labels: Area: UI, Area: API, Area: Db-migration

#8718 Fixed: Quality Parsing Regex Improvements
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, Status: Ready for Review

#6891 Set frontend `theme-color` to sidebar color
  frontend/src/index.ejs
  frontend/src/login.html
Labels: Status: Ready for Review

#8768 Update API docs
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

#8743 Fixed: Handle client state of collection missingMovies
  frontend/src/Movie/Delete/DeleteMovieModalContentConnector.js
  frontend/src/Store/Actions/addMovieActions.js
  frontend/src/Store/Actions/movieActions.js
  frontend/src/Store/Actions/movieCollectionActions.js
Labels: Area: UI, Status: Ready for Review

#8794 More Import List Logging Improvements
  src/NzbDrone.Core/ImportLists/FetchAndParseImportListService.cs
Labels: Area: Import Lists, Status: Ready for Review

#8647 Fixed: Improve Kodi Library Update logging
  src/NzbDrone.Core/Notifications/Xbmc/XbmcService.cs
Labels: Status: Waiting for OP, Area: Notifications

#8770 New: Add pushsafer notification service
  src/NzbDrone.Core/Notifications/Pushsafer/Pushsafer.cs
  src/NzbDrone.Core/Notifications/Pushsafer/PushsaferPriority.cs
  src/NzbDrone.Core/Notifications/Pushsafer/PushsaferProxy.cs
  src/NzbDrone.Core/Notifications/Pushsafer/PushsaferSettings.cs
  src/NzbDrone.Core/Validation/RuleBuilderExtensions.cs
Labels: Area: Notifications
