Repository Radarr/Radarr, pull requests merged in 2023-08, with the labels that each got.

#8968 Update API docs
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

#8747 New: Convert restrictions to release profiles
  frontend/src/Components/Form/FormInputGroup.js
  frontend/src/Components/Form/IndexerSelectInputConnector.js
  frontend/src/Components/Form/TextTagInputConnector.js
  frontend/src/Helpers/Props/inputTypes.js
  frontend/src/Settings/Indexers/IndexerSettings.js
  frontend/src/Settings/Indexers/Restrictions/EditRestrictionModalContent.css
  frontend/src/Settings/Indexers/Restrictions/EditRestrictionModalContent.css.d.ts
  frontend/src/Settings/Indexers/Restrictions/Restriction.js
  frontend/src/Settings/Indexers/Restrictions/RestrictionsConnector.js
  frontend/src/Settings/Profiles/Profiles.css
  frontend/src/Settings/Profiles/Profiles.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModal.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalConnector.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.css
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.css.d.ts
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContent.js
  frontend/src/Settings/Profiles/Release/EditReleaseProfileModalContentConnector.js
  frontend/src/Settings/Profiles/Release/ReleaseProfile.css
  frontend/src/Settings/Profiles/Release/ReleaseProfile.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfile.js
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.css.d.ts
  frontend/src/Settings/Profiles/Release/ReleaseProfiles.js
  frontend/src/Settings/Profiles/Release/ReleaseProfilesConnector.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContent.js
  frontend/src/Settings/Tags/Details/TagDetailsModalContentConnector.js
  frontend/src/Settings/Tags/Tag.js
  frontend/src/Settings/Tags/TagsConnector.js
  frontend/src/Store/Actions/Settings/releaseProfiles.js
  frontend/src/Store/Actions/Settings/restrictions.js
  frontend/src/Store/Actions/settingsActions.js
  src/NzbDrone.Core.Test/Datastore/Migration/229_update_restrictions_to_release_profilesFixture.cs
  src/NzbDrone.Core.Test/DecisionEngineTests/ReleaseRestrictionsSpecificationFixture.cs
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupUnusedTagsFixture.cs
  src/NzbDrone.Core/Datastore/Migration/229_update_restrictions_to_release_profiles.cs
  src/NzbDrone.Core/Datastore/TableMapping.cs
  src/NzbDrone.Core/DecisionEngine/DownloadDecisionMaker.cs
  src/NzbDrone.Core/DecisionEngine/Specifications/ReleaseRestrictionsSpecification.cs
  src/NzbDrone.Core/Housekeeping/Housekeepers/CleanupUnusedTags.cs
  src/NzbDrone.Core/Localization/Core/en.json
  src/NzbDrone.Core/Profiles/Releases/PerlRegexFactory.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfile.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileRepository.cs
  src/NzbDrone.Core/Profiles/Releases/ReleaseProfileService.cs
  src/NzbDrone.Core/Profiles/Releases/TermMatcherService.cs
  src/NzbDrone.Core/Profiles/Releases/TermMatchers/CaseInsensitiveTermMatcher.cs
  src/NzbDrone.Core/Profiles/Releases/TermMatchers/ITermMatcher.cs
  src/NzbDrone.Core/Profiles/Releases/TermMatchers/RegexTermMatcher.cs
  src/NzbDrone.Core/Restrictions/Restriction.cs
  src/NzbDrone.Core/Restrictions/RestrictionRepository.cs
  src/NzbDrone.Core/Restrictions/RestrictionService.cs
  src/NzbDrone.Core/Restrictions/TermMatcher.cs
  src/NzbDrone.Core/Tags/TagDetails.cs
  src/NzbDrone.Core/Tags/TagService.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileController.cs
  src/Radarr.Api.V3/Profiles/Release/ReleaseProfileResource.cs
  src/Radarr.Api.V3/Restrictions/RestrictionController.cs
  src/Radarr.Api.V3/Restrictions/RestrictionResource.cs
  src/Radarr.Api.V3/Tags/TagDetailsResource.cs
Labels: Area: UI, Area: API, Area: Db-migration

#9017 Update API docs
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

#8883 fix(parser): not correctly recognizing YIFY RlsGrp
  src/NzbDrone.Core.Test/ParserTests/ReleaseGroupParserFixture.cs
  src/NzbDrone.Core/Parser/Parser.cs
Labels: Area: Parser, Status: Ready for Review

#8947 New: Default RSS Sync Interval to 30 minutes
  src/NzbDrone.Core.Test/Configuration/ConfigServiceFixture.cs
  src/NzbDrone.Core/Configuration/ConfigService.cs
Labels: Status: Ready for Review, Type: Enhancement

#8643 Correctly Parse German Scene Bluray REMUXes
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

#9065 Update API docs
  src/Radarr.Api.V3/openapi.json
Labels: Area: API

#9073 New: Cleanup Alternative Title model and code
  frontend/src/Movie/Details/Titles/MovieTitlesRow.js
  frontend/src/Movie/Details/Titles/MovieTitlesTableContent.js
  src/NzbDrone.Core.Test/Housekeeping/Housekeepers/CleanupOrphanedAlternativeTitlesFixture.cs
  src/NzbDrone.Core.Test/MovieTests/AlternativeTitleServiceTests/AlternativeTitleFixture.cs
  src/NzbDrone.Core/Datastore/Migration/216_clean_alt_titles.cs
  src/NzbDrone.Core/MetadataSource/SkyHook/SkyHookProxy.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitle.cs
  src/NzbDrone.Core/Movies/AlternativeTitles/AlternativeTitleRepository.cs
  src/Radarr.Api.V3/Movies/AlternativeTitleResource.cs
Labels: Area: UI, Area: API, Area: Db-migration

#9074 Update API docs
  src/Radarr.Api.V3/openapi.json
Labels: Area: API
