Repository Radarr/Radarr, pull requests merged in 2023-05, with the labels that each got.

#8410 Fixed: Missing Translates
  frontend/src/Components/Modal/ModalError.js
  frontend/src/Components/Page/PageContentError.js
  frontend/src/Movie/Details/MovieDetailsPageConnector.js
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI, Status: Ready for Review

#8445 Fixed: Movie Status in Table View
  frontend/src/Movie/Index/Table/MovieIndexRow.tsx
Labels: Area: UI, Status: Ready for Review

#8591 added new language "Telugu" for filtering releases and testcases.
  src/NzbDrone.Core.Test/Languages/LanguageFixture.cs
  src/NzbDrone.Core.Test/ParserTests/IsoLanguagesFixture.cs
  src/NzbDrone.Core.Test/ParserTests/LanguageParserFixture.cs
  src/NzbDrone.Core/Languages/Language.cs
  src/NzbDrone.Core/Parser/IsoLanguages.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: Area: Parser, Status: Ready for Review

#8624 Fix: Use relative paths instead of absolute paths for webmanifest
  frontend/src/Content/Images/Icons/manifest.json
Labels: Area: UI

#8595 Correctly parse SCENE and P2P BluRay DISKS releases
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser, Status: Waiting for OP

#8639 Parse Multi Disk DVDs & MDVDR
  src/NzbDrone.Core.Test/ParserTests/QualityParserFixture.cs
  src/NzbDrone.Core/Parser/QualityParser.cs
Labels: Area: Parser

#8646 New: Remove Rarbg Indexer due to site shutdown
  src/NzbDrone.Core.Test/Files/Indexers/Rarbg/RecentFeed_v1.json
  src/NzbDrone.Core.Test/Files/Indexers/Rarbg/RecentFeed_v2.json
  src/NzbDrone.Core.Test/IndexerTests/RarbgTests/RarbgFixture.cs
  src/NzbDrone.Core/Datastore/Migration/222_remove_rarbg.cs
  src/NzbDrone.Core/Indexers/Rarbg/Rarbg.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgParser.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgRequestGenerator.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgResponse.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgSettings.cs
  src/NzbDrone.Core/Indexers/Rarbg/RarbgTokenProvider.cs
Labels: Area: Db-migration, Area: Indexer
