Repository Radarr/Radarr, pull requests merged in 2023-04, with the labels that each got.

#8279 Locks to 1 decimal place instead of infinite
  frontend/src/DiscoverMovie/Overview/DiscoverMovieOverviewInfo.js
Labels: Area: UI

#8325 Fixed: Include Digital Only Releases for Recent Movie determination
  src/NzbDrone.Core/Movies/MovieMetadata.cs
Labels: Status: Ready for Review

#8037 Update library clean helptext
  src/NzbDrone.Core/Localization/Core/en.json
Labels: Area: UI, Status: Ready for Review

#8146 Fixed: Remote path mapping UI being partially hidden on smaller screens
  frontend/src/Settings/DownloadClients/RemotePathMappings/RemotePathMapping.css
  frontend/src/Settings/DownloadClients/RemotePathMappings/RemotePathMappings.css
Labels: Area: UI, Status: Ready for Review

#8364 New: (Notifications) Add Apprise
  src/NzbDrone.Core/Notifications/Apprise/Apprise.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseError.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseException.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseNotificationType.cs
  src/NzbDrone.Core/Notifications/Apprise/ApprisePayload.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseProxy.cs
  src/NzbDrone.Core/Notifications/Apprise/AppriseSettings.cs
Labels: Area: Notifications, Status: Ready for Review

#8383 Fix tags for existing subtitle files getting lost in renaming
  src/NzbDrone.Core/Extras/Subtitles/ExistingSubtitleImporter.cs
  src/NzbDrone.Core/Extras/Subtitles/SubtitleService.cs
  src/NzbDrone.Core/Parser/LanguageParser.cs
Labels: sonarr upstream, Status: In Progress, Status: Ready for Review

#8408 Fixed: Ensure first history item when marked as failed is the selected item
  src/NzbDrone.Core/Download/FailedDownloadService.cs
Labels: sonarr-pull, Status: Ready for Review
