Repository Radarr/Radarr, pull requests merged in 2023-02, with the labels that each got.

#4509 remove initial dot in filename
  src/NzbDrone.Core.Test/OrganizerTests/CleanFixture.cs
  src/NzbDrone.Core/Organizer/FileNameBuilder.cs
Labels: Status: Maybe One Day, Area: Organizer, Status: Ready for Review

#8085 Add Ireland as a Certification Country
  frontend/src/Settings/Metadata/Options/MetadataOptions.js
  src/NzbDrone.Core/MetadataSource/SkyHook/Resource/TMDbCountryCode.cs
Labels: Status: Ready for Review

#8090 New: Use Best PageSize for Newznab/Torznab
  src/NzbDrone.Core.Test/IndexerTests/NewznabTests/NewznabFixture.cs
  src/NzbDrone.Core.Test/IndexerTests/TorznabTests/TorznabFixture.cs
  src/NzbDrone.Core/Indexers/Newznab/Newznab.cs
  src/NzbDrone.Core/Indexers/Torznab/Torznab.cs
Labels: sonarr-pull, Status: Ready for Review, Area: Indexer
