Repository Radarr/Radarr, pull requests merged in 2025-08, with the labels that each got.

#11153 Don't log debug messages for API key validation
  src/NzbDrone.Common/Instrumentation/NzbDroneLogger.cs
  src/NzbDrone.Host/Startup.cs
Labels: sonarr-pull, Status: Ready for Review

#11194 New: Add Year sorting to Discover page
  frontend/src/DiscoverMovie/Menus/DiscoverMovieSortMenu.js
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieHeader.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.css.d.ts
  frontend/src/DiscoverMovie/Table/DiscoverMovieRow.js
  frontend/src/Store/Actions/discoverMovieActions.js
Labels: Area: UI

#11187 New: Select with poster click in movie selection
  frontend/src/Movie/Index/Posters/MovieIndexPoster.tsx
Labels: Area: UI, sonarr upstream

#11201 Fixed: TMDb List Paging
  src/NzbDrone.Core/ImportLists/HttpImportListBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/List/TMDbListRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/Popular/TMDbPopularRequestGenerator.cs
  src/NzbDrone.Core/ImportLists/TMDb/TMDbImportBase.cs
  src/NzbDrone.Core/ImportLists/TMDb/User/TMDbUserRequestGenerator.cs
Labels: Area: Import Lists
